<div class="support-container" >
    <div class="container flex">
    <div class="content-container">
        <div class="box-1-container">
          <div class="box-head"><span class="header-title">Bookmarks</span></div>
          <div class="box-body"> 
              <div class="content-box">
                  <div class="option">
                <div class="option-container flex">
                  <div class="flex option-text"><i class="right-arrow"></i><span class="option-name">Proposal</span></div>
                  <div class="action"><mat-icon class="gray">drag_indicator</mat-icon></div>
                </div>
              </div>
              <div class="option">
                <div class="option-container flex">
                    <div class="flex option-text"><i class="right-arrow"></i><span class="option-name">GAP Analysis</span></div>
                    <div class="action"><mat-icon class="gray">drag_indicator</mat-icon></div>
                  </div></div>
                    <div class="option">
                  <div class="option-container flex">
                      <div class="flex option-text"><i class="right-arrow"></i><span class="option-name">Investment Policy Statement</span></div>
                      <div class="action"><mat-icon class="gray">drag_indicator</mat-icon></div>
                    </div></div>
                    <div class="option">
                        <div class="option-container flex">
                            <div class="flex option-text"><i class="right-arrow"></i><span class="option-name">Portfolio Allocation Statement</span></div>
                            <div class="action"><mat-icon class="gray">drag_indicator</mat-icon></div>
                          </div></div>
             
              </div>
          </div>
        </div>
    </div>
    </div>
    </div>