.fcol {
	display:flex;
	flex-direction: row;
}
.frow {
	display:flex;
	flex-direction: column;
}
.fitem {
	flex:1;
}
.fsbet {
	justify-content: space-between;
}

.box-container{
    z-index: 70;
    top: 50px;
    @media only screen and (max-width: 767px){
        padding: 0px 10px;
        top: 110px;
    }
	.box-content{
	    box-shadow: 0 15px 30px 0 rgba(65, 64, 66, 0.2);
	    border-radius: 6px;
	    background-color: white;
	    margin: auto;
	    min-width: 355px;
	    @media only screen and (max-width: 767px){
	        width: 100%;
	    }
	    .box-head{
	        background-color: #1598cb;
	        border-radius: 6px 6px 0px 0px;
	        padding: 13px 30px;
	        display: flex;
	        align-items: center;
	        justify-content: space-between;
	        @media only screen and (max-width: 767px){
	            padding: 10px;
	        }
	        .left-section{
                .box-title{
	                display: flex;
	                flex-direction: column;
	                align-items: flex-start;
	                .text-title{
	                    font-family: "Montserrat",sans-serif;
	                    font-size: 20px;
	                    font-weight: 600;
	                    font-style: normal;
	                    font-stretch: normal;
	                    line-height: 1;
	                    letter-spacing: 0.2px;
	                    color: #ffffff;
	                }
	                .text-subtitle{
	                    font-family: "museo-sans";
	                    font-size: 16px;
	                    font-weight: 300;
	                    font-style: normal;
	                    font-stretch: normal;
	                    line-height: 1.13;
	                    letter-spacing: -0.2px;
	                    color: #ffffff;
	                }
	            }
	        }
	    }
	    .box-body{
            display: flex;
            flex-direction: column;
            padding: 40px 50px;
            span {
            	text-transform: uppercase;
            	font-weight:700;
            	font-family: "Montserrat",sans-serif;
            }
            img {
            	max-width:580px;
            	width:100%;
            }
        }
	}
}