
                <section id="content" style="padding: 20px 0px 40px 100px; display: flex;">
                    <div style="display: block;">
                        <div><span class="p-text-small">ASSESSED TARGET RISK</span></div>
                        <div><span class="p-text-big">Capital Appreciation: 72-86 (74)</span></div>
                    </div>
                    <div style="position: absolute; display: flex; right: 70px;">
                        <div><span class="p-text-small uppercase vertical-middle">Target Risk Option:</span></div>
                        <div style="display: block; padding-left:150px;" class="space-left">
                          <button class="btn-cap-app">
                            <div><span class="p-text-small"> Capital Appreciation: </span></div> 
                            <div ><span class="uppercase p-text-small-blue"> Risk score range:<strong> 72-86 </strong> </span></div> 
                          </button>
                        </div>
                      </div>
                 </section>

            
             <section id="portfolio-box" style="display:block;padding-bottom: 20px">
                <div class="portfolio-box-container" style="display:block; width: 90%; height: auto; margin: 0 auto; ">
                    <header class="flex border-radius-top" style=" position: relative; height:65px; background-color: #1598cb; ">
                     <div class="vertical-middle" style=" padding-left: 30px;">
                      <div>
                      <span class=" text-normal-bold">Select Portfolio</span>
                      </div> 
                      <div>
                      <span class="text-white-xsmall"> Select, View, and Modify Portfolios </span>
                      </div>

                      </div>

                      <div class="vertical-middle" style=" right: 2%; display: flex;">
                          <input type="text" class="search-input" placeholder="Search"/>
                          <button class="filter-btn"> FILTER </button>
                      </div>
                     </header>

                      <div>
                          <table >
                              <thead>
                              <tr class="last">
                                <th class="align-center">Select</th>
                                <th class="align-left">Portfoli Name</th>
                                <th class="align-right">Target Risk Score</th>
                                <th class="align-left" > Portfolio Group</th>
                                <th class="align-center">Actions</th>
                                
                              </thead>
              
                             <tbody>
                                <tr>
                                    <td class="align-center"><input type="radio" class="radio"></td>
                                    <td>Example Advisor Capital Appreciation - Sustainability</td>
                                    <td class="align-right" ><p>Capital Appreciation</p> Risk Score: 87-100 (80) </td>
                                    <td >Example Advisor Portfolios</td>
                                    <td class="align-center">action button</td>
                                  </tr>

                                  <tr>
                                      <td  class="align-center"><input type="radio" class="radio"></td>
                                      <td>Example Advisor Capital Appreciation - Sustainability</td>
                                      <td class="align-right"><p>Capital Appreciation</p> Risk Score: 87-100 (80) </td>
                                      <td>Example Advisor Portfolios</td>
                                      <td class="align-center">action button</td>
                                    </tr>

                                <tr>
                                    <td  class="align-center"><input type="radio" class="radio"></td>
                                    <td>Example Advisor Capital Appreciation - Sustainability</td>
                                    <td class="align-right"><p>Capital Appreciation</p> Risk Score: 87-100 (80) </td>
                                    <td>Example Advisor Portfolios</td>
                                    <td class="align-center">action button</td>
                                  </tr>

                                  <tr>
                                      <td  class="align-center"><input type="radio" class="radio"></td>
                                      <td>Example Advisor Capital Appreciation - Sustainability</td>
                                      <td class="align-right"><p>Capital Appreciation</p> Risk Score: 87-100 (80) </td>
                                      <td>Example Advisor Portfolios</td>
                                      <td class="align-center">action button</td>
                                    </tr>

                                    <tr class="last">
                                        <td  class="align-center"><input type="radio" class="radio"></td>
                                        <td>Example Advisor Capital Appreciation - Sustainability</td>
                                        <td class="align-right"><p>Capital Appreciation</p> Risk Score: 87-100 (80) </td>
                                        <td>Example Advisor Portfolios</td>
                                        <td class="align-center">action button</td>
                                      </tr >
                              
                             
                              </tbody>
                              </table>
                        </div>
    
                    </div>
                 </section>

