<div class="tab-title-mobile"><div><span class="title-text-mobile"> Portfolio </span></div></div>
<div class="overlay"></div>
<div class="modal-container">
    <i class="exit"></i>
    <div class="modal-warn-box">
        <div class="content">
            <i class="warning-icon"></i>
            <span>To View/Modify the Specifics of this Portfolio, Please View on a Tablet or Desktop.</span>
            <button class="btn-back">Back</button>
        </div>
    </div>
</div>
<div id="content" class="row-1">
    <div class="row-1-content">
        <div class="left-section">
            <div><span class="p-text-small">ASSESSED TARGET RISK</span></div>
            <div><span class="p-text-big">Capital Appreciation: 72-86 (74)</span></div>
        </div>
        <div class="right-section">
        <div class="right-section-content">
            <div class="target-text vertical-middle"><span class="p-text-small uppercase">Target Risk Option:</span></div>
            <div class="btn-container space-left dropdown">
                <button class="btn-cap-app">
                    <div><span class="p-text-small"> Capital Appreciation: </span></div> 
                    <div><span class="uppercase p-text-small-blue"> Risk score range:<strong> 72-86 </strong> </span></div> 
                </button>
                <div class="dropdown-content">
                    <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
                    <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
                    <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
                    <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
                    <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
            
<div id="portfolio-box" class="portfolio-box">
    <div class="portfolio-box-container">
        <header class="header flex border-radius-top">
            <div class="box-head">
            <div class="header-left-section">
                <div>
                    <span class=" text-normal-bold">Select Portfolio</span>
                </div> 
                <div>
                    <span class="text-white-xsmall"> Select, View, and Modify Portfolios </span>
                </div>
            </div>
            <div class="header-right-section">
                <div class="text-box"><input type="text" class="search-input" placeholder="Search Portfolio Name"></div>

                <div class="btn-filter-container">
                    <app-dropdown-filter></app-dropdown-filter>
                </div>
            </div>
        </div>
        </header>
        <div class="box-body">
            <table >
                <thead>
                    <tr class="last">
                    <th class="align-center">Select</th>
                    <th class="align-left"><div class="vertical-middle">Portfolio Name <i class="material-icons">expand_more</i></div></th>
                    <th class="align-right"><span class="vertical-middle">Target Risk Score <i class="material-icons">expand_more</i></span></th>
                    <th class="align-left" ><div class="vertical-middle">Portfolio Group <i class="material-icons">expand_more</i></div></th>
                    <th class="align-center">Actions</th>
                </thead>
                <tbody>
                <tr>
                    <td class="align-center"><mat-radio-button></mat-radio-button></td>
                    <td>Example Advisor Capital Appreciation - Sustainability</td>
                    <td class="align-right" ><p>Capital Appreciation</p> Risk Score: <b>87-100 (80) </b></td>
                    <td >Example Advisor Portfolios</td>
                    <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
                </tr>
                <tr>
                    <td  class="align-center"><mat-radio-button></mat-radio-button></td>
                    <td>Example Advisor Capital Appreciation - Sustainability</td>
                    <td class="align-right"><p>Capital Appreciation</p> <span>Risk Score: <b>87-100 (80) </b></span> </td>
                    <td>Example Advisor Portfolios</td>
                    <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
                </tr>
                <tr>
                    <td  class="align-center"><mat-radio-button></mat-radio-button></td>
                    <td>Example Advisor Capital Appreciation - Sustainability</td>
                    <td class="align-right"><p>Capital Appreciation</p> Risk Score: <b>87-100 (80) </b></td>
                    <td>Example Advisor Portfolios</td>
                    <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

