@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,600,800,900');
// @import url('~@angular/material/prebuilt-themes/indigo-pink.css');
$primaryfont : 'montserrat', sans-serif;
$secondaryfont : 'museo-sans', calibri;
.tab-title-mobile {
    display:none;
    @media only screen and (max-width: 767px){
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px 0 rgba(64, 64, 65, 0.1);
        background-color: #ffffff;
        z-index: 30;
        position: relative;
        .title-text-mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size:15px;
            background: #fafbfc; 
            font-family: 'Montserrat', sans-serif;
            color:#1598cb;
            font-weight: bold; 
            padding:10px 0px; 
            flex:1 ;
            text-align: center; 
        }
    }
}
.overlay{
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.8); /* Black background with opacity */
    z-index: 35; /* Specify a stack order in case you're using a different order for other elements */
    @media only screen and (max-width: 767px){
        // display: flex;
    }
}
.modal-container{
    position: absolute;
    display: none; //WARNING MODAL SET TO FLEX
    align-items: center;
    justify-content: center;
    z-index:40;
    width: 100%;
    @media only screen and (max-width:767px){
        // display: flex;
    }
    .exit{
        position: absolute;
        top: 10px;
        right: 10px;
        width:20px;
        height:20px;
        content: url("../../../assets/component/portfolio/exit-white.png");
    }
    .modal-warn-box{
        padding: 0px 20px;
        flex: 1;
        border-radius: 6px;
        box-shadow: 0 15px 30px 0 rgba(65, 64, 66, 0.2);
        background-color: #1598cb;
        display: flex;
        justify-content: center;
        .content{
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 33px 30px 40px 30px;
            .warning-icon{
                width:40px;
                content: url("../../../assets/component/portfolio/warning.png");
            }
            span{
                margin-top: 24px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.07;
                letter-spacing: -0.8px;
                text-align: center;
                color: #ffffff;
            }
            button{
                margin-top:30px;
                border-radius: 6px;
                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
                background-color: #ffffff;
                border:none;
                padding: 15px 60px;
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                color: #77787b;
                text-transform: uppercase;
            }
        }

    }
}
.row-1 {
    display: flex;
    align-items: center;
    padding: 30px 90px;
    background:  #fafbfc;
    @media only screen and (max-width:767px){
        padding: 0px;
    }
    .row-1-content{  
        flex:1;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width:767px){
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
        }
        .left-section {
            display: flex;
            flex-direction: column;
        }
        .space-left{
            padding-left: 1.5em;
            @media only screen and (max-width: 767px){
                padding-left: 0px;
            }
        }
        .right-section{
            display: flex;
            align-items: center;
        }
        .right-section-content {
            display: flex;
            flex-direction: row;
            @media only screen and (max-width:767px){
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            flex: 1;
            }
            .target-text{
                width: 100%;
            }
        }
    }

}
.header-container{
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 12px 0 rgba(64, 64, 65, 0.2);
    z-index: 9999999;
    background-color: #ffffff;
    display: flex;

    .header-mask {
        padding:60px 0px 0px 60px;
        z-index: 99;
        width: 100%;
        height: 220px;
        box-shadow: 0 4px 10px 0 rgba(65, 64, 66, 0.18);
        background-image: linear-gradient(to left, #4db6c5, #1598cb);
    }
    .title-container {
        display: inline-block;
        width: auto;
 
       
    }
    .line { 
        margin-top: 10px;
        width: auto;
        height: 1px;
        border-bottom: solid 3px #74c2cf;
      
    }

    .space {
        margin-top: 10px;
    }

    .padding-right-50 {
        padding-right: 50px;
    }


    
    .proposed-value-box {
        position: absolute;
        top: 60px ;
        right: 220px;
        text-align: right;
    }

    //Text Style//

    .text-small-light {  
        
        font-family:'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        color: #ffffff;}

    .text-big-light {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -1px;
        color: #ffffff;
    }

    
    .text-normal {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 1px;
        color: #ffffff;
    }
    .text-normal-bold {
        margin: 0;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0px;
        color: #ffffff;
    }

    //Dropdown
    .status-container{
        margin-top:30px;
        display: flex;
    }
    .dropbtn {
        width: 200px;
        height: 40px;
        text-align: left;
        background-color: transparent;
        color: white;
        font-size: 12px;
        font-weight: 100;
        border-radius: 6px;
        border: solid 1px #ffffff;
        cursor: pointer;
     }


    .icon{
        position: absolute;
        margin-top: -1px;
        width: 15px;
        height: 15px;
        // content: url('../../../assets/component/accounts-header/household-white.png');
    }
    .icon-progress{
        position: absolute;
        width: 8px;
        height: 12px;
        margin-top: 1px;
        padding-left: 5px;
      
        // content: url('../../../assets/component/accounts-header/status-in-progress-white@3x.png');
    }

    .icon-check{
        position: absolute;
        width: 8px;
        height: 12px;
        margin-top:-1px;
        margin-left: -2px;
        padding-left: 5px;
      
        // content: url('../../../assets/component/Portfolio/state-active-white@3x.png');
    }

    .logo-holder{flex:2;padding: 5px}

    .header-components{
        flex: 1;
        display: flex;
        padding: 5px;

        .header-search-bar{
            position: relative;
            padding: 10px;

            .btn-search {
                width: 18px;
                height: 19px;
                -o-object-fit: contain;
                object-fit: contain;
                position: absolute;
                left: 15px;
                top: 20px;
                border: none;
                background: transparent;
                outline: none;

                img{
                    object-fit: contain;
                    width: 25px;
                    height: 25px
                }
            }

            .search-input{
                right: 0;
                width: 349px;
                height: 40px;
                border-radius: 6px;
                border: solid 1px #e7e6e6;
                background-color: #ffffff;
                padding-left: 40px;
                font-family: "museo-sans", calibri;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #c5c5c5;
            }
    
            .notification-bell{
                position: relative;
                width: 45px;
                height: 45px;
                object-fit: contain;
                
            }
    
            .noti-badge{
                position: absolute;
                top: 11px;
                right: 11.5px;
                width: 18px;
                height: 18px;
                color: white;
                text-align: center;
                font-size: 7pt;
                line-height: 15pt;
            }

            .avtr-img {
                position: relative;
                top: -10px;
                width: 65px;
                height: 70px;
                object-fit: contain;
              }
    
            .btn-drop{
                position: absolute;
                width: 10px;
                height: 10px;
                text-align: center;
                background-color: transparent;
                outline: none;
                border: none;
                right: 20px;
                top: 20px;
            }    
        }
    }


}
.header {
    background-color: #1598cb;
    padding: 10px 10px 10px 30px;
    @media only screen and (max-width: 767px){
        padding: 10px;
    }
.box-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    @media only screen and (max-width: 767px){
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        .filter-btn {
            display:none;
        }
        .text-box{
            margin-top: 10px;
            display: flex;
            width: 100%;
            .search-input{
                flex: 1;
            }
        }
   
    }
    .header-right-section{
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px){
            width: 100%;
        }
        ::placeholder{
            font-family: $secondaryfont;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #c5c5c5;
        }
        .text-box{
            input[type=text]{
                font-family: $secondaryfont;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: black;
            }
            .search-input{
                margin: 0px;
                display: flex;
                align-items: center;
            }
            .search-input{
                background: url(../../../assets/component/portfolio/search-gray.png) no-repeat scroll 15px 13px;
                background-color: white;
            }
        }
      
    }

}


}

    nav ul {
    padding: 0;
    margin: 0; 
    }

    #tab-full-width {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        letter-spacing: 1px;
        font-size:12px;
        display: table;
        width: 100%;
      
    }
    #tab-full-width li.selected {
        padding-bottom: 1px; 
        background-color: white;
        border-radius: 6px;
        margin: 1px;
          
    }
    #tab-full-width li {
        display: table-cell;
        background-color:white;
        z-index: 1;   
    }

    #tab-full-width li a {
        text-decoration: none;
        color: #c5c5c5;
    }

    #tab-full-width li.selected a {
        text-decoration: none;
        color: #1598cb;
      
        z-index: 99;
    }
    #tab-full-width a {
        display: block;
        border: collapse;
        text-align: center;
        padding: 30px 0px;
        border-left: solid 0.5px #e7e6e6;
    }
    li.no-left-border {
        border: none;
    }   
 
        .portfolio-box{
            margin-top: 20px;
            padding:0px 60px;
            height: 788px;
            @media only screen and (max-width: 767px){
                padding: 10px;
                height:auto;
            }
        }
        .portfolio-box-container {
             box-shadow: 0 0 12px 0 rgba(64, 64, 65, 0.2);
             border-radius: 0px 0px 6px 6px;
            }
        div.portfolio-container {
            border: 1px solid black;
            height: auto;
            }
        div.atr-content {
            display: inline-block;
            border: 1px solid red;
        }
        div.tro-content {
            position: absolute;
            top: 60px ;
            right: 220px;}
        .dropdownbtn {
            text-align: left;
            font-family: 'Montserrat', sans-serif;
            font-size: 10px;
            font-weight: 200;
        }
    

        // table
        table { 
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            table-layout: auto; 
            width: 100%;
            border-collapse: collapse; 
           
            background-color: #ffffff;

            @media only screen and (max-width:767px){
                th:nth-child(3),th:nth-child(4),
                td:nth-child(3),td:nth-child(4){
                    display: none;
                }
            }
            th:first-child
            {
                text-align: left;
                padding-left: 30px;
            }
            td:first-child{
                padding-left: 40px;
            }
            th:last-child{
                text-align: right;
                padding-right: 30px;
            }
            td:last-child{
                padding-right: 30px;
            }
          }
        
          th {        
            text-transform: uppercase;
            font-size:10px;
            background: #fafbfc; 
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.8px;
            color: #414042; 
            height: 47px;
        }
          td {
            font-family: $secondaryfont;
            font-size: 11px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #414042;
            height: 47px;
          }

        p{margin: 0;}

        tr {border-bottom: 1px solid #e7e6e6}

        tr:last-child {
            border-bottom: none;
        }
        
        
        .btn-account {  
            width: 233px;
            height: 45px;
            border-radius: 6px;
            box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            border: solid 1px #ffffff;
            background-color: #ffffff;}

             .btn-account-text {   
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.9px;
                color: #77787b; }
     
          
    //Portfolio

    .p-text-small-blue{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 10px;
        letter-spacing: 0.6px;
        text-align: center;
        color: #1598cb;
    }
    .p-text-small {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #414042;
    }
    .p-text-big {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height:1;
        letter-spacing: normal;
        text-align: center;
        color: #414042;
        
    }
    .dropdown{
        position: relative;
    }
    .dropdown.active .dropdown-content{
        display:inline-block;
    }
    .action-container{
        margin-right: 30px;
    }
    :host ::ng-deep .dropdown-actions{
        details{
            margin-right: 55px;
            @media only screen and (max-width: 767px){
                margin-right: 0px;
            }
    }
    }
    .dropdown-content{
        position: absolute;
        display:none;
        background-color: white;
        top:48px;
        z-index:10;
        min-width: 220px;
        border-radius: 6px;
        box-shadow: 0 4px 5px 0 rgba(64, 64, 65, 0.2);
        .dropdown-item{
            cursor:pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            padding: 10px 20px;
            &.disabled {
                cursor: not-allowed;
                *{
                    color: #e7e6e6;
                }
            }
        }
        .dropdown-item:not(.disabled):hover{
            background-color: #e7e6e6;
        }
        .dropdown-item:not(:last-child){
            border-bottom: 1px #ddd solid;
        }
        .dropdown-item:first-child{
            border-radius: 6px 6px 0px 0px;
        }
        .dropdown-item:last-child{
            border-radius: 0px 0px 6px 6px;
        }
    }
    
    .btn-container{
        display: flex;
        width:100%;
    }
    .btn-cap-app {
        margin: 0px;
        min-width: 220px;
        padding: 10px 20px;
        border: solid 0.5px #bdbdbd; 
        background: white;
        border-radius: 6px;
        text-align: left;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        @media only screen and (max-width:767px){
            margin-top: 8px;
        }
        div {
            display: flex;
            align-items: center;
        }
        .icon-dropdown{
            content: url(../../../assets/component/portfolio/arrow-gray.png);
            position: absolute;
            right: 15px;
        }
        
    }

    //Text Style//

    span.button-text-small {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
    }

    .title-small-dark {
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
    }

    .title-big-dark {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        font-weight: 300;
    }
    .text-small-light {  
        
        font-family:'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 2px;
        color: #ffffff;}

        .text-small-dark {  
        
            font-family:'Montserrat', sans-serif;
            font-size: 10px;
            font-weight: 200;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 2px;
            color: #ffffff;}

    .text-big-light {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -1px;
        color: #ffffff;
    }
    td.bold{
        font-weight:bold; 
    }
    td:nth-child(3){
        padding-right: 160px;
    }
    th:nth-child(3){
        display: flex;
        justify-content: flex-end;
        padding-right: 160px;
    }
    .text-normal {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;

        letter-spacing: 1px;
        color: #ffffff;
    }
    .text-normal-bold {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;

        letter-spacing: 0px;
        color: #ffffff;
    }
    .search-input{
       
        width: 240px;
        height: 45px;
        border-radius: 6px;
        border: solid 1px #e7e6e6;
        background-color: #ffffff;
        padding-left: 40px;
        font-family: $secondaryfont;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c5c5c5;
    }
    .btn-filter-container{
        @media only screen and (max-width: 767px){
            display:none;
        }
}
    .text-white-small {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    .text-white-xsmall {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.2px;
    }
    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
    }
    .align-left {
        text-align: left;
    }


    .flex {
        display: flex;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .border-radius-top {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .thin {
        font-weight: 100;
    }
    .ultralight {
        font-weight: 200;
    }
    .light {
        font-weight: 300;
    }
    .normal {
        font-weight: 300;
    }
    .semibold {
        font-weight: 600;
    }
    .bold {
        font-weight: 800
    }
    .ultrabold {
        font-weight: 900;
    }
    .letter-spacing-1 {
        letter-spacing: 1px;
    }
    .vertical-middle {
     display: flex;
     align-items: center;
     
    }
    .uppercase {
        text-transform: uppercase;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border:.50px solid #eee;
        border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
         top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }