<section class="container-display">
  <header>
    <div class="container  flex-2">
      <h2>Proposals by Household</h2>
    </div>
    <div class="container">
      <!-- <div class="padding-10">
        <button class="btn"><i class="btn-add-icon"></i>Add</button>
      </div>
      <div class="padding-left-right">
        <button class="btn"><i class="btn-search-gray"></i></button>
        <input type="text" class="input-search" placeholder="Search this page"/>
      </div>
      <div class="padding-left-right">
        <input type="text" class="input-filter" placeholder="FILTER"/>
        <button class="btn btn-width"><i class="btn-filter-down"></i></button>
      </div> -->
    </div>
  </header>
  <section>
    <div class="container">
      <div class="content">
   
          <!-- <table>
    
              <tr class="last heads">
                <th width="25%" class="align-left">Name<mat-icon>keyboard_arrow_down</mat-icon></th>
                <th width="5%" class="align-center">ID </th>
                <th class="align-left">Value</th>
                <th class="align-center">#</th>
                <th class="align-left">STATE/STATUS</th>
                <th class="align-right">CREATED</th>
                <th class="align-right">LAST UPDATED</th>
                <th class="align-center">ACTIONS</th> 
              </tr>
          
       
              <tr>
                  <td class="align-left">Candelaria Household</td>
                  <td class="align-center">3456</td>
                  <td class="align-left">$917,000.00</td>
                  <td class="align-center">2</td>
                  <td class="align-left">Active</td>
                  <td class="align-right"><p>7/31/2018 | 5:30 PM</p><p>By: Jennica Fernen</p></td>
                  <td class="align-right">Candelaria Household</td>
                  <td class="align-center">	<mat-icon>more_vert</mat-icon></td>
              </tr>
                
              <tr class="try">
                  <td style="padding-left: 5%; height:20px; border-right:none; background:linear-gradient(to right, transparent 15%, #f2fafc 0%);" class="align-left td-dropdown"><div style="">Candelaria Household</div></td>
                  <td class="align-center">3456</td>
                  <td class="align-left">$917,000.00</td>
                  <td class="align-center">2</td>
                  <td class="align-left">Active</td>
                  <td class="align-right"><p>7/31/2018 | 5:30 PM</p><p>By: Jennica Fernen</p></td>
                  <td class="align-right">Candelaria Household</td>
                  <td class="align-center">	<mat-icon>more_vert</mat-icon></td>
              </tr>

              <tr class="try">
                  <td style="padding-left: 5%; height:20px; border-right:none; background:linear-gradient(to right, transparent 15%, #f2fafc 0%);" class="align-left td-dropdown"><div style="">Candelaria Household</div></td>
                  <td class="align-center">3456</td>
                  <td class="align-left">$917,000.00</td>
                  <td class="align-center">2</td>
                  <td class="align-left">Active</td>
                  <td class="align-right"><p>7/31/2018 | 5:30 PM</p><p>By: Jennica Fernen</p></td>
                  <td class="align-right">Candelaria Household</td>
                  <td class="align-center">	<mat-icon>more_vert</mat-icon></td>
              </tr>
        
          
            </table> -->
    
        <section>
          <div class="container-item" *ngFor="let list of lists">
            <div class="table-row">
              <div class="flex-2 table-row-name">
                <a (click)="toggleContent()"><i class="toggle-icon"></i>{{ list.name }}</a> 
              </div>
              <div class="flex-1"><p>{{ list.id }}</p></div>
              <div class="flex-1"><p>{{ list.value }}</p></div>
              <div class="flex-1"><p>{{ list.num }}</p></div>
              <div class="flex-1"><p class="active-gray">{{ list.status }}</p></div>
              <div class="flex-1">
                <p>{{ list.created[0] }}</p>
                <span class="text-bold">by: {{ list.created[1] }}</span>
              </div>
              <div class="flex-1">
                <p>{{ list.updated[0] }}</p>
                <span class="text-bold">by: {{ list.updated[1] }}</span>
              </div>
              <div class="flex-1"><button class="btn"><i class="btn-three-dots-gray"></i></button></div>
            </div>
            <div class="table-row-toggle" *ngIf="!toggleActive">
              <div class="flex-2">Candelaria Proposal</div>
              <div class="flex-1">34567</div>
              <div class="flex-1">$ 800,000.00</div>
              <div class="flex-1"></div>
              <div class="flex-1">Implemented</div>
              <div class="flex-1">
                  <p>7/51/2018 | 5:30 PM</p>
                  <span>by: Jennica Fermin</span>
              </div>
              <div class="flex-1"><p>7/51/2018 | 5:30 PM</p>
                <p>by: Jennica Fermin</p></div>
              <div class="flex-1">dot</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

</section>