<div class="btn-container space-left dropdown" (click)="dropdown_active=!dropdown_active" [ngClass]="{'active' : dropdown_active}">
  <button class="btn-cap-app">
      <div><span class="p-text-small"> Capital Appreciation: </span></div> 
      <div><span class="uppercase p-text-small-blue"> Risk score range:<strong> 72-86 </strong> </span></div> 
      <i class="icon-dropdown"></i>
  </button>
  <div class="dropdown-content">
      <div class="dropdown-item disabled"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
      <div class="dropdown-item disabled"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
      <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
      <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
      <div class="dropdown-item"><span class="p-text-small">Moderate Growth</span><span class="uppercase p-text-small-blue">Risk score range: <strong>87-100</strong></span></div>
  </div>
</div>