<div class="disclaimer-container fade">
  <div class="disclaimer-box">
    <div class="box-title">
      <h3>Disclaimer:</h3>
    </div>
    <div class="box-content">
      <div class="container-message">
        <div class="content-message">
          <article>
            The performance data quoted represents past performance and does not guarantee future results. The investment return and principal value of an investment will fluctuate, thus an investor’s shares, when redeemed, may be worth more or less than their original cost. Current performance may be lower or higher than return data quoted herein. Foreign and small company stocks involve additional risks.
            <br>
            <br>
            For performance data current to the most recent month-end please visit http://advisor.morningstar.com/index.asp.
            <br>
            <br>
            The SA Funds are sponsored by LWI Financial Inc. (“Loring Ward”) and distributed by Loring Ward Securities Inc., an affiliate, member FINRA/SIPC. Consider the investment objectives, risk, charges and expenses of the SA Funds carefully before investing. For this and other information about SA Funds, please read the prospectus carefully before investing. To request a copy of the SA Fund Prospectus please call 1-800-366-7266.
            <br>
            <br>
            The DFA Funds are sponsored by Dimensional Fund Advisors and distributed by DFA Securities LLC. Consider the investment objectives, risks, charges and expenses of the DFA Funds carefully before investing. For this and other information about the DFA Funds, please read the prospectus carefully before investing. To request a copy of the DFA Fund Prospectus please call 512-306-7400.
            <br>
            <br>
            Standardized Returns assume reinvestment of dividends and capital gains. It depicts performance without adjusting for the effects of taxation. For variable annuities, additional expenses are not reflected in this analysis, including M&E risk charges, fund-level expenses such as management fees and operating fees, and contract-level administration fees, charges such as surrender, contract and sales charges.
            <br>
            <br>
            The Recommended Portfolio was selected based on answers provided on the Investor Profile Questionnaire used in conjunction with the Investment Planning Center. The Recommended Portfolio uses investments we recommend for each asset class. Investments not considered in this presentation may have similar or superior characteristics to those being recommended and analyzed. This analysis does not consider any negative consequences that may result from redeeming your Current Portfolio to invest in the Recommended Portfolio. These consequences may include, but are not limited to, redemption fees and charges, and tax consequences. Please carefully consider these consequences before making changes to your Current Portfolio. Performance results do not reflect advisory fees. Inclusion of advisory fees would result in lower stated performance. 
            Diversification neither assures a profit nor guarantees against loss in a declining market. 
            The risks associated with investing in stocks and overweighting small company and value stocks potentially include increased volatility (up and down movement in the value of your assets) and loss of principal. 
            Small company stocks may be subject to a higher degree of market risk than the securities of more established companies because they may be more volatile and less liquid. 
            Securities of small companies are often less liquid than those of large companies. As a result, small company stocks may fluctuate relatively more in price. 
            International markets involve additional risks, including, but not limited to, currency fluctuation, political instability, foreign taxes, and different methods of accounting and financial reporting. As a result, they may not be suitable investment options for everyone. 
            Changes in currency exchange rates, differences in accounting and taxation policies and political and economical instability can raise or lower returns. 
            Data Source: Center for Research in Security Prices (CRSP), Dimensional Returns 2.0
          </article>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="footer-option">
        <mat-checkbox></mat-checkbox>&nbsp;<span>Don't show me this again.</span>
        <p>TO VIEW DISCLAIMER IN THE FUTURE, SEE SETTINGS WITHIN THE USER PROFILE</p>
      </div>
      <div class="footer-button">
        <button class="btn-cancel">cancel</button>
      </div>
    </div>
  </div>
</div>