<section class="account-select">
  <div class="screen-container">
    <div class="modal-container">
      <div class="modal-box">
        <div class="box-content">
          <div class="row-1">
            <p>One or more of your selected accounts are part of an existing Investment Group, would you like ot include the other account(s)?</p>
          </div>
          <div class="row-2">
            <div class="table-container">
              <table>
                <tr>
                  <th><div><span>Select</span></div></th>
                  <th><div><span>Account Name</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Added</span></div></th>
                  <th><div><span>Investment Group</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Custodian</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Account #</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Account Type</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Owner</span><i class="icon-dropdown"></i></div></th>
                  <th><div><span>Value</span><i class="icon-dropdown"></i></div></th>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Candelaria 401k</td>
                  <td><i class="icon-myclient"></i></td>
                  <td>ENV Account</td>
                  <td>Pershing</td>
                  <td>3748</td>
                  <td>401k</td>
                  <td>Chris Candelaria</td>
                  <td>$75,000</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Candelaria 401k</td>
                  <td><i class="icon-myclient"></i></td>
                  <td>ENV Account</td>
                  <td>Pershing</td>
                  <td>3748</td>
                  <td>401k</td>
                  <td>Chris Candelaria</td>
                  <td>$75,000</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Candelaria 401k</td>
                  <td><i class="icon-myclient"></i></td>
                  <td>ENV Account</td>
                  <td>Pershing</td>
                  <td>3748</td>
                  <td>401k</td>
                  <td>Chris Candelaria</td>
                  <td>$75,000</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="row-3">
            <div class="btn-container">
              <button class="btn-cancel">Cancel</button><button class="btn-continue">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>