.screen-container{
    .modal-container{
        display: flex;
        justify-content: center;
        align-items:center;
        @media only screen and (max-width: 767px){
            padding: 10px;
        }

        .modal-box{
            margin-top: 60px;
            width: 1200px;
            background-color: white;
            box-shadow: 0 4px 10px 0 rgba(65, 64, 66, 0.18);
            padding-bottom: 30px;
            border-radius: 6px;
            min-width: 355px;
            @media only screen and (max-width: 767px){
                width: 100%;
                margin-top: 110px;
            }
            .box-content{
                .row-1{
                    display: flex;
                    text-align: center;
                    align-items:center;
                    padding: 20px 100px;
                    font-size: 24px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    color: rgba(64, 64, 64, 1);
                    @media only screen and (max-width: 767px){
                        padding: 30px;
                    }
                }
                .row-2{
                    .table-container{
                        display:flex;
                        table{
                            flex: 1;
                            border-collapse: collapse;
                            @media only screen and (max-width: 767px){
                                tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5),
                                tr td:nth-child(6), tr td:nth-child(7), tr td:nth-child(8),
                                tr th:nth-child(3), tr th:nth-child(4), tr th:nth-child(5),
                                tr th:nth-child(6), tr th:nth-child(7), tr th:nth-child(8){
                                    display:none;
                                }
                             }
                            .icon-dropdown{
                                margin-left: 5px;
                                width: 15px;
                                height: 15px;
                                content: url("/src/assets/component/portfolio/dropdown.png");
                            }
                            .icon-myclient{
                                content: url("/src/assets/brand-logos/clientcenter.PNG");
                            }
                            td:first-child, td:nth-child(3), th:first-child, th:nth-child(3){
                                text-align:center;
                            }
                            td:nth-child(2), td:nth-child(4), td:nth-child(5), td:nth-child(7), td:nth-child(8){
                                text-align: left;
                            }
                            td:nth-child(6), td:nth-child(9){
                                text-align: right;
                            }
                            th:nth-child(2), th:nth-child(4), th:nth-child(5), th:nth-child(7), th:nth-child(8){
                                text-align: left;
                            }
                            th:nth-child(6), th:nth-child(9){
                                text-align: right;
                            }
                            th{
                                background-color: #fcfcfc;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 10px;
                                text-transform: uppercase;
                                font-weight: 700;
                                letter-spacing: .8px;
                                vertical-align: middle;
                                div{
                                    display: flex;
                                    align-items: center;
                                }
                            }
                            td{
                                font-family: 'Montserrat', sans-serif;
                                font-size: 10px;
                                font-weight: 400;
                            }
                            tr td, tr th{
                                padding: 15px 20px;
                            }
                            tr td{
                                border-bottom: 1px #e7e6e6 solid;
                            }
                            tr th{
                                border-bottom: 1px #e7e6e6 solid;
                                border-top: 1px #e7e6e6 solid;
                            }
                        }
                    } 
                }
                .row-3{
                    margin-top: 30px;
                    
                    .btn-container{
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        .btn-cancel{
                            margin-right: 20px;
                            width: auto;
                            padding: 0px 40px;
                        }
                        .btn-continue{
                            width: auto;
                            color: white;
                            background-color: #1598cb;
                            padding: 0px 40px;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}
