<span class="screen-overlay"></span>
<section class="popup popup-send-documents">
		<div class="screen-container">
				<div class="popup-container">
				  <div class="popup-box">
					<i class="icon-exit"></i>
					<div class="popup-content">
					  <div class="status-container">
						<span class="text-title">Status:</span>
						<span class="text-title-big">Documentation Has Been Sent To:</span>
						<div class="text-receiver"><span class="text-bold">Chris Candelaria</span> (ccandelaria@loringward.com), <span class="text-bold">Kristy Candelaria</span> (kristycandelaria@gmail.com)</div>
						<div class="text-date"><span class="text-title">Date Sent:</span><span class="text-bold">9/25/2018</span></div>
					  </div>
					  <div class="link-container">
						<span class="text-title">Where would you like to go next?</span>
						<div class="btn-container">
						  <button (click)="toDash()"><i class="icon-home"></i>Home</button>
						  <button (click)="toList()"><i class="icon-listview"></i>List View</button>
						  <button (click)="toHhold()"><i class="icon-household"></i>Household</button>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
</section>
