<header>
  <div class="header-container" [ngClass]="{'disabled' : isDisabled}">
    <div class="logo-holder">
      <div class="logo-container">
        <a>
          <img src="{{logo_path}}" srcset="{{logo_path_2}}, {{logo_path_3}}">
        </a>  
      </div>
    </div>

    <div class="header-components">
      <div class="header-search-bar">
        <button  class="btn-search">
          <i class="material-icons icon-search">search</i>
        </button>   
        <input type="text" class="search-input" placeholder="Search"/>
      </div>

      <app-notification-component></app-notification-component>

      <div class="header-profile">
        <div class="profile-pic">
            <img src="assets/avatar-image.png"
              srcset="assets/avatar-image@2x.png,
                      assets/avatar-image@3x.png"/>
        </div>
        <div>
          <a class="btn-drop">
              <i class="material-icons">expand_more</i>
          </a>
        </div> 
      </div>
    </div>
  </div>
</header>