.header-container{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 12px 0 rgba(64, 64, 65, 0.2);
    z-index: 20;
    background-color: #ffffff;
    display: flex;
    position:relative;
    &.disabled {
        &::after {
            position:absolute;
            width:100%;
            height:100%;
            content:' ';
            background: #fff;
            opacity: 0.8;
        }
    }
    .logo-holder{
        flex:2;
        padding: 5px;
        object-fit: contain;

        .logo-container{
            width: 250px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img{width: 250px;}
        }
    }

    .header-components{
        flex: 1;
        display: flex;
        padding: 5px;

        .header-search-bar{
            position: relative;
            width: 300px;

            @media screen and (max-width: 767px){
                display: none;
            }

            .btn-search {
                width: 18px;
                height: 19px;
                -o-object-fit: contain;
                object-fit: contain;
                position: absolute;
                left: 15px;
                top: 20px;
                border: none;
                background: transparent;
                outline: none;

                img{
                    object-fit: contain;
                    width: 25px;
                    height: 25px
                }
            }

            .search-input{
                right: 0;
                width: 349px;
                height: 40px;
                border-radius: 6px;
                border: solid 1px #e7e6e6;
                background-color: #ffffff;
                padding-left: 40px;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #c5c5c5;
            }
    
            .notification-bell{
                position: relative;
                width: 45px;
                height: 45px;
                object-fit: contain;
                
            }
    
            .noti-badge{
                position: absolute;
                top: 11px;
                right: 0;
                background-color:red;;
                width: 18px;
                height: 18px;
                color: white;
                text-align: center;
                font-size: 7pt;
                line-height: 15pt;
            }

            .avtr-img {
                position: relative;
                top: -10px;
                width: 65px;
                height: 70px;
                object-fit: contain;
              }
              
        }

        // .header-notification{
        //     position: relative;
        //     padding: 10px;

        //     .btn-search {
        //         width: 18px;
        //         height: 19px;
        //         -o-object-fit: contain;
        //         object-fit: contain;
        //         position: absolute;
        //         left: 15px;
        //         top: 20px;
        //         border: none;
        //         background: transparent;
        //         outline: none;

        //         img{
        //             object-fit: contain;
        //             width: 25px;
        //             height: 25px
        //         }
        //     }

        //     .search-input{
        //         right: 0;
        //         width: 349px;
        //         height: 40px;
        //         border-radius: 6px;
        //         border: solid 1px #e7e6e6;
        //         background-color: #ffffff;
        //         padding-left: 40px;
        //         font-size: 14px;
        //         font-weight: 300;
        //         font-style: normal;
        //         font-stretch: normal;
        //         line-height: normal;
        //         letter-spacing: normal;
        //         color: #c5c5c5;
        //     }
    
        //     .notification-bell{
        //         position: relative;
        //         width: 45px;
        //         height: 45px;
        //         object-fit: contain;
                
        //     }
    
        //     .noti-badge{
        //         position: absolute;
        //         top: 11px;
        //         right: 0;
        //         width: 18px;
        //         height: 18px;
        //         color: white;
        //         background-color: #ff6d4c;
        //         border-radius: 50%;
        //         text-align: center;
        //         font-size: 7pt;
        //         line-height: 15pt;
        //     }

        //     .avtr-img {
        //         position: relative;
        //         top: -10px;
        //         width: 65px;
        //         height: 70px;
        //         object-fit: contain;
        //       }
    
        //     .btn-drop{
        //         position: absolute;
        //         width: 10px;
        //         height: 10px;
        //         text-align: center;
        //         background-color: transparent;
        //         outline: none;
        //         border: none;
        //         right: 10px;
        //         top: 25px;
        //     }    
        // }

        .header-profile{
            position: relative;
            padding: 10px 20px 0 20px;

            .profile-pic{
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                overflow: hidden;

                img{width: 80px;}
            }

            .btn-search {
                width: 18px;
                height: 19px;
                -o-object-fit: contain;
                object-fit: contain;
                position: absolute;
                left: 15px;
                top: 20px;
                border: none;
                background: transparent;
                outline: none;

                img{
                    object-fit: contain;
                    width: 25px;
                    height: 25px
                }
            }

            .search-input{
                right: 0;
                width: 349px;
                height: 40px;
                border-radius: 6px;
                border: solid 1px #e7e6e6;
                background-color: #ffffff;
                padding-left: 40px;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #c5c5c5;
            }
    
            .notification-bell{
                position: relative;
                width: 45px;
                height: 45px;
                object-fit: contain;
                
            }
    
            .noti-badge{
                position: absolute;
                top: 11px;
                right: 11.5px;
                width: 18px;
                height: 18px;
                color: white;
                text-align: center;
                font-size: 7pt;
                line-height: 15pt;
            }

            .avtr-img {
                position: relative;
                top: -10px;
                width: 65px;
                height: 70px;
                object-fit: contain;
              }
    
            .btn-drop{
                position: absolute;
                width: 10px;
                height: 10px;
                text-align: center;
                background-color: transparent;
                outline: none;
                border: none;
                right: 10px;
                top: 25px;
                cursor: pointer;
            }    
        }
    }
}


.notification{
    font-size: 35px;
    color: #c7c7c7;
}