header {
    position: relative;
    z-index: 98;
    box-shadow: 0 0 12px 0 rgba(64, 64, 65, 0.2);
    background-color: #ffffff;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    .masthead {
        width: 98%;
        margin: 0 auto;
    }
}
.header-container{
    display: -ms-flexbox;
    display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    & > div {
        position: relative;
        width: 100%;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;

        @media screen and(max-width: 767px) {
            position: initial;
        }
    }

    &.disabled {
        &::after {
            position:absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            content:' ';
            background: #fff;
            opacity: 0.8;
        }
    }
    .logo-holder{
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .logo{
        @media only screen and (max-width: 767px){
            width: 230px;
        }
    }

    .header-search-bar {
        min-width: 300px;
        @media only screen and (max-width: 767px){
            display:none;
        }
    }
    .right-section{
        display: flex;
        align-items: center;
    }
    .left-section{
        flex: 1;
    }
}


.notification{
    font-size: 35px;
    color: #c7c7c7;
}