<section class="account-details">
    <div class="screen-container">
      <div class="modal-box-container">
        <div class="modal-box">
          <div class="box-head">
            <span>Account Details</span>
            <span>Add Assets, Import Accounts or Add Cash</span>
          </div>
          <div class="box-body">
            <div class="left-section">
              <div class="overlay"></div>
              <div class="left-section-content">
                <span class="title-text">Account Information:</span>
                <div class="text-box-container"><input type="text" class="text-box"></div>
                <div class="dropdown-container"><div class="dropdown"><span>Manually<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
                <div class="text-box-container"><input type="text" class="text-box" placeholder="Investment Group"></div>
                <div class="dropdown-container"><div class="dropdown"><span>Manually</span><i class="icon-dropdown"></i></div></div>
                <div class="text-box-container"><input type="text" class="text-box"></div>
                <div class="dropdown-container"><div class="dropdown"><span>IRA (Roth)<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
                <div class="dropdown-container"><div class="dropdown"><span>Chris Candelaria<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
              </div>
            </div>
            <div class="right-section">
              <div class="option-container">
                <span class="title-text">Investments:</span>
              </div>
              <div class="investment-box">
                <div class="row-1"><span>Investment Name</span><span>$ Value</span></div>
                <div class="row-2"><span>$ Lump Sum Cash</span><span class="total">Total:</span><span class="total">$175,000.00</span></div>
                <div class="row-3">
                  <div class="container">
                    <div>
                      <button class="btn-add"><i class="icon-asset"></i><span>+Add Assets Manually</span></button>
                      <button class="btn-csv"><i class="icon-csv"></i><span>Import CSV File</span></button>
                      <button class="btn-account"><i class="icon-account"></i><span>Import Account</span></button>
                    </div>
                    <div class="download-template"><i class="icon-download"></i><a href="#" class="text-download">Download Template</a></div>
                  </div>
                </div>
              </div>
              <div class="btn-container">
                <button class="btn-cancel">Cancel</button>
                <button class="btn-save"><span>Save & Close</span></button>
                <button class="btn-add"><span>Save & Add Account</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>