@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
$primaryfont: "montserrat", sans-serif;
$secondaryfont: "MuseoSans", calibri;
.dropdown-filter {
  margin-left: 20px;
  position: relative;
  background: url(/src/assets/component/portfolio/filter-gray.png) no-repeat scroll 0px 0px;
  background-color: white;
  border-radius: 6px;
  z-index: 3;
  .btn-filter {
    width: 240px;
    height: 50px;
    padding: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: $primaryfont;
      font-size: 12px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #77787b;
      width: 100%;
      text-align: left;
      padding-left: 40px;
    }
    .icon-dropdown {
      width: 15px;
      content: url("/src/assets/component/portfolio/dropdown.png");
    }
  }
  .item-container {
    font-family: $secondaryfont;
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    top: 46px;
    right: 0px;
    box-sizing: border-box;
    .item {
      box-sizing: border-box;
      background-color: white;
      padding: 10px;
      font-size: 11px;
      font-weight: 300;
      border-bottom: 1px solid #eee;
      color: #414042;
      &:hover {
        background-color: #f7f7f7;
      }
    }
    button {
      text-transform: uppercase;
      width: 200px;
      border:none;
      margin: 20px auto;
      height: 45px;
      background-color: #e6e6e6;
      color: #8b8b8b;
      font-family: $primaryfont;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  &[open] {
    box-shadow: 0 1px 30px 0 rgba(52, 53, 52, 0.18);
    .item-container {
      box-shadow: 0 1px 30px 0 rgba(52, 53, 52, 0.18);
    }
  }
}
