<div class="screen-container">
    <div class="overlay"></div>
    <div class="popup-container">
        <div class="popup-box">
            <div class="box-head">
                <span>Set Landing Page Default</span>
            </div>
            <div class="box-body">
                <div class="left-section">
                    <div class="option">
                        <span>Home View:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="img-container">
                        <img class="img" src="../../../assets/component/settings/home-page.PNG">
                    </div>
                </div>
                <div class="right-section">
                    <div class="option">
                        <span>List View:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="img-container">
                        <img class="img" src="../../../assets/component/settings/listview-page.PNG">
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-cancel">Cancel</button>
                <button>
                    <i class="icon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>