    <section class="dropdown-actions">
        <details>
          <summary>
            <div class="filter" >
              <div class="filter-text"><button>Filter <i class="dropdown-icon"></i></button> </div>
            </div>
          </summary>
          <ul>
            <li>
              <a>
                <div class="search">
                    <div class="input-text"><input type="text" placeholder="Enter Risk Score #"></div>
                </div>
              </a>
            </li>
            <li>
              <p>
                 <label class="select-all">
                    <mat-checkbox class = "check-all"></mat-checkbox>
                    <span>RISK NAME & RANGE</span><br />
                    <strong>SELECT ALL</strong>
                  </label>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox  class= "check" ></mat-checkbox>
                    <span>Defensive</span>
                  </label>
                  <small>1-14</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Conservative</span>
                  </label>
                  <small>15-29</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Balanced</span>
                  </label>
                  <small>30-43</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Moderate</span>
                  </label>
                  <small>44-57</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Moderate Growth</span>
                  </label>
                  <small>58-71</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Capital Appreciation</span>
                  </label>
                  <small>72-86</small>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Capital Appreciation</span>
                  </label>
                  <small>87-100</small>
              </p>
            </li>
            <li>
              <p>
                 <label class="select-all">
                    <mat-checkbox class = "check-all"></mat-checkbox>
                    <span>PORTFOLIO GROUP</span><br />
                    <strong>SELECT ALL</strong>
                  </label>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox  class= "check" ></mat-checkbox>
                    <span>Loring Ward Portfolios</span>
                  </label>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Example Advisor Portfolios</span>
                  </label>
              </p>
            </li>
            <li>
              <p>
                 <label>
                    <mat-checkbox class= "check" ></mat-checkbox>
                    <span>Jennica Fermen Portfolios</span>
                  </label>
              </p>
            </li>
             <li>
              <a>
                <div style="display:inline-block; padding-right: 10px;">
                  <button class="btn-info">Cancel</button>
                </div> 
              </a>
            </li>
          </ul>
        </details>
      </section>


