<div class="home-container">
    <div class="container">

      <div class="container-divider">
      <div class="row-container">
      <div class="households">
        <div class="box-head">
          <div><h2>Recent Households</h2></div>
          <div class="btn-right-space"><button class="btn"><i class="material-icons">add_circle</i><span class="icon-title">Add</span></button></div> 
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="item-one">Candelaria</div>
            <div class="item-two">
              <div class="item-two-amount">$900,000.00</div>
              <div class="item-two-date">7/9/2018</div>
            </div>
          </div>
        </div>
      </div>
   
      
      <div class="proposals">
        <div class="box-head">
          <div><h2>Recent Proposals</h2></div>
          <div class="btn-right-space"><button class="btn"><i class="material-icons">add_circle</i><span class="icon-title">Add</span></button></div>
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="item-top">
              <div>Chris & Kristy Retirement Proposal</div>
              <div><span class="grey-text">Candelaria Household</span></div>
            </div>
            <div class="item-bottom">
              <div>$900,000.00</div>
              <div class="grey-text">
                Implemented <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="documents">
        <div class="box-head">
          <div><h2>Recent Documents</h2></div>
          <div class="btn-right-space"><button class="btn"><i class="material-icons">add_circle</i><span class="icon-title">Add</span></button></div>      
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="container-flex document-icon">
              <i class="icon"></i>
            </div>
            <div class="container-flex item-column">
              <div>Christ & Kristy Proposal IPS GAP</div>
              <div class="sub-text">Candelaria Household</div>
            </div>
            <div class="container-flex item-column">
              <div class="text-right">7/31/2018</div>
              <div class="text-right status-text">Sent</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>

    <div class="row-container">
    
      <div class="container-analytics">
        <div class="title-proposal">
          <p>Proposal Analytics</p>
          <a class="hide-show" (click)="hideShow()"><i class="material-icons icon-font-size">{{ analyticShow == true ? "visibility" : "visibility_off" }}</i><span class="span-hide-show">{{ analyticShow == true ? "show" : "hide" }}</span></a>
        </div>
      </div>

    </div>  

  
      <div class="container-analytics" *ngIf="!analyticShow">
        <div class="households">
            <div class="box-head">
              <div><h2>Opportunity AUM<br><span>Forecast Overtime</span></h2></div>              
              <div class="btn-right-space"><button class="btn"><i class="material-icons">more_vert</i></button></div>
            </div>
            <div class="container-info">
           
            </div>
          </div>
    
          <div class="proposals">
            <div class="box-head">
              <div><h2># of Proposals<br><span>In Progress</span></h2></div>
              <div class="btn-right-space"><button class="btn"><i class="material-icons">more_vert</i></button></div>
            </div>
            <div class="container-info">
         
            </div>
          </div>
    
          <div class="documents">
            <div class="box-head">
              <div><h2>Implemented Proposals<br><span>Overtime</span></h2></div>
              <div class="btn-right-space"><button class="btn"><i class="material-icons">more_vert</i></button></div>      
            </div>
            <div class="container-info">
              <div class="info-item">
               
              </div>
            </div>
          </div>  

          <div class="row-container-add">
            <div class="documents" >
                
                <div class="box-head">
                  <div><h2>&nbsp;</h2></div>
                </div>
                <div class="container-info">
                  <div class="add-box-container">
                    <div class="add-container flex">
                      <div class="flex-1" style="margin-top: 50px;"><i class="icon-big-add"></i></div>
                      <div class="flex-1"><h2 style="color:#1598cb;"> Add Household </h2></div>
                    </div>
                    </div>
                </div>
              </div>
          </div>

        </div>
   
        
   </div>
  </div>
</div>