<div class="home-container">
  <div class="container-divider">
    <div class="container">
      <div class="households">
        <div>
          <h2>Recent Households</h2>
          <button class="btn"><i class="icon-add"></i>Add</button>
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="item-one">Candelaria</div>
            <div class="item-two">
              <div class="item-two-amount">$900,000.00</div>
              <div class="item-two-date">7/9/2018</div>
            </div>
          </div>
        </div>
      </div>

      <div class="proposals">
        <div>
          <h2>Recent Proposals</h2>
          <button class="btn"><i class="icon-add"></i>Add</button>
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="item-top">
              <div>Chris & Kristy Retirement Proposal</div>
              <div><span class="grey-text">Candelaria Household</span></div>
            </div>
            <div class="item-bottom">
              <div>$900,000.00</div>
              <div class="grey-text">
                Implemented <i class="icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="documents">
        <div>
          <h2>Recent Documents</h2>
          <button class="btn"><i class="icon-add"></i>Add</button>      
        </div>
        <div class="container-info">
          <div class="info-item">
            <div class="container-flex document-icon">
              <i class="icon"></i>
            </div>
            <div class="container-flex item-column">
              <div>Christ & Kristy Proposal IPS GAP</div>
              <div class="sub-text">Candelaria Household</div>
            </div>
            <div class="container-flex item-column">
              <div class="text-right">7/31/2018</div>
              <div class="text-right status-text">Sent</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="test">
        <div class="title-proposal">
          <p>Proposal Analytics</p>
          <span class="hide-show"><i class="icon"></i>Hide</span>
        </div>
      </div>
      <div class="test">
        <div class="households">
            <div>
              <h2>Recent Households</h2>
              <button class="btn"><i class="icon-add"></i>Add</button>
            </div>
            <div class="container-info">
              <div class="info-item">
                <div class="item-one">Candelaria</div>
                <div class="item-two">
                  <div class="item-two-amount">$900,000.00</div>
                  <div class="item-two-date">7/9/2018</div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="proposals">
            <div>
              <h2>Recent Proposals</h2>
              <button class="btn"><i class="icon-add"></i>Add</button>
            </div>
            <div class="container-info">
              <div class="info-item">
                <div class="item-top">
                  <div>Chris & Kristy Retirement Proposal</div>
                  <div><span class="grey-text">Candelaria Household</span></div>
                </div>
                <div class="item-bottom">
                  <div>$900,000.00</div>
                  <div class="grey-text">
                    Implemented <i class="icon"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="documents">
            <div>
              <h2>Recent Documents</h2>
              <button class="btn"><i class="icon-add"></i>Add</button>      
            </div>
            <div class="container-info">
              <div class="info-item">
                <div class="container-flex document-icon">
                  <i class="icon"></i>
                </div>
                <div class="container-flex item-column">
                  <div>Christ & Kristy Proposal IPS GAP</div>
                  <div class="sub-text">Candelaria Household</div>
                </div>
                <div class="container-flex item-column">
                  <div class="text-right">7/31/2018</div>
                  <div class="text-right status-text">Sent</div>
                </div>
              </div>
            </div>
          </div>
          <div class="documents">
              <div>
                <h2>Recent Documents</h2>
                <button class="btn"><i class="icon-add"></i>Add</button>      
              </div>
              <div class="container-info">
                <div class="info-item">
                  <div class="container-flex document-icon">
                    <i class="icon"></i>
                  </div>
                  <div class="container-flex item-column">
                    <div>Christ & Kristy Proposal IPS GAP</div>
                    <div class="sub-text">Candelaria Household</div>
                  </div>
                  <div class="container-flex item-column">
                    <div class="text-right">7/31/2018</div>
                    <div class="text-right status-text">Sent</div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>