<div class="container">
  <section class="notification-component">
    <details>
      <summary>
        <div class="header-notification">
          <i class="avatar-icon"></i>
          <a class="btn-drop">
              <i class="material-icons">expand_more</i>
          </a>
        </div>
      </summary>
        <div class="avatar-notification-container">
          <div class="triangle">
            <div class="empty"></div>
          </div>
         
          <div class="Rectangle-3">
            <div class="profile-content">
              <i class="avatar-icon"></i>
              <div class="profile-info">
              <span class="name">Jennica Fernen</span>
              <small class="email">jennica@loringward.com</small>
              </div>  
          </div>
          </div>
     
          <div class="Rectangle-3-1">
            <div class="company-content">
              <span class="LoringWardFinancial">Loring Ward Financial Inc.</span>
              <div class="icon-container"><i class="star"></i><small class="Superuser">Superuser</small></div>
            </div>
          </div>
          <!-- begin here -->
         <ul>
         <li>
            <div class="Rectangle-Not">
              <i class="icon info"></i>
              <p class="list">My Information</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon port"></i>
              <p class="list">Portfolio Administration</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon advisor"></i>
              <p class="list">Advisor Search</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon terms"></i>
              <p class="list">Terms, Definitions & Assumptions</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon settings"></i>
              <p class="list">Settings</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon support"></i>
              <p class="list">Support</p><br />
            </div>
          </li>
        </ul>
        <div class="btn-container">
          <button class="Sign-Out">
          <span>SIGN OUT</span>
          </button>
      </div>
      </div>
    </details>
  </section>
</div>

