<div class="rms-header-profile">
    <details>
        <summary>
            <span class="user-avatar" style="background-image: url(../assets/avatar.jpg); "></span>
        </summary>
        <div class="profile-dropdown">
            <span class="caret"></span>
            <div class="profile-info">
                <span class="info-avatar" style="background-image: url(../assets/avatar.jpg); "></span>
                <span class="info-name">Jud Mackrill</span>
                <span class="info-email">jud@loringward.com</span>
            </div><!-- .profile-info -->
            <div class="profile-company">
                <strong>Loring Ward Financial Inc.</strong>
                <span>Superuser</span>
            </div><!-- .profile-company -->
            <div class="profile-actions">
                <ul>
                    <li class="action-mi"><a href="#">My Information</a></li>
                    <li class="action-pa"><a href="#">Portfolio Administration</a></li>
                    <li class="action-as"><a href="#">Advisor Search</a></li>
                    <li class="action-tds"><a href="#">Terms, Definitions & Assumptions</a></li>
                    <li class="action-settings"><a href="#">Settings</a></li>
                    <li class="action-support"><a href="#">Support</a></li>
                </ul>
            </div><!-- .profile-actions -->
            <div class="profile-inout">
                <button>SIGN OUT</button>
            </div><!-- .profile-inout -->
        </div><!-- .profile-dropdown -->
    </details>
</div><!-- .rms-header-profile -->