<div class="container">
  <section class="notification-component">
    <details>
      <summary>
        <div class="header-notification">
          <i class="avatar-icon"></i>
          <div class="noti-badge"><span>20</span></div>
        </div>
      </summary>
        <div class="notification-container">
          <div class="triangle">
            <div class="empty"></div>
          </div>
         
          <div class="Rectangle-3">
          <i class="avatar-icon"></i>
          <p class="name">Jennica Fernen</p><br />
          <small class="email">jennica@loringward.com</small>
          </div>
     
          <div class="Rectangle-3-1">
          <p class="LoringWardFinancial">Loring Ward Financial Inc.</p><br />
           <i class="star"></i>
          <small class="Superuser">Superuser</small>
          </div>
          <!-- begin here -->
         <ul>
         <li>
            <div class="Rectangle-Not">
              <i class="icon info"></i>
              <p class="list">My Information</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon port"></i>
              <p class="list">Portfolio Administration</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon advisor"></i>
              <p class="list">Advisor Search</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon terms"></i>
              <p class="list">Terms, Definitions & Assumptions</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon settings"></i>
              <p class="list">Settings</p><br />
            </div>
          </li>
          <li>
            <div class="Rectangle-Not">
              <i class="icon support"></i>
              <p class="list">Support</p><br />
            </div>
          </li>
        </ul>
        <div class="Sign-Out">
          <small>SIGN OUT</small>
        </div>
      </div>
    </details>
  </section>
</div>

