.rms-header-profile {
    position: relative;
    @media screen and(max-width: 767px) {
        position: initial;
    }
    details {
        position: relative;
        @media screen and(max-width: 767px) {
            position: initial;
        }
        summary {
            display: block;
            padding-right: 15px;
            outline: none;
            cursor: pointer;
            @media only screen and (max-width: 767px){
                padding: 0px;
            }
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 10px;
                height: 7px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../../../assets/arrow-down-gray.svg);
                transform: translateY(-50%);
                @media only screen and (max-width: 767px){
                    right: 5px;
                }
            }
    
            .user-avatar {
                display: block;
                position: relative;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        
        .profile-dropdown {
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            width: 350px;
            background-color: #ffffff;
            border-radius: 9px;
            box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
            & > div {
                padding: 15px 30px;
                border-bottom: 1px solid #e7e6e6;

                &:last-child {
                    border-bottom: 0;
                }
            }
            app-search {
                display:none;
            }
            .profile-info {
                position: relative;
                min-height: 60px;
                padding-left: 107px;

                .info-avatar {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 30px;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transform: translateY(-50%);
                }
                .info-name {
                    display: block;
                    padding-top: 10px;
                    color: #414042;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    line-height: 1;
                    letter-spacing: -0.2px;
                }
                .info-email {
                    display: block;
                    padding-top: 5px;
                    color: #77787b;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'museo-sans', sans-serif;
                    line-height: 1.07;
                    letter-spacing: normal;
                }
            }
            .profile-company {
                font-family: 'Montserrat', sans-serif;

                strong {
                    display: block;
                    padding-bottom: 10px;
                    color: #414042;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1;
                    letter-spacing: normal;
                }
                span {
                    display: block;
                    padding: 4px 0 4px 28px;
                    color: #77787b;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: normal;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-image: url(../../../assets/user-indicator.svg);
                }
            }
            .profile-actions {
                padding: 0;

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    & > li {
                        border-bottom: 1px solid #e7e6e6;

                        &:last-child {
                            border-bottom: 0;
                        }

                        a {
                            display: block;
                            padding: 17px 30px 17px 60px;
                            color: #414042;
                            font-size: 14px;
                            font-weight: 600;
                            font-family: 'Montserrat', sans-serif;
                            line-height: 1;
                            letter-spacing: normal;
                            text-decoration: none;
                            background-size: 20px;
                            background-repeat: no-repeat;
                            background-position: center left 30px;
                        }

                        &.action-mi a {
                            background-image: url(../../../assets/component/profile/member-list-gray@3x.png);
                        }
                        &.action-pa a {
                            background-image: url(../../../assets/component/profile/portfolio-administration@3x.png);
                        }
                        &.action-as a {
                            background-image: url(../../../assets/component/profile/advisor-search-gray@3x.png);
                        }
                        &.action-tds a {
                            background-image: url(../../../assets/component/profile/terms-gray@3x.png);
                        }
                        &.action-settings a {
                            background-image: url(../../../assets/component/profile/settings-gray@3x.png);
                        }
                        &.action-support a {
                            background-image: url(../../../assets/component/profile/support-gray@3x.png);
                        }
                    }
                }
            }
            .profile-inout {
                button {
                    display: block;
                    width: 100%;
                    color: #1598cb;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    line-height: normal;
                    letter-spacing: 1px;
                    text-align: center;
                    border: 1px solid #1598cb;
                    box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);

                    &:hover {
                        color: #ffffff;
                        background-color: #1598cb;
                    }
                }
            }
            span.caret {
                display: block;
                position: absolute;
                bottom: 100%;
                right: 15px;
                width: 0;
                border-bottom: solid 20px #ffffff;
                border-right: solid 22px transparent;
                border-left: solid 22px transparent;
            }
            @media screen and(max-width: 767px) {
                width: 100%;
                app-search {
                    display: initial;
                }
            }
        }
    }
}