<div class="container-btn cancel-save-container" [ngClass]="containerStyle">
    <div class="btn-group">
      <ng-content></ng-content>
      <div *ngIf="closeOnly">
        <button (click)="cancelFunc()">Close</button>
      </div>
      <ng-container *ngIf="!closeOnly && !documentSend">
        <div *ngIf="!noCancel">
          <button (click)="cancelFunc()">Cancel</button>
        </div>
        <div>
          <button class="primary" (click)="saveFunc()" *ngIf="!primaryLabel"><i class="icon-save"></i> Save</button>
          <button class="primary" (click)="saveFunc()" *ngIf="primaryLabel">{{primaryLabel}}</button>
        </div>
      </ng-container>
      <ng-container *ngIf="documentSend">
        
        <div class="rpp-actions">
          <a class="button is-save desktop-only" target="_self" download="Sample.pdf" href="./assets/sample.pdf">Save to documents</a>
          <button class="is-save desktop-only" target="_self" (click)="saveDocFile()">Save to documents</button>
          <button class="is-save mobile-only"><i class="icon-save"></i><span>Save</span></button>
          <button class="is-send desktop-only" (click)="saveFunc()">Save & Send Documents</button>
          <button class="is-send mobile-only" (click)="saveFunc()"><i class="icon-send"></i><span>Save & Send</span></button>
        </div><!-- .rpp-actions -->
      </ng-container>
    </div>
  </div>