.container-btn{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;

        
    .btn-group{
        display: flex;
        justify-content: flex-end;
        padding: 0 50px;

        .btn-cancel{
            width: 160px;
            height: 45px;
            border-radius: 6px;
            box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            margin: 0px 30px 0 20px;

            font-family: Montserrat;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            text-align: center;
            color: #808284;
            text-transform: uppercase;
        }

        .btn-save{
            width: 160px;
            height: 45px;
            border-radius: 6px;
            box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            border: solid 1px #1598cb;
            background-color: #1598cb;

            font-family: Montserrat;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}
