<div class="information-container">
    <div class="information-box flex" *ngIf="step == 1" style="flex-direction: column;">
        <div class="row-padding flex-1">
            <div>
                <span class="title"> Firm Information </span>
            </div>
            <div class="flex" style="margin-top: 10px;">
                <div class="flex-1">
                    <input type="text" placeholder="Firm Name" class="text-doc">
                </div>
                <div class="flex-1">
                    <input type="text" placeholder="Website URL" class="text-doc-full">
                </div>
            </div>
        </div>
        <div>
            <hr class="full-width divider">
        </div>
        <div class="row-padding btn-browse-container">
            <div class="btn-browse">
                <div id="browse-holder">
                    <div id="droppable">
                    </div>
                    <div id="droppable-text">
                        <div><span class="btn-title"> Drag & Drop or Browse For Image </span></div>
                        <div><span class="btn-subtitle">You may use *.png; *.jpeg; *.tiff files. Recommended Size
                                500x500 less than 5 Mb </span></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="full-width divider">
        </div>
        <div class="row-padding flex-1">
            <div>
                <div>
                    <span class="title"> Brand Color </span>
                </div>
                <div>
                    <span class="subtitle"> Select from one of the colors below to use are your brand color. </span>
                </div>
                <div class="colors-selector-container ">
                    <div class="color-option-container">
                        <div class="color-box-container">
                            <div class="color-box color-1"></div>
                            <div class="color-name flex"><span class="color-title">#1598CB</span></div>
                            <mat-radio-button></mat-radio-button>
                        </div>
                    </div>
                    <div class="color-option-container flex">
                        <div class="color-box-container">
                            <div class="color-box color-2"></div>
                            <div class="color-name"><span class="color-title">#67C072</span></div>
                            <mat-radio-button></mat-radio-button>
                        </div>
                    </div>
                    <div class="color-option-container flex">
                        <div class="color-box-container">
                            <div class="color-box color-3"></div>
                            <div class="color-name"><span class="color-title">#F79961</span></div>
                            <mat-radio-button></mat-radio-button>
                        </div>
                    </div>
                    <div class="color-option-container flex">
                        <div class="color-box-container">
                            <div class="color-box color-4"></div>
                            <div class="color-name"><span class="color-title">#465E7B</span></div>
                            <mat-radio-button></mat-radio-button>
                        </div>
                    </div>
                    <div class="color-option-container flex">
                        <div class="color-box-container">
                            <div class="color-box color-5"></div>
                            <div class="color-name"><span class="color-title">#F7F7F7</span></div>
                            <mat-radio-button></mat-radio-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="full-width divider">
        </div>
        <div class="row-padding flex-1">
            <div style="width: 100%; display: table;">
                <div style="display: table-row;">
                    <div style="width: auto; display: table-cell; height: auto;">
                        <div>
                            <span class="title"> DISCLAIMER: </span>
                        </div>
                        <div>
                            <span class="subtitle"> Add Your Firms Disclaimers by copy and pasting or upload a PDF.
                            </span>
                        </div>
                    </div>
                    <div class="upload-container" style="display: table-cell; vertical-align: middle;">
                        <div style="float: right; text-align: center;">
                            <button class="btn-info btn-text-color btn-upload">
                                <i class="icon-upload"></i> UPLOAD PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <textarea> text here </textarea>
            </div>
            <div class="btn-can-save-container">
                <div style="display:inline-block; padding-right: 10px;">
                    <button class="btn-info">Cancel</button>
                </div>
                <div style="display:inline-block;">
                    <button class="btn-info btn-text-color primary" (click)="toNext()">
                        <i class="material-icons">save</i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="information-container" *ngIf="step == 2">
        <div class="information-box flex" style="flex-direction: column;">
            <div class="row-padding btn-browse-container">
                <div class="btn-browse">
                    <div id="browse-holder">
                        <div id="droppable" class="circle">

                        </div>
                        <div id="droppable-text">
                            <div><span class="btn-title"> Drag & Drop or Browse For Image </span></div>
                            <div><span class="btn-subtitle">You may use *.png; *.jpeg; *.tiff files. Recommended Size
                                    500x500 less than 5 Mb </span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr class="full-width divider">
            </div>
            <div class="row-padding flex-1">
                <div>
                    <div>
                        <span class="title"> YOUR INFORMATION: </span> <span class="required-text" style="float: right;">Required</span><span
                            class="asterisk" style="float: right;">* </span>
                    </div>
                </div>
                <div class="forms-container flex vertical-space">
                    <div class="text-input-1 flex-1">
                        <div class="input-placeholder">
                            <input type="text" class="text-doc" required>
                            <div class="placeholder">
                                First Name <span> &nbsp;*</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-input-1 flex-1">
                        <div class="input-placeholder">
                            <input type="text" class="text-doc" required>
                            <div class="placeholder">
                                Last Name <span> &nbsp;*</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-input-1 flex-1">
                        <div class="input-placeholder">
                            <input type="text" class="text-doc-full" required>
                            <div class="placeholder">
                                Email Address <span> &nbsp; *</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forms-container flex vertical-space">
                    <div class="text-double flex-1 flex">
                        <div class="flex-2">
                            <input type="text" class="text-double flex-1" placeholder="Primary Phone #">
                        </div>
                        <div class="flex-1">
                            <button class="flex-1 btn-45 btn-dpn"><span>Home</span>&nbsp;&nbsp;<i class="icon-dpn"></i></button>
                        </div>
                    </div>
                    <div class="text-input-1 flex-1 flex">
                        <div class="flex-2">
                            <input type="text" class="text-double flex-1" placeholder="Secondary Phone #">
                        </div>
                        <div class="flex-1">
                            <button class="flex-1 btn-45 btn-dpn"><span>Home</span>&nbsp;&nbsp;<i class="icon-dpn"></i></button>
                        </div>
                    </div>
                    <div class="text-input-1 flex-1">
                        <input type="text" class="text-doc-full" placeholder="Fax">
                    </div>
                </div>
                <div class="forms-container flex vertical-space">
                    <div class="text-input-1 flex-2">
                        <input type="text" class="text-doc-2" placeholder="Address">
                    </div>
                    <div class="text-input-1 flex-1">
                        <input type="text" class="text-doc-full" placeholder="Zip Code">
                    </div>
                </div>
                <div class="forms-container flex vertical-space">
                    <div class="text-input-1 flex-1">
                        <input type="text" class="text-doc" placeholder="City">
                    </div>
                    <div class="text-input-1 flex-1">
                        <input type="text" class="text-doc" placeholder="Select State">
                    </div>
                    <div class="flex-1">
                    </div>
                </div>
                <div class="btn-can-save-container">
                    <div class="vertical-space" style="display:inline-block; padding-right: 10px;">
                        <button class="btn-cancel" (click)="toPrev()"><span class="btn-text">Cancel</span></button>
                    </div>
                    <div style="display:inline-block;">
                        <button class="btn-info btn-text-color primary" (click)="toNext()">
                            <i class="material-icons">save</i> <span class="btn-text">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>