$padding: 20px;
$padding-left: 35px;
$container-padding: 40px;
$mainfont: 'Montserrat', sans-serif;
$secondaryfont: museo-sans;

.information-container {
  padding: $padding 0px 0px $padding-left;
  @media only screen and (max-width: 767px){
    padding:0px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .information-box {
    position: absolute;
    width: calc(100% - 200px);
    height: auto;
    background-color: white;
    z-index: 100;
    border-radius: 6px;
    box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
    margin-bottom:200px;
    @media only screen and (max-width: 767px){
      width: 95%;
    }
  }
  .row-padding {
    padding: $container-padding;
      @media only screen and (max-width: 767px){
        padding: 20px 10px;
      }
      .forms-container:not(:first-child) {
        margin-top: 20px;
        @media only screen and (max-width: 767px){
          margin-top: 0px;
        }
      }
      &.btn-browse-container {
        padding: 30px;
      }
    .text-container{
      display: flex;
      div{
        display: flex;
        input[type=text]{
          flex:1;
          border-radius: 6px;
          border: 1px solid #e7e6e6;
          padding: 15px;
          font-family: "museo-sans";
          font-size: 14px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #414042; 
        }
      }
      div:first-child{
        padding-right: 20px;
      }
    }
    .disclaimer-container{
      width: 100%; 
      display: table;
      .disclaimer-content{
        display: table-row;
        @media only screen and (max-width: 767px){
          display: flex;
          flex-direction: column;
        }
      }
  }
  .forms-container{
    display: flex;
    @media only screen and (max-width: 767px){
      flex-direction: column;
      margin-top: 10px;
    }
    .home-1{
      @media only screen and (max-width: 767px){
        margin-top: 10px;
      }  
    }
    .text-input-1{
      @media only screen and (max-width: 767px) {
        display: flex;
        flex:1;
        margin-top: 10px;
      }
    }
    .input-placeholder{
      @media only screen and (max-width: 767px) {
        display: flex;
        flex:1;
      }
    }
    input[type=text]{
      @media only screen and (max-width: 767px) {
        flex:1;
      }
    }
  }
}
  .flex {
    display: flex;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .text-form {
    width: 90%;
  }
  .text-form-last {
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  input[type=radio] {
    border: 5px solid #0DFF92;
    height: 20px;
    width: 20px;
  }
  .radio-select {
    background-color: #eee;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    margin-top: 8px;
  } //Custom Radio button
  .control_indicator {
    background: #e6e6e6;
    border: 0px solid #000000;
  }



  .btn-browse-container {
    .btn-browse {
      width: 100%;
      border-radius: 64px;
      background-color: transparent;
      box-shadow: 0 2px 6px 0 rgba(65, 64, 66, 0.1);
      border: dashed 1px #c5c5c5;
    }
  }
  .colors-selector-container {
    display: flex;
    @media only screen and (max-width: 767px){
      flex-direction: column;
    }
  }

  .flex-container {

    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
  }

  .space-between {
    justify-content: space-between;
  }

  .flex-item {
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .color-option-container {
    display: flex;
    flex: 1;
    padding: 30px 15px 0;
    justify-content: space-between;
  }

  .color-box-container {
    width: 100%;
    display: flex;
    height: 60px;
    box-shadow: 0 1px 4px 0 rgba(65, 64, 66, 0.15);
    border-radius: 6px;
    justify-content: space-between;
    mat-radio-button {
      padding-top: 5px;
    }
  }
  .color-box {

    width: 60px;
    height: 60px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .color-name {
    height: 100%;
    width: 45%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    background-color: #ffffff;
    text-align: center;

    .color-title {
      padding: 20px 0px;
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: #414042;
      flex: 1;
    }
  }

  .stick {
    display: inline-block;
  }

  .color-1 {
    background-color: #1598CB;
  }
  .color-2 {
    background-color: #67C072;
  }
  .color-3 {
    background-color: #F79961;
  }
  .color-4 {
    background-color: #465E7B;
  }
  .color-5 {
    background-color: #F7F7F7;
  }


  textarea {
    width: 100%;
    border-radius: 6px;
    height: 223px;
    resize: none;
    margin-top: 20px;
  }
  .upload-container {
    div button i {
      padding-right: 10px;
    }
  }
  .btn-can-save-container {
    float: right;
    margin-top: 20px;
    display: flex;
    @media only screen and (max-width: 767px){
      float: initial;
      justify-content: center;
    }
    div button i {
      padding-right: 10px;
    }
  }
  .divider {
    margin:0;
    border: solid 0.5px #e7e6e6;
  } //text
  .btn-title {
    font-family: $mainfont;
    font-size: 18px;
    color: #414042;
    letter-spacing: 0.2px;
    font-weight: 700;
  }
  .btn-subtitle {
    font-family: $secondaryfont;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #414042;
    ;
  }

  .title {

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;

    letter-spacing: 2px;
    color: #77787b;
    text-transform: uppercase;
  }
  .subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    color: #77787b;
  }
}

input[type=text].text-doc,
select {
  width: 95%;
  padding: 15px 15px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #e7e6e6;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: $secondaryfont;
}

input[type=text].text-doc-2,
select {
  width: 97.5%;
  padding: 15px 15px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #e7e6e6;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=text].text-double,
select {
  width: 100%;
  padding: 15px 15px;
  border-radius: 6px;
  height: 100%;
  border: 1px solid #e7e6e6;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px;
  box-sizing: border-box;
}

input[type=text].text-doc-full,
select {
  width: 100%;
  padding: 15px 15px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #e7e6e6;
  border-radius: 6px;
  box-sizing: border-box;
}

.btn-info {
  width: 160px;
  height: 45px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
  font-family: $mainfont;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.btn-upload {
  border:1px solid #1598cb;
  @media only screen and (max-width: 767px){
    margin-top:10px;
  }
}
.btn-cancel {
  width: 160px;
  height: 45px;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  color: #808284;
  font-family: $mainfont;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.icon-upload {
  width: 20px;
  content: url('../../../assets/component/firm-information/upload-blue@3x.png');
}

.icon-save {
  width: 20px;
  content: url('../../../assets/component/firm-information/save-blue@3x.png');
}

.icon-dpn {
  width: 10px;
  height: 7px;
  content: url('../../../assets/component/firm-information/arrow-gray@3x.png');
}

::placeholder {
  color: #c5c5c5;
  opacity: 1;
}

.text-doc,
.text-double,
.btn-dpn,
.text-doc-full,
.text-doc-2 {
  font-family: $mainfont;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

// 
.input-placeholder {
  position: relative;
}

.input-placeholder input:valid+.placeholder {
  display: none;
}

.placeholder {
  position: absolute;
  pointer-events: none;
  top: 15px;
  bottom: 0;
  font-family: $mainfont;
  font-size: 14px;
  left: 15px;
  margin: auto;
  color: #ccc;
}

.placeholder span {
  font-family: $mainfont;
  font-weight: 700;
  color: #1598cb;
}

.text-double {

  display: flex;
  justify-content: flex-start;
}

.btn-45 {
  height: 100%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 0px 6px 6px 0px;
  border: solid 1px #e7e6e6;
  padding: 0px 20px;
  @media only screen and (max-width: 767px){
    width: 100%;
  }
}

.btn-dpn {
  color: #c5c5c5;
}

.required-text,
.asterisk {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #808284
}

.asterisk {
  color: #1598cb;
  font-weight: 700;
}

#droppable-text {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 38px 20px;
}

#droppable {
  box-shadow: 0 1px 4px 0 rgba(65, 64, 66, 0.15);
  background-color: #ffffff;
  width: 300px;
  height: 100px;
  display: inline-block;
  position: relative;
  border-radius: 55px;
  display: none; // display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.circle {
    width: 100px;
  }
}


#fileList {
  padding: 20px;
}

.resizable {
  width: 200px;
}

#resizable1 {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

#browse-holder {
  display: flex;
  justify-content: center;
}

#frmS2Avatar{
  display:none;
}
