<section class="questionnaire-modal-component">
<span class="overlay"></span>

  <div class="box-container">
    <div class="box-content">
  
      <div class="box-head">
  
        <div class="left-section">
          <div class="box-title"><span class="text-title">Risk Assessmenet Questionnaire</span><span class="text-subtitle">Answer these questions and view your results.</span></div>
        </div>
  
        <div class="right-section">
          <div class="add-container"><button class="btn-cancel" (click)="closeMe()"> Cancel </button></div> 
        </div>
  
      </div>
  
        <div class="box-body-1">
          <div class="row-1">
            <div class="progress-container">
              <div class="progress-content quest-{{step}}">
                <div class="progress"><span>Question 1</span><span class="radio-mobile">1</span> <mat-radio-button class="radio" [checked]="step==1" (click)="moveStep(1)"></mat-radio-button></div>
                <div class="progress"><span>Question 2</span><span class="radio-mobile">2</span> <mat-radio-button class="radio" [checked]="step==2" (click)="moveStep(2)"></mat-radio-button></div>
                <div class="progress"><span>Question 3</span><span class="radio-mobile">3</span> <mat-radio-button class="radio" [checked]="step==3" (click)="moveStep(3)"></mat-radio-button></div>
                <div class="progress"><span>Question 4</span><span class="radio-mobile">4</span> <mat-radio-button class="radio" [checked]="step==4" (click)="moveStep(4)"></mat-radio-button></div>
                <div class="progress"><span>Question 5</span><span class="radio-mobile">5</span> <mat-radio-button class="radio" [checked]="step==5" (click)="moveStep(5)"></mat-radio-button></div>
                <div class="progress"><span>Question 6</span><span class="radio-mobile">6</span> <mat-radio-button class="radio" [checked]="step==6" (click)="moveStep(6)"></mat-radio-button></div>
                <div class="progress"><span>Question 7</span><span class="radio-mobile">7</span> <mat-radio-button class="radio" [checked]="step==7" (click)="moveStep(7)"></mat-radio-button></div>
                <div class="progress"><span>Question 8</span><span class="radio-mobile">8</span> <mat-radio-button class="radio" [checked]="step==8" (click)="moveStep(8)"></mat-radio-button></div>
              </div>
            </div>
        </div>
      </div>
      <div class="box-body-2" id="body-container">
        <div class="row-2">
            <div class="question-box-container" [ngClass]="{'active' : step==1}" id="question1">
              <div class="overlay" (click)="moveStep(1)"></div>
              <div class="question-box">
                <div class="question">
                  <span class="title-question">Question 1:</span>
                  <div class="question-container"><span class="text-question">What is your primary objective for this portfolio?</span></div>
                  <mat-radio-group>
                    <div class="choices-container" (click)="moveStep(2)">
                      <mat-radio-button class="radio-choice" value="1">Preserve my savings</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="2">Fund education expenses</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="3">Save for a major purchase</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="4">Provide for my retirement</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="5">Maximize long-term growth</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="question-box-container" [ngClass]="{'active' : step==2}"  id="question2">
            <div class="overlay" (click)="moveStep(2, q2)"></div>
            <div class="question-box">
              <div class="question">
                <span class="title-question">Question 2:</span>
                <div class="question-container"><span class="text-question">When will you begin withdrawing money from this portfolio?</span></div>
                <mat-radio-group>
                  <div class="choices-container" (click)="moveStep(3)">
                    <mat-radio-button class="radio-choice" value="1">Within the next 3 years</mat-radio-button>
                    <mat-radio-button class="radio-choice" value="2">Within the next 3-5 years</mat-radio-button>
                    <mat-radio-button class="radio-choice" value="3">Within the next 6-10 years</mat-radio-button>
                    <mat-radio-button class="radio-choice" value="4">After the next 11 years</mat-radio-button>
                    <mat-radio-button class="radio-choice" value="5">I don't plan to withdraw money from this portfolio</mat-radio-button>
                  </div>
                </mat-radio-group>
              </div>
            </div>
          </div>
            <div class="question-box-container" [ngClass]="{'active' : step==3}"  id="question3">
            <div class="overlay" (click)="moveStep(3)"></div>
              <div class="question-box">
                <div class="question">
                  <span class="title-question">Question 3:</span>
                  <div class="question-container"><span class="text-question">Once you begin withdrawing money from this portfolio, how long do you anticipate continuing these withdrawals until you've withdrawn all your money?</span></div>
                  <mat-radio-group>
                    <div class="choices-container" (click)="moveStep(4)">
                      <mat-radio-button class="radio-choice" value="1">One-time withdrawal of entire account value</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="2">1-2 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="3">3-5 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="4">6-10 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="5">11 years or more</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="question-box-container" [ngClass]="{'active' : step==4}"  id="question4">
              <div class="overlay" (click)="moveStep(4)"></div>
              <div class="question-box">
                <div class="question">
                  <span class="title-question">Question 4:</span>
                  <div class="question-container"><span class="text-question">Once you begin withdrawing money from this portfolio, how much do you anticipate withdrawing each year?</span></div>
                  <mat-radio-group>
                    <div class="choices-container" (click)="moveStep(5)">
                      <mat-radio-button class="radio-choice" value="1">One-time withdrawal of entire account value</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="2">1-2 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="3">3-5 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="4">6-10 years</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="5">11 years or more</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="question-box-container" [ngClass]="{'active' : step==5}"  id="question5">
              <div class="overlay" (click)="moveStep(5)"></div>
              <div class="question-box">
                <div class="question">
                  <span class="title-question">Question 5:</span>
                  <div class="question-container"><span class="text-question">Markets move up and down on a regular, but unpredictable, basis. If you invested your <strong>$800,000</strong> and the markets went down, at what point would you begin to feel uncomfortable?</span></div>
                  <mat-radio-group>
                    <div class="choices-container" (click)="moveStep(6)">
                      <mat-radio-button class="radio-choice" value="1">Any decline would make me feel uncomfortable</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="2">My portfolio declines to <strong>$800,000</strong> X (1-0.05) (a 5% decline)</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="3">My portfolio declines to <strong>$800,000</strong> X (1-0.10) (a 10% decline)</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="4">My portfolio declines to <strong>$800,000</strong> X (1-0.20) (a 20% decline)</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="5">My portfolio declines to <strong>$800,000</strong> X (1-0.30) (a 30% decline)</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="6">My portfolio declines to <strong>$800,000</strong> X (1-0.40) (a 40% decline)</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="question-box-container" [ngClass]="{'active' : step==6}"  id="question6">
              <div class="overlay" (click)="moveStep(6)"></div>
              <div class="question-box">
                <div class="question">
                  <span class="title-question">Question 6:</span>
                  <div class="question-container"><span class="text-question">For this portfolio, which of these statements best describes your attitude about declines over the next three months?</span></div>
                  <mat-radio-group>
                    <div class="choices-container" (click)="moveStep(7)">
                      <mat-radio-button class="radio-choice" value="1">I'd have a hard time accepting my declines</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="2">I can tolerate small short-term declines</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="3">I can tolerate moderate short-term declines</mat-radio-button>
                      <mat-radio-button class="radio-choice" value="4">I wouldn't worry about declines in that timeframe</mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="question-box-container" [ngClass]="{'active' : step==7}"  id="question7">
              <div class="overlay" (click)="moveStep(7)"></div>
                <div class="question-box">
                  <div class="question">
                    <span class="title-question">Question 7:</span>
                    <div class="question-container"><span class="text-question">Return and risk are related. If you want more return you must be willing to take more risk. Pick a point in the graph where you feel comfortable with potential return and risk.</span></div>
                    <div class="choices-container">
                      <div class="question7-canvas-container">
                        <div class="canvas-container">
                          <canvas class="q7chart" #q7chart></canvas>
                        </div>
                        <div class="lbl-canvas">Risk</div>
                        <div class="lbl-canvas verticaltext_content">Return</div>
                      </div>
                      <button [disabled]="!btnQ7Continue" (click)="moveStep(8)">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="question-box-container" [ngClass]="{'active' : step==8}"  id="question8">
                <div class="overlay" (click)="moveStep(8)"></div>
                <div class="question-box">
                  <div class="question">
                    <span class="title-question">Question 8:</span>
                    <div class="question-container"><span class="text-question">Assuming normal, long-term stock market conditions, how would you expect this portfolio to perform over time?</span></div>
                    <mat-radio-group>
                      <div class="choices-container">
                        <mat-radio-button class="radio-choice" value="1">To have a high degree of stability but make small gains</mat-radio-button>
                        <mat-radio-button class="radio-choice" value="2">To trail the stock market but make moderate gains</mat-radio-button>
                        <mat-radio-button class="radio-choice" value="3">To generally keep pace with the stock market</mat-radio-button>
                        <button (click)="riskMoveStepTo(5)">Submit</button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
        </div>
      </div>
  
    </div>
  </div>

</section>