<div class="tab-title-mobile"><div><span class="title-text-mobile"> Simulation </span></div></div>
<div class="overlay"></div>
<div class="modal-container">
  <div class="modal-box">
    <i class="exit"></i>
      <div class="modal-warn-box">
          <div class="content">
              <i class="warning-icon"></i>
              <span>To View/Modify the Specifics of this Portfolio, Please View on a Tablet or Desktop.</span>
              <button class="btn-back">Back</button>
          </div>
      </div>
  </div>
</div>
<div class="simulation-container"  [ngClass]="{'sidebar-is-open' : isSidebarOpen}">
  <div class="overlay"></div>
  <div class="sidebar-container" [ngClass]="{'open' : isSidebarOpen}">
    <div class="toggle-container">
      
      <a class="toggler toggle-show" *ngIf="!isCurrentActive"  (click)="isCurrentActive=true">Show <i class="icon-show"></i></a>

      <a class="toggler toggle-open" (click)="openSidebar()">Open</a>
      <a class="toggler toggle-close" (click)="closeSidebar()">Close</a>
    </div>
    <div class="sidebar">
      <div class="sidebar-content-container">
        <div class="sidebar-content">

          <div class="box">
            <div class="title-container"><span class="box-title">Investment Amount:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <span class="text-value first-box">$800,000.00</span>
          </div>

          <div class="box">
            <div class="title-container"><span class="box-title">Goal:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="dropdown-container"><app-dropdown-update-account [type]="'simulation-goal'"></app-dropdown-update-account></div>
          </div>
          <div class="box" *ngIf="goalType!='Retirement' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Years from now:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="years_from_now" class="slider" min="1" max="100" step="1" thumbLabel value="2"></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">1</span><span class="label-text">110</span></div></div>
            <div class="dropdown-container">
              <input type="text" placeholder="1" class="" [(ngModel)]="years_from_now" />
            </div>
          </div>

          <div class="box" *ngIf="goalType!='Retirement' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Target Date amount:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="dropdown-container">
              <input type="text" placeholder="" value="0" class="" />
            </div>
          </div>
          <div class="box small-texts" *ngIf="goalType!='Retirement' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Annual Savings:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="annual_savings" class="slider" min="0" max="500000" step="1000" thumbLabel value="1"></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">$500,000</span></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">{{annual_savings}}$</span></div></div>
          </div>
          <div class="box" *ngIf="goalType!='Long-Term Growth' && goalType!='Major Purchase'">
            <div class="title-container"><span class="box-title">Annual Distribution:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="radio-container">
              <div class="radio-content">
                <mat-radio-button class="hasToolTip">
                  <div class="radio-text">Fixed Amount ($)
                    <div class="tooltip-content">
                      Dollar amount of the annual distribution in today's dollar.
                    </div>
                  </div>
                  
                </mat-radio-button>
                <mat-radio-button class="radio-2 hasToolTip">
                  <div  class="radio-text">Fixed Rate (%)
                  <div class="tooltip-content">
                    Annual distribution as a percentage of the overall portfolio
                  </div>
                  </div>
                </mat-radio-button>
              </div>
            </div> 
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">$32,000</span></div></div>
          </div>
          <div class="box">
            <div class="title-container"><span class="box-title">Inflation:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="radio-container"><div class="radio-content"><mat-radio-button color="accent"><span class="radio-text">Estimate</span></mat-radio-button><mat-radio-button class="radio-2"><span  class="radio-text">User Defined</span></mat-radio-button></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">2%</span></div></div>
          </div>
          <div class="box">
              <div class="title-container"><span class="box-title">Fee Adjustment:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
              <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="fee_adjustment" class="slider" min="0" max="2.5" step=".1" thumbLabel value="1"></mat-slider></div></div>
              <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">2.5</span></div></div>
              <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">{{fee_adjustment}}%</span></div></div>
              <div class="radio-container"><div class="radio-content"><mat-radio-button><span  class="radio-text">Fixed Amount ($)</span></mat-radio-button></div></div>
          </div>
          <div class="box" *ngIf="goalType!='Long-Term Growth' && goalType!='Major Purchase' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Current Age:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="current_age" class="slider" min="0" max="110" step="1" thumbLabel value="45"></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">110</span></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">{{current_age}}</span><span class="age-year">years old</span></div></div>
          </div>
          <div class="box" *ngIf="goalType!='Long-Term Growth' && goalType!='Major Purchase' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Distribution Age:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="distribution_age" class="slider" min="0" max="110" step="1" thumbLabel value="65"></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">110</span></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">{{distribution_age}}</span><span class="age-year">years old</span></div></div>
          </div>
          <div class="box" *ngIf="goalType!='Long-Term Growth' && goalType!='Major Purchase' && goalType!='Fund Education'">
            <div class="title-container"><span class="box-title">Life Expectancy:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="life_expectancy" class="slider" min="0" max="110" step="1" thumbLabel value="95"></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">110</span></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">{{life_expectancy}}</span><span class="age-year">years old</span></div></div>
          </div>
          <div class="box small-texts" *ngIf="goalType!='Long-Term Growth' && goalType!='Major Purchase'">
            <div class="title-container"><span class="box-title">Annual Saving:</span><app-tooltip>Amount of money <br /> invested towards <br /> the goal.</app-tooltip></div>
            <div class="slider-container"><div class="slider-content"><mat-slider [(ngModel)]="annual_saving" class="slider" min="0" max="500000" step="10000" thumbLabel ></mat-slider></div></div>
            <div class="slider-label-container"><div class="slider-label"><span class="label-text">0</span><span class="label-text">$500,000</span></div></div>
            <div class="dropdown-container"><div class="dropdown-content"><span class="text-value">${{annual_saving}}</span></div></div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="content-container" [ngClass]="{'closed' : !isCurrentActive}">
    <div class="row-1">  
      <div class="row-1-content clearfix">
        <div class="left-section-container">
          <div class="left-head-container">
            <div class="left-head">
            <div class="flex-left">
              <div><span class="text-light">Current Portfolio</span><br/><span class="text-bold">Current holdings</span></div>
              <div class="score-container"><span class="text-small">Equity</span><br/><span class="text-small-gray">Risk score: 87-100 (87)</span></div>
            </div>
            <div class="flex-right">
              <div class="btn-container"><button class="btn-hide" (click)="hideCurrent()"><span class="btn-hide-text">Hide</span><i class="hide-icon"></i></button></div>
            </div>
          </div>
        </div>
        <div class="left-section-body">
            <div class="img-container">
              <div class="current_portfolio_chart_container">
                <div class="cpcc-header">
                  <h3>Current Portfolio</h3>
                  <div class="cpcch-right">
                    <span>Current Target Portfolio</span>
                    <button>Current Holdings</button>
                  </div>
                </div>
                <div class="canvas-container">
                  <canvas height="200" #current_portfolio_chart></canvas>
                </div>
                <div class="progress-chart">
                  <span class="progress"></span>
                </div>
                <div class="progress-summary">
                  <span>Probability of success</span>
                  <span class="big-text">
                    <strong>60</strong>%
                  </span>
                </div>
              </div>
              <div class="allocation_charts mobile-only">
                  <div class="title">
                      <h3>Current <br />Allocation</h3>
                  </div>
                  <canvas height="200" #piea_chart_mobile></canvas>
              </div>
              </div>
            <div class="graph-container">
            </div>
              <div class="table-container mobile-only">
                  <table>
                    <tr>
                      <th colspan="2">Projected Returns vs. Volatility</th>
                    </tr>
                    <tr>
                        <td>Total return</td>
                        <td>6.19%</td>
                      </tr>
                      <tr>
                        <td>Inflation rate</td>
                        <td>2.00%</td>
                      </tr>
                      <tr>
                        <td>Real return</td>
                        <td>4.19%</td>
                      </tr>
                      <tr>
                        <td>Standard Deviation</td>
                        <td>14.79%</td>
                      </tr>
                  </table>
            </div>
          </div>
        </div>
      <div class="right-section-container">
          <div class="right-head-container">
            <div class="right-head">
            <div class="flex-left">
              <div><span class="text-light">Recommended Portfolio</span><br/><span class="text-bold">Jennica Fernen Capital<br/>Appreciation - DFA</span></div>
              <div class="score-container"><span class="text-small">Capital Appreciation</span><br/><span class="text-small-green">Risk score: 72-86 (82)</span></div>
            </div>
            <div class="flex-right">  
              <div class="btn-container"><button class="btn-action"><span class="btn-action-text">Actions</span><i class="icon-menu action-icon"></i></button></div>
            </div>
          </div>
        </div>
          <div class="right-section-body">
              <div class="img-container">
                  <div class="current_portfolio_chart_container recommended">
                      <h3>Recommended Portfolio</h3>
                      <div class="canvas-container">
                        <canvas height="200" #recommended_portfolio_chart></canvas> 
                      </div>
                      <div class="progress-chart">
                        <span class="progress"></span>
                      </div>
                      <div class="progress-summary">
                        <span>Probability of success</span>
                        <span class="big-text">
                          <strong>80</strong>%
                        </span>
                      </div>
                    </div>
                <div class="allocation_charts mobile-only">
                    <div class="title">
                        <h3>RECOMMENDED <br />Allocation</h3>
                    </div>
                    <canvas height="200" #pieb_chart_mobile></canvas>
                </div>
              </div>
              <div class="graph-container">
              </div>
              <div class="table-container mobile-only">
                  <table>
                    <tr>
                      <th colspan="2">Projected Returns vs. Volatility</th>
                    </tr>
                    <tr>
                      <td>Total return</td>
                      <td>7.14%</td>
                    </tr>
                    <tr>
                      <td>Inflation rate</td>
                      <td>2.00%</td>
                    </tr>
                    <tr>
                      <td>Real return</td>
                      <td>5.14%</td>
                    </tr>
                    <tr>
                      <td>Standard Deviation</td>
                      <td>14.01%</td>
                    </tr>
                  </table>
            </div>
        </div>
      </div>  
    </div>
    <div class="row-2-3-container  desktop-only">
      <div class="row-2">
        <div class="row-2-content">
          <div class="graph-container">
              <div id="allocation_charts" class="allocation_charts desktop-only">
                  <div class="title">
                      <h3>Current <br />Allocation</h3>
                  </div>
                  <canvas height="250" #piea_chart></canvas>
              </div>

          </div>
          <div class="table-container desktop-only">
            <table>
              <tr>
                <th colspan="3">Projected Returns vs. Volatility</th>
              </tr>
              <tr>
                <td>6.19%</td>
                <td>Total return</td>
                <td>7.14%</td>
              </tr>
              <tr>
                <td>2.00%</td>
                <td>Inflation rate</td>
                <td>2.00%</td>
              </tr>
              <tr>
                <td>4.19%</td>
                <td>Real return</td>
                <td>5.14%</td>
              </tr>
              <tr>
                <td>14.79%</td>
                <td>Standard Deviation</td>
                <td>14.01%</td>
              </tr>
            </table>
          </div>
          <div class="graph-container">
              <div class="allocation_charts recommended desktop-only">
                  <div class="title">
                      <h3>Recommended <br />Allocation</h3>
                  </div>
                  <canvas height="250" #pieb_chart></canvas>
              </div>
          </div>
        </div>
      </div>
      <div class="row-3">
        <div class="row-3-content">
          <div class="table-container">
            <table>
              <tr>
              <th colspan="4">Portfolio Allocation Comparison & Results</th>
              </tr>
              <tr class="sub-header">
                <td >Current Portfolio</td>
                <td rowspan="2">Asset Class</td>
                <td>Capital Appreciation (72-86)</td>
                <td rowspan="2">Increase/<br/>Decrease</td>
              </tr>
              <tr class="sub-header">
                <td>% of total</td>
                <td>% of total</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-1"></div><div><span class="asset-class">Cash & Cash Alternatives</span></div></div></td>
                <td>3%</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-2"></div><div><span class="asset-class">U.S. Short Investment Grade Bonds</span></div></div></td>
                <td>47%</td>
                <td>47%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-3"></div><div><span class="asset-class">Global Short Bonds</span></div></div></td>
                <td>12%</td>
                <td>12%</td>
              </tr>
              <tr>
                <td>81%</td>
                <td><div class="td-2-container"><div class="circle color-4"></div><div><span class="asset-class">U.S. Small Neutral Stocks</span></div></div></td>
                <td>9%</td>
                <td>(72%)</td>
              </tr>
              <tr>
                <td>14%</td>
                <td><div class="td-2-container"><div class="circle color-5"></div><div><span class="asset-class">U.S. Large Neutral Stocks</span></div></div></td>
                <td>0%</td>
                <td>(14%)</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-6"></div><div><span class="asset-class">U.S. Stocks</span></div></div></td>
                <td>6%</td>
                <td>6%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-7"></div><div><span class="asset-class">Emerging Markets Stocks</span></div></div></td>
                <td>11%</td>
                <td>11%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-8"></div><div><span class="asset-class">International Small Neutral Stocks</span></div></div></td>
                <td>5%</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-9"></div><div><span class="asset-class">International Large Neutral Stocks</span></div></div></td>
                <td>4%</td>
                <td>4%</td>
              </tr>
              <tr>
                <td>0%</td>
                <td><div class="td-2-container"><div class="circle color-10"></div><div><span class="asset-class">REITs</span></div></div></td>
                <td>3%</td>
                <td>3%</td>
              </tr>
              <tr>
                <td>5%</td>
                <td><div class="td-2-container"><div class="circle color-11"></div><div><span class="asset-class">Other</span></div></div></td>
                <td>0%</td>
                <td>(5%)</td>
              </tr>
              <tr class="row-total">
                <td>100%</td>
                <td>Total:</td>
                <td>100%</td>
                <td>0%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>