<div class="screen-container">
  <div class="calendar-modal-container">
    <div class="calendar-modal-box"> 
      <div class="col">
        <div class="radio-container"><mat-radio-button class="radio"><span>Year to Date</span></mat-radio-button></div>
        <div class="radio-container"><mat-radio-button class="radio"><span>Month to Date</span></mat-radio-button></div>
        <div class="radio-container"><mat-radio-button class="radio"><span>Quarter to Date</span></mat-radio-button></div>
        <div class="radio-container"><mat-radio-button class="radio"><span>Custom Range</span></mat-radio-button></div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</div>