@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,600,800,900');
$primaryfont: "montserrat", sans-serif;
$secondaryfont: "museo-sans", calibri;
.overlay{
    background-color: rgba(255,255,255, 0.5);
    z-index:1;
    position: absolute;
    top:0;
    bottom: 0; 
    right: 0; 
    left: 0;  
}
.container-overlay{
    display: flex;
    justify-content: center;
    z-index:100;
    position: fixed;
    top:0;
    bottom: 0; 
    right: 0; 
    left: 0; 
    @media only screen and (max-width:767px){
        padding:10px;
    }
    .container-modal{
        position: relative;
        min-width: 355px;
        margin-top: 110px;
        width: 1000px;
        height: 460px;
        border-radius: 6px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
        padding: 30px 60px;
        z-index:100;
        background-color: white;
        @media only screen and (max-width:767px){
            width: auto;
            flex: 1;
            height: auto;
            padding: 10px;
        }
        .icon-exit{
            position: absolute;
            top:10px;
            right: 10px;
            width: 20px;
            height: 20px;
            content: url("../../../assets/icons/exit-white.svg");
        }
        .modal-header{
            text-align: center;
            position: relative;

            h3{
                font-family: $primaryfont;
                font-size: 30px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.07;
                letter-spacing: -0.8px;
                text-align: center;
                color: #1598cb;
            }
        }

        .modal-body{
            .input-field{
                display: flex;
                font-family: $secondaryfont;
                flex-direction: column;
                input[type=text]{
                    padding: 0 10px;
                }
                .input-text{
                    position: relative;
                    width: 100%;
                    border-radius: 6px;
                    background-color: #ffffff;
                    font-size: 14px;
                    color: #c5c5c5;
                    font-family: $secondaryfont;
                    font-size: 14px;
                    height: 45px;
                    font-weight: 300;
                    border: 1px solid #e7e6e6;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    // text-indent: 20px;
                    
                    &.details{
                        margin: 0;
                        border-radius: 6px 6px 0 0;
                        border-bottom: 0;
                    }

                    summary{
                        outline: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 44px;
                        padding:0px 10px;
                    }

                    .container-recepient{
                        position: absolute;
                        background-color: #ffffff;
                        z-index: 90;
                        width: 100%;
                        box-shadow: 0 15px 40px #dcd9d9;
                        margin-top:  5px;
                        padding-bottom: 10px;
                        border-radius: 0 0 6px 6px;

                        .recepient-item{
                                word-wrap: break-word;
                                .option-container{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .option-right{
                                        text-align: right;
                                        display: flex;
                                    }
                                }
                                mat-radio-button:first-child{
                                    border-top: #e7e6e6 1px solid;
                                    border-bottom: #e7e6e6 1px solid;
                                }
                                mat-radio-label{
                                    flex:1;
                                    display:flex;
                                }
                                mat-radio-button{
                                    display: flex;
                                    font-weight: 600px;
                                    font-family: $secondaryfont;
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: #000;
                                    // text-indent: 10px;
                                    padding:10px;
                                   

                                    .recepient-email{
                                        font-weight: 100;
                                        // text-indent: 20px;
                                    }

                                    a{
                                        font-family: $primaryfont;
                                        font-weight: bold;
                                        font-size: 10px;
                                        text-decoration: none;
                                        color: #269fcf;
                                        font-weight: 600;
                                        letter-spacing: 1.5px;
                                     }
                            }
                        }

                        .recepient-input{
                            // text-indent: 0;
                            border-top: 1px solid #dedede;
                            padding: 10px;

                            input{
                                width: 100%;
                                border-radius: 6px;
                                background-color: #ffffff;
                                font-size: 14px;
                                color: #c5c5c5;
                                font-family: $secondaryfont;
                                font-size: 14px;
                                height: 45px;
                                line-height:45px;
                                font-weight: 300;
                                border: 1px solid #e7e6e6;
                                box-sizing: border-box;
                                margin-bottom: 10px;
                                padding: 15px;
                            }

                            textarea{
                                resize: none;
                                width: 100%;
                                border-radius: 6px;
                                background-color: #ffffff;
                                font-size: 14px;
                                color: #c5c5c5;
                                font-family: $secondaryfont;
                                font-size: 14px;
                                font-weight: 300;
                                border: 1px solid #e7e6e6;
                                box-sizing: border-box;
                                margin-bottom: 10px;
                                padding: 15px;
                                // text-indent: 0;
                            }


                            button{
                                width: 120px;
                                text-transform: uppercase;
                                font-family: $primaryfont;
                                background-color: #269fcf;
                                border: 1px solid #269fcf;
                                color: #ffffff;
                                float: right;
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                }

                .input-textarea{
                    width: 100%;
                    resize: none;
                    border-radius: 0 0 6px 6px;
                    background-color: #ffffff;
                    font-size: 14px;
                    color: #c5c5c5;
                    font-family: $secondaryfont;
                    font-size: 14px;
                    height: 140px;
                    line-height:45px;
                    font-weight: 300;
                    border: 1px solid #e7e6e6;
                    box-sizing: border-box;
                    padding: 15px;
                    margin-bottom: 10px;
                }
            }
        }

        .modal-footer{
            button{
                float: right;
                border: 1px solid #1f9ccd;
                color: #1f9ccd;
                border-radius: 6px;
                margin-top: 12px;
            }
        }
    }
}
::ng-deep  .container-modal .mat-radio-label{
    flex: 1;
    white-space: initial;
}
::ng-deep .mat-radio-label-content{
    flex: 1;
}