<div class="container-overlay fade">
  <div class="container-modal">
    <div class="modal-header">
      <h3>Risk Assessment Questionnaire</h3>
    </div>
    <div class="modal-body">
      <div class="input-field">
        <input type="text" class="input-text">
      </div>
      <div class="input-field">
        <input type="text" class="input-text">
      </div>
      <div class="input-field">
        <input type="text" class="input-text">
      </div>
      <div class="input-field">
        <textarea>Message</textarea>
      </div>
    </div>
  </div>
</div>