app-household-member {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:1;
    transition:all 0.3s linear;
    z-index: 99;
    
}
.household-list-component {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:1;
    transition:all 0.3s linear;
}
.overlay{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:60;
}
.box-container{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    z-index: 70;
    top: 50px;
    @media only screen and (max-width: 767px){
        padding: 0px 10px;
        top: 110px;
    }
    .box-content{
        width: 1000px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.7);
        border-radius: 6px;
        background-color: white;
        margin: auto;
        min-width: 355px;
        @media only screen and (max-width: 767px){
            width: 100%;
        }
        .box-head{
            background-color: #1598cb;
            border-radius: 6px 6px 0px 0px;
            padding: 13px 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 767px){
                padding: 10px;
            }
            .left-section{
                .box-title{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .text-title{
                    font-family: Montserrat, sans-serif;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                }
                .text-subtitle{
                    font-family: Montserrat, sans-serif;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1.13;
                    letter-spacing: -0.2px;
                    color: #fff;
                }
            }

        }
            .right-section{
                .add-container{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .text-add{
                        font-family: Montserrat, sans-serif;
                        font-size: 12px;
                        color: white;
                        text-transform: uppercase;
                        font-weight:600;
                    }
                    .icon-add{
                        padding-right:10px;
                        width: 20px;
                        content: url("../../../assets/component/household-list/add-white.png");
                    }
                }
            }
        }
        .box-body{
            display: flex;
            flex-direction: column;
            .row-search{
                border-bottom:1px solid #e7e6e6;
                flex: 1;
                padding: 15px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media only screen and (max-width: 767px){
                    padding: 10px;
                    align-items: initial;
                    flex-direction: column;
                }
                .left-section{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media only screen and (max-width: 767px){
                        flex-direction: column;
                        align-items: initial;
                    }
                    .option-container{
                        display: flex;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                    }
                    .option{
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        @media only screen and (max-width: 767px){
                            padding-left: 0px;
                            margin-top: 15px;
                        }
                        .text-radio-button{
                            font-family: Montserrat, sans-serif;
                            font-size: 10px;
                            font-weight: 500;
                        }
                        i {
                            width: 15px;
                            padding-left: 5px;
                        }
                        .icon-myclient{
                            
                            content: url("../../../assets/brand-logos/clientcenter.PNG");
                        }
                        .icon-orion{
                            content: url("../../../assets/brand-logos/orion.PNG");
                        }
                        .icon-redtail{
                            content: url("../../../assets/brand-logos/redtail.PNG");
                        }
                    }
                    .text-search-container{
                        .text-search{
                            font-family: Montserrat, sans-serif;
                            font-size: 12px;
                            text-transform: uppercase;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: #77787b;
                        }
                    }
                }
                .right-section{
                    .search-container{
                        @media only screen and (max-width: 767px){
                            display: flex;
                        }
                        input[type=text]{
                            width:300px;
                            height: 100%;
                            border-radius: 6px;
                            padding: 10px 40px;
                            border: 1px #ddd solid;
                            font-size:12px;
                            font-family: Montserrat, sans-serif;
                            background: url("../../../assets/component/household-list/search-gray.png") no-repeat 10px 8px;
                            @media only screen and (max-width: 767px){
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
            .row-content{
                padding: 20px 0px 30px;
                .brand-container{
                    .brand-box{
                        padding:15px 30px;
                    }
                    .row-1{
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            align-items: initial;
                            justify-content: initial;
                        }
                        .brand-logo-container{
                            @media only screen and (max-width: 767px){
                                display: flex;
                                justify-content: center;
                            }
                            .logo-brand{
                                padding-right: 60px;
                                width: 160px;
                                @media only screen and (max-width: 767px){
                                    padding-right: 0px;
                                    width: auto;
                                }
                            }
                        }
                        .information-container{
                            @media only screen and (max-width: 767px){
                                text-align: center;
                                margin-top: 15px;
                            }
                        }
                        .information-container span{
                            font-family: museo-sans, sans-serif;
                            color: #77787b;
                            line-height: 1.22;
                            font-weight: 500;
                            font-size: 18px;
                            font-weight: 300;
                        }
                    }
                    .row-2{
                        margin-top:5px;
                        display:flex;
                        align-items: center;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            align-items: initial;
                        }
                        .email-container{
                           flex: 1;
                           display: flex;
                           justify-content: flex-start;
                            input[type=text]{
                                width: 85%;
                                height: 100%;
                                border-radius: 6px;
                                padding: 14px 20px;
                                border: 1px #ddd solid;
                                font-size:12px;
                                font-family: Montserrat, sans-serif;
                                @media only screen and (max-width: 767px){
                                   width: auto;
                                   flex:1;
                                }
                            }
                        }
                        .password-container{
                            flex: 1;
                            display: flex;
                            justify-content: flex-end;
                            @media only screen and (max-width: 767px){
                                margin-top: 10px;
                             }
                            input[type=password]{
                                width: 85%;
                                height: 100%;
                                border-radius: 6px;
                                padding: 14px 20px;
                                border: 1px #ddd solid;
                                font-size:12px;
                                font-family: Montserrat, sans-serif;
                                @media only screen and (max-width: 767px){
                                    width: auto;
                                    flex:1;
                                 }
                            }
                        }
                        ::placeholder{
                            color: #ddd;
                        }
                    }
                    .row-3{
                        margin-top: 30px;
                        .btn-container{
                            padding-right:30px;
                            display: flex;
                            justify-content: flex-end;
                            @media only screen and (max-width: 767px){
                                justify-content: center;
                                padding-right: 0px;
                            }
                            button:first-child{
                                margin-right: 20px;
                            }
                            .btn-load{
                                width: 160px;
                                height: 45px;
                                border-radius: 6px;
                                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
                                background-color: #ffffff;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 12px;
                                font-weight: 700;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.9px;
                                text-align: center;
                                color: #1598cb;
                                border: 1px #1598cb solid;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .table-container{
                    display:flex;
                    flex-direction: column;
                    table{
                        flex:1;
                        border-collapse: collapse;
                        @media only screen and (max-width: 767px){
                            tr td:nth-child(3), tr td:nth-child(4), tr td:nth-child(5), tr td:nth-child(6),
                            tr th:nth-child(3),tr th:nth-child(4), tr th:nth-child(5), tr th:nth-child(6){
                                display:none;
                            }
                         }
                        th{
                            font-family:Montserrat, sans-serif;
                            font-size: 10px;
                            text-transform: uppercase;
                            padding: 20px 30px;
                        }
                        th .icon-dropdown{
                            padding-left: 6px;
                            cursor: pointer;
                            width: 10px;
                            content: url("../../../assets/component/household-list/arrow-gray.png");
                        }
                        td {
                            padding: 10px 30px;
                            font-size: 10px;
                            font-family:Montserrat, sans-serif;
                            color: rgba(65, 64, 66, 1)
                        }
                        tr:first-child{
                            background-color:#f7f7f7;
                        }
                        tr td:first-child, tr th:first-child{
                            text-align: center;
                        }
                        tr:first-child th:nth-child(2), tr td:nth-child(2){
                            text-align:left;
                        }
                        tr:first-child th:nth-child(3), tr td:nth-child(3){
                            text-align:center;
                        }
                        tr th:nth-child(4), tr td:nth-child(4){
                            text-align:left;
                        }
                        tr th:last-child, tr td:last-child{
                            text-align:left;
                        }
                        tr{
                            border-bottom: 1px #ddd solid;
                        }
                    }
                }
                    .row-3{
                        margin-top: 30px;
                        .btn-container{
                            display: flex;
                            justify-content: flex-end;
                            padding-right:30px;
                            @media only screen and (max-width: 767px){
                                justify-content: center;
                                padding-right: 0px;
                            }
                            button:first-child{
                                margin-right: 20px;
                            }
                            .btn-load{
                                width: 160px;
                                height: 45px;
                                border-radius: 6px;
                                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
                                background-color: #ffffff;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 12px;
                                font-weight: 700;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: normal;
                                letter-spacing: 0.9px;
                                text-align: center;
                                color: #1598cb;
                                border: 1px #1598cb solid;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
