<div class="screen-container">
  <div class="overlay"></div>
    <div class="popup-container">
        <div class="popup-box">
            <div class="box-head">
                <span>Document Email Language</span>
            </div>
            <div class="box-body">
                <div class="left-section">
                    <div class="option">
                        <span>Loring Ward Default Email Language:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient"><span>Your Investment Proposal & Other Documents from [Advisor Name] with [Firm Name]</span></div>
                        <div class="message-box">
                            <p>Hello [client name].</p>
                            <p>[Advisor Name] with [Firm Name] would like to share a completed Investment Proposal with you (as well as additional related documents)</p>
                            <p>This Proposal is based on your answers to [Firm's Name]'s investor questionnaire. [Advisor Name] will be following up with you soon to discuss the results and see if you have any questions.</p>
                            <p><a href="#"><strong>Click Here to Access the Investment Proposal</strong></a></p>
                            <p>Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly.</p>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="option">
                        <span>Type your own Email Language:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient">
                          <span> Subject </span>
                        </div>
                        <div class="message-box">
                            <p> Start Typing... </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-cancel" (click)="closeMe()">Cancel</button>
                <button (click)="closeMe()">
                    <i class="icon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>