<div class="household-container">
<div class="content-container">
  <div class="box-container">
      <div class="box">
       <div class="box-head">
          <div class="title-box">
              <span class="title">Advisor Search</span><br/>
              <span class="subtitle">Search & Select Advisors to Create On Their Behalf</span>
          </div>
    
          <div class="title-box">
              <div class="search">
                  <div class="input-text"><input type="text" placeholder="Search By Firm or Advisor Name"></div>
              </div>
          </div>
        </div>
         <div class="table-container">
            <table class="table">
              <thead>
                <tr class="header">
                  <th class="align-center">Select</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Firm Name</th>
                  <th>Email</th>
                  <th>Login Code</th>
                </tr>
                </thead>
              <tbody>
                <tr class="">
                  <td class="align-center"><mat-radio-button (click)="checkedRadio($event)"></mat-radio-button></td>
                  <td>Kim</td>
                  <td>Mackrill</td>
                  <td>BAM Financial Advisors</td>
                  <td>kimmackrill@bamfinancial.com</td>
                  <td>705_KM16</td>
                </tr>
                <tr>
                    <td class="align-center"><mat-radio-button (click)="checkedRadio($event)"></mat-radio-button></td>
                    <td>Kim</td>
                    <td>Mackrill</td>
                    <td>BAM Financial Advisors</td>
                    <td>kimmackrill@bamfinancial.com</td>
                    <td>705_KM16</td>
                  </tr>
              </tbody>
            </table> 
         </div>
     </div>
   </div>
   <div class="box-container-2" [ngClass]="{'disabled' : !enabled}">
      <div class="box col-1">
       <div class="box-head  "><span class="header-title">Advisor Information</span></div>
         <div class="box-body">
            <div class="content-box" >
                <div class="profile-box" >
                  <div class="profile-pic-container">
                    <div class="profile-pic">
                      <img [src]="data.avatar">
                    </div>
                  </div>
                  <div class="profile-info">
                   <span class="name">{{data.name}}</span>
                   <br/><br/>
                   <span class="title-text">Email</span>
                   <br/>
                   <span class="title-info">{{data.email}}</span>
                   <br/><br/>
                   <span class="title-text"> Phone:</span>
                   <br/>
                   <span class="title-info">{{data.phone}}</span>
                   <br/><br/>
                   <span class="title-text">Address::</span>
                   <br/>
                   <span class="title-info">{{data.address}}</span>
                   <br/><br/>
                   <span class="title-text"> Firm Name:</span>
                   <br/>
                   <span class="title-info">{{data.firm_name}}</span>
                   <br/><br/>
                   <span class="title-text">Login Code:</span>
                   <br/>
                   <span class="title-info">{{data.login_code}}</span>
                  </div>
                 </div>
               </div>

               <div class="mask-holder"> <a class="mask" (click)="btnCreate()">create on their behalf</a> </div>
         </div>
     </div>
   </div>
</div>
</div>

<app-adviser-search-popup *ngIf="adviserSearchPopupModal"></app-adviser-search-popup>
