@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
$mainfont : 'montserrat';

    .align-right {
        text-align: right;
    }
    .align-center {
        text-align: center;
    }
    .align-left {
        text-align: left;
    }

    .space-left {
        padding-left: 10px;
    }
    .household-container {
        width: 100%;
       
    }
    .content-container {
        flex: 1; 
        display: flex;  
        align-items: flex-start;
        padding: 40px;
        @media only screen and (max-width: 767px){
            padding: 10px;
            flex-direction: column;
            align-items: initial;
        }
    }
    .box-container{
        flex: 3;
        margin-right: 30px; 
        border-radius: 6px;
        box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
        background-color: #ffffff;
        position:relative;
        @media only screen and (max-width: 767px){
            margin-right: 0px;
        }
        &.disabled {
            &:after {
                content : ' ';
                background:#fff;
                position:absolute;
                width:100%;
                height:100%;
                opacity: 0.8;
                top: 0;
            }
        }
        .box-head {
            height:65px;
            background-color: #1598cb;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 767px){
                height: auto;
                padding: 10px;
                align-items: initial;
                flex-direction: column;
            }
        
        }
    }
    .box-container-2{
        flex: 1; 
        border-radius: 6px;
        box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
        background-color: #ffffff;
        position:relative;
        @media only screen and (max-width: 767px){
            margin-top: 20px;
        }
        &.disabled {
            &:after {
                content : ' ';
                background:#fff;
                position:absolute;
                width:100%;
                height:100%;
                opacity: 0.8;
                top: 0;
            }
        }
        .box-head {
            height:65px;
            background-color: #1598cb;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            padding: 0px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
        }
    }
        input[type=text].text-try {
            border-radius: 6px;
            border: none;
            box-shadow: 0 1px 6px 0 rgba(52, 53, 52, 0.18);
            height: 45px;
            width:240px;
            padding-left:30px;
        } 
        ::placeholder {
            font-family: $mainfont;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #c5c5c5;
           
        }
  
    
    .table-container{
        height: auto;
        
    }
    .box-body {
        height:auto;
    }
    .normal-text {
        font-family: $mainfont;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: normal;
        color: #404041;
    }
    .text-box-container  {
        padding: 0px 20px;
        border-radius: 6px;
        background-color: #ffffff;
        margin-top:20px;
    }
    .text-box-head {
        padding: 15px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border: solid 1px #e7e6e6;
        background-color: #ffffff;
        border-bottom: none;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404041;
    }
    .text-box-body {
        height: 170px;
        padding: 15px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border: solid 1px #e7e6e6;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #414042;
        overflow-y: scroll;
    }
    .edit-text {
        text-transform: uppercase;
        font-family: $mainfont;
        font-size: 10px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        color: #ffffff;    
    }
    .small-title {
        font-family:$mainfont;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0;
        letter-spacing: 2px;
        color: #77787b;
        text-transform: uppercase;
        margin-left:15px;
    }
    .title-box{
        align-items: center;
        
    }
    .header-title {
        font-family: $mainfont;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.2px;
        color: #ffffff;
    }
    .title {
        font-family:$mainfont;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: 0.2px;
        color: #ffffff;
    }
    .subtitle {
        font-family: "museo-sans";
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.2px;
        color: #ffffff;
    }
    .member-name {
        font-family: $mainfont;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #414042;
        padding-left: 20px;
        
    }
    .member-info {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        border-bottom: solid 0.5px #e7e6e6;
        padding: 15px 0px 15px 0px;
    }
    .member-info:last-child {
        border-bottom: none;
    }
    .phone-email {
        height: auto;
        font-family: $mainfont;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #414042;
        padding-right: 20px;
        
    }
    .margin-left{
        margin-left: 30px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        word-wrap:break-word;
        table-layout: fixed;
       }
       tr.header {
        background-color: #fafbfc;
       }
       th:nth-child(5){
           width: 30%;
       }
       th:nth-child(4){
           width: 20%;
       }
       
       th {
            word-wrap: break-word;
            font-family: "Montserrat", sans-serif;
            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 0.8px;
            color: #414042;
            text-transform: uppercase;
            height: 45px;
            text-align: left;
         }
       td {
            word-wrap: break-word;
            height: 45px;
            font-family: "museo-sans";
            font-size: 11px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #414042;
            text-align: left;
        
       }
       tr:not(:last-child) td{
       border-bottom: 0.5px solid #e7e6e6;
       }
       tr.checked {
        background-color: #f2fafc;
       }
       tr.dropdown-item td{
        color:#414042;
    }
    .profile-box {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .profile-info{
        @media only screen and (max-width: 767px){
            box-sizing: border-box;
            word-break: break-word;
        }
    }
    .profile-pic-container {
        padding-right: 30px;
    }
    .profile-pic{
        width: 100px;
        height: 100px;
        // border: .5px black dashed;
        border-radius:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img{width: 200px}
    }
    
    .name {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: -0.2px;
        color: #414042;
    }
    .content-box{
        display: flex;
        justify-content: space-between;
       
    }
    .title-text {
        font-family: "Montserrat",sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: #77787b;
        text-transform: uppercase;
    }
    .title-info {
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #414042;
    }
    .mask-holder {
        display: flex;
        padding: 20px;
    }
    .mask {
        border-radius: 6px;
        box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
        border: solid 1px #f47a64;
        background-color: #f47a64;
        display: flex;
        flex:1;
        justify-content: center;
        align-content: center;
        padding: 16px 78px;
        font-family: $mainfont;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    .search{
        margin-top:-4px;
        color: black;
        .input-text{
            @media only screen and (max-width: 767px){
                display: flex;
            }
            input[type=text]{
                background: url('../../../assets/component/listview/search-gray.png') no-repeat  15px 10px;
                width: 253px;
                height: 37px;
                border-radius:6px;
                border: solid 1px #e7e6e6;
                background-color: #ffffff;
                margin-top: 4px;
                font-size: 14px;
                border: solid 1px #e7e6e6;
                padding-left:40px;
                color: black;
                margin-right:15px;
                font-family: "museo-sans";
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                @media only screen and (max-width: 767px){
                    flex:1;
                    margin-right:0px;
                    margin-top: 10px;

                }

            }
            ::placeholder {
                font-family: "museo-sans";
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #c5c5c5;
        
        
            }
        }
    }
    .select-advisor-container {
        padding: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 0 12px 0 rgba(65, 64, 66, 0.2);
        background-color: #f47a64;
        bottom: 0;
        left: 0;
        height: auto;
        width:auto;
        position: absolute;
        display: flex;
        z-index: 99999;
        justify-content: space-between;
        align-items: center;
        .text-normal {
            font-family: $mainfont;
            font-size: 16px;
            letter-spacing: -0.2;
            font-weight: 500;
            color: white;
            padding-bottom: 11px;
        }
        .text-container{
            padding-right: 30px;
        }
        .text-small {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #ffffff;
        }
        .strong {
            font-weight: 600;
        }
        .text-title {
            opacity: 0.6;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2.4px;
            color: #ffffff;

        }
        .btn-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.9px;
            text-align: center;
            color: #808284;
            text-transform: uppercase;
        }
        .text-bottom {
            margin-top:11px;
        }
        .btn-select {
            border-radius: 6px;
            box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            border: solid 1px #ffffff;
            background-color: #ffffff;
            padding: 15px 18px;
        }



    }