<div class="household-container">
<div class="content-container">
  <div class="box-container">
      <div class="box">
       <div class="box-head">
          <div class="title-box space-left">
              <span class="title">Advisor Search</span><br/>
              <span class="subtitle">Search & Select Advisors to Create On Their Behalf</span>
          </div>
    
          <div class="title-box">
            <div >
            <input type="text" class="text-try" placeholder="Search Portfolio Name">
            </div>
          </div>
        </div>
         <div class="table-container">
            <table class="table">
              <thead>
                <tr class="header">
                  <th class="align-center">Select</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Firm Name</th>
                  <th>Email</th>
                  <th>Login Code</th>
                </tr>
                </thead>
              <tbody>
                <tr class="checked">
                  <td class="align-center"><input type="radio" checked="checked" class="radio"></td>
                  <td>Kim</td>
                  <td>Mackrill</td>
                  <td>BAM Financial Advisors</td>
                  <td>kimmackrill@bamfinancial.com</td>
                  <td>705_KM16</td>
                </tr>
                <tr>
                    <td class="align-center"><input type="radio" class="radio"></td>
                    <td>Kim</td>
                    <td>Mackrill</td>
                    <td>BAM Financial Advisors</td>
                    <td>kimmackrill@bamfinancial.com</td>
                    <td>705_KM16</td>
                  </tr>
              </tbody>
            </table> 
 
 
         </div>
     </div>
   </div>
   <div class="box-container margin-left">
      <div class="box col-1">
       <div class="box-head  "><span class="header-title space-left">Advisor Information</span></div>
         <div class="box-body">
            <div class="content-box" >
                <div class="profile-box" >
                  <div class="profile-pic-container">
                  <div class="profile-pic">
                   pic
                  </div>
                  </div>
                  <div class="profile-info">
                   <span class="name">Kim Mackrill</span>
                   <br/><br/>
                   <span class="title-text">Email</span>
                   <br/>
                   <span class="title-info">kimmackrill@bamfinancial.com</span>
                   <br/><br/>
                   <span class="title-text"> Phone:</span>
                   <br/>
                   <span class="title-info">(402) 506-5644</span>
                   <br/><br/>
                   <span class="title-text">Address::</span>
                   <br/>
                   <span class="title-info">12012 Roberts Road, Suite C
                      La Vista, NE USA 68128</span>
                   <br/><br/>
                   <span class="title-text"> Firm Name:</span>
                   <br/>
                   <span class="title-info">BAM Financial Advisors</span>
                   <br/><br/>
                   <span class="title-text">Login Code:</span>
                   <br/>
                   <span class="title-info">705_KM16</span>
                  </div>
                 </div>
               </div>

               <div class="mask-holder"> <div class="mask">create on their behalf</div> </div>
         </div>
     </div>
   </div>
</div>
</div>