.error-line {
	color:#fc6860;
	font-size: 12px;
  	font-weight: 300;
  	margin-bottom:13px;
  	display: flex;
    align-items: center;
		.icon-warning{
			width: 20px;
			height: 20px;
			content: url("../../../assets/icons/warning.svg");
		}
}