@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
$primaryfont: "montserrat", sans-serif;
$secondaryfont: "museo-sans", calibri;
$padding: 30px;
$backgroundColor: #ffffff;
$backgroundColorHeader: #1598cb;
$containerWidth: calc(100vw - 200px);
$textColor: #ffffff;
section{
	float: center;
}
i:focus{
	outline:none;
}
.icon-notification{
	width: 34px;
	height: 34px;
	content: url("../../../assets/icons/bell-gray-notificiation.svg");
}

.notification-parent-container {
	position: absolute;
	bottom: -10px;
    right: -30px;
}
.notification-component {
	position: relative;
    padding: 10px;
  /*@media only screen and (max-width: 420px) {
    padding:10px;
    display: flex;
  }*/
  	.notification{
	    font-size: 25px;
	    color: #c7c7c7;
	    cursor: pointer;
	}
	*:focus, *:active{
		outline:none;
		-webkit-appearance: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.header-notification{
		position: relative;
	}
  	.noti-badge{
		position: absolute;
		top: 4px;
		right: 2px;
		font-family: "montserrat", sans-serif;
		font-size: 9px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 0.8;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
    }
	.notification-container {
		position: absolute;
		flex:1;
		right: 0;
		background-color: $backgroundColor;
		margin: 0 auto 30px;
		width: 428px;
		overflow: hidden;
		border-radius: 20px;
		min-width: 370px;
		box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
		@media only screen and (max-width: 767px){
			right: -33px;
			width: 370px;
		}
		
		.Rectangle-3 {
    		display: flex;
    		align-items: center; ;
    		flex-direction: row;
  			width: 428px;
  			height: 60px;
  			border-top-left-radius: 20px !important;
  			border-top-right-radius: 20px !important;
  			background-color: #1598cb;
  			position: relative;
  			.oval {
  				width: 30px;
  				height: 30px;
  				position: relative;
			    left: 16px;
			    top: 4px;
  				border-radius: 50%;
  				background-color: #e7e6e6;
  				align-items: center;
  				justify-content: center;
  				display: flex;
			}
			.oval small {
			  	font-family: 'Montserrat', sans-serif;
			  	font-size: 12px;
			  	font-weight: bold;
			  	font-style: normal;
			  	font-stretch: normal;
			  	line-height: 1;
			  	letter-spacing: normal;
			  	text-align: center;
			 	color: #414042;
			}
			.Activity {
			  margin-left: 27px;
			  margin-top: 5px;
			  width: 80px;
			  height: 20px;
			  font-family: 'Montserrat', sans-serif;
			  font-size: 20px;
			  font-weight: 600;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1;
			  letter-spacing: 0.2px;
			  color: #ffffff;
			}
			.Remove-All {
			  margin-left: 160px;
			  margin-top: 5px;
			  width: 62px;
			  height: 12px;
			  font-family: $secondaryfont;
			  font-size: 12px;
			  font-weight: 200;
			  line-height: 1;
			  letter-spacing: normal;
			  text-align: right;
			  color: #ffffff;
			  @media only screen and (max-width: 767px){
				  margin-left: 130px;
			  }
			}
			i {
				bottom: 17px;
			}
		}
		.Rectangle-container{
    		display: flex;
			flex-direction: row;
			height: auto;
			position: relative;
			max-height: 750px;
  			.line_right {
				overflow-x: scroll;
  				flex:1;
  				line-height: 1;
    			flex-direction: column;
    			overflow-x: hidden;
			}
			.line_right small {
				margin-left: 15px;

				
			}
			.line-2 {
				width: 30px;
				margin-top: -12px;
				border-right: 2px solid #e7e6e6;
			}

		}

	}
	.line_small_container:last-child{
		border-bottom: none;
	}
	.line_small_container {
		display: flex;
  		height: auto;
		border-bottom: 1px solid rgba(65, 64, 66, 0.1);
		border-right: 1px solid rgba(65, 64, 66, 0.1);
		  .line_small_content{
			flex: 1;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 10px;
			position: relative;
			&:hover {
				background-color: #f2fafc;
				cursor:pointer;
			}
			.text-container{
				display:flex;
				flex-direction: column;
				small:first-child{
					font-family: $secondaryfont;
					font-size: 14px;
					font-weight: bold;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: normal;
					color: #414042;
				}
				small:nth-child(2){	
					font-family: $primaryfont;
					font-size: 10px;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					margin-top:1px;
					letter-spacing: 1px;
					color: #1598cb;
				}
				small:last-child{
					margin-top: 10px;
					font-family: $primaryfont;
					font-size: 10px;
					font-weight: 300;
					font-style: normal;
					font-stretch: normal;
					line-height: 1;
					letter-spacing: 1px;
					color: #77787b;
				}
			}
		}
	}
	.remove-icon {
        width: 23px;
        height: 23px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(65, 64, 66, 0.1);
        content: url('../../../assets/icons/exit-white.svg');
        right: 30px;
        bottom: 24px;
		position: absolute;
		@media only screen and (max-width: 767px){
			right: 12px;
		}
	}
	.remove-icon-head {
        width: 23px;
        height: 23px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 rgba(65, 64, 66, 0.1);
        content: url('../../../assets/exit-white.svg');
        right: 30px;
		position: absolute;
		@media only screen and (max-width: 767px){
			right: 70px;
		}
	}
	.triangle {
	    position: absolute;
		top: -20px;
		right: 37px;
	    border-bottom:solid 24px  #1598cb;
	    border-right:solid 27px transparent;
	    border-left:solid 27px transparent;
	}
	/*.triangle .empty {
	    position: absolute;
	    top:9px;
	    left:-21px;
	    width:0;
	    border-bottom:solid 36px  #1598cb;
	    border-right:solid 21px transparent;
	    border-left:solid 21px transparent;
	}*/

 }