<section class="notification-component">
	<details>
      <summary>
        <div class="header-notification">
		    <i class="material-icons notification">notifications</i>
		    <div class="noti-badge"><span>20</span></div>
		</div>
      </summary>
      <div class="notification-container">
		<div class="triangle">
		    <div class="empty"></div>
		</div>
		<div class="Rectangle-3">
				<div class="oval"><small>19</small></div>
				<small class="Activity">Activity</small>
				<small class="Remove-All">Remove All</small>&nbsp;&nbsp;<i class="remove-icon"></i>
		</div>
		<div class="Rectangle-container">
			<div class="line-2"></div>
			<div class="line_right">
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Chris Candelaria</small><br />
					<small class="risk">RISK MANAGEMENT</small><br /><br />
					<small class="Completed">COMPLETED: 8/20/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Jud Mackrill</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/18/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Steve Atkinson</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/14/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Wendy Rhoades</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/12/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Alex Campbell</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/10/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Curt Douglas</small><br />
					<small class="risk">RISK MANAGEMENT</small><br /><br />
					<small class="Completed">COMPLETED: 8/08/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Ben Williams</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/06/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Marble Sharp</small><br />
					<small class="risk">RISK MANAGEMENT</small><br /><br />
					<small class="Completed">COMPLETED: 8/06/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Julie Jorgenson</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/04/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Julie Jorgenson</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/04/2018</small>
				</div>
				<div class="line_small_container">
					<div class="remove-container"><i class="remove-icon"></i></div>
					<small class="chris">Julie Jorgenson</small><br />
					<small class="risk">ADDED ACCOUNTS</small><br /><br />
					<small class="Completed">COMPLETED: 8/04/2018</small>
				</div>
			</div>
	</div>
</div>
    </details>
</section>

