<section class="notification-component">
	<details>
      <summary>
        <div class="header-notification">
		    <i class="icon-notification notification"></i>
		    <span class="noti-badge">20</span>
		</div>
      </summary>
      <div class="notification-parent-container">
      	<div class="triangle">
		    <div class="empty"></div>
		</div>
	      <div class="notification-container">
			
			<div class="Rectangle-3">
					<div class="oval"><small>20</small></div>
					<small class="Activity">Activity</small>
					<small class="Remove-All">Remove All</small>
					<i class="remove-icon-head"></i>
			</div>
			<div class="Rectangle-container">
				<div class="line-2"></div>
				<div class="line_right">
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
					<div class="line_small_container">
						<div class="line_small_content">
							<div class="remove-container"><i class="remove-icon"></i></div>
							<div class=" text-container"> 
								<small class="chris">Julie Jorgenson</small>
								<small class="risk">ADDED ACCOUNTS</small>
								<small class="Completed">COMPLETED: 8/04/2018</small>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
    </details>
</section>

