<section class="add-security">
  <div class="search">
    <h3>Add Security:</h3>
    <app-search></app-search>
  </div>
  <table>
    <thead>
      <tr>
        <th>Security Name</th>
        <th>Security ID</th>
        <th>Asset Class</th>
        <th colspan="2">Allocation (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SA Global Fixed income select</td>
        <td>SAFLX</td>
        <td>
          <details>
            <summary>
              Global Short Bonds
              <a class="material-icons">arrow_drop_down</a>
            </summary>
            <app-popup-custom-asset-class></app-popup-custom-asset-class>
          </details>
        </td>
        <td><app-input-percent></app-input-percent></td>
        <td><span class="close-circle">X</span></td>
      </tr>
      <tr>
        <td>SA Global Fixed income select</td>
        <td>SAFLX</td>
        <td>
          <details>
            <summary>
              Global Short Bonds
              <a class="material-icons">arrow_drop_down</a>
            </summary>
            <app-popup-custom-asset-class></app-popup-custom-asset-class>
          </details>
        </td>
        <td><app-input-percent></app-input-percent></td>
        <td><span class="close-circle">X</span></td>
      </tr>
      <tr>
        <td>SA Global Fixed income select</td>
        <td>SAFLX</td>
        <td>
          <details>
            <summary>
              Global Short Bonds
              <a class="material-icons">arrow_drop_down</a>
            </summary>
            <app-popup-custom-asset-class></app-popup-custom-asset-class>
          </details>
        </td>
        <td><app-input-percent></app-input-percent></td>
        <td><span class="close-circle">X</span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Total Allocation:</th>
        <td>(%)</td>
      </tr>
    </tfoot>
  </table>
</section>