<div class="home-container ">
    <div class="container-divider">
      <div class="container ">
         <div class="fadeMe"></div>
        <div class="households">
          <div class="box-head">
            <div><h2>Recent Households</h2></div>
            <div><button class="btn"><i class="icon-add"></i><span class="btn-text">Add</span></button></div>
          </div>
          <div class="container-info ">
              <div class="add-box-container">
                  <div class="add-container flex">
                    <div class=""><i class="icon-big-add"></i></div>
                    <div style="margin-top: -15px;"><h2 style="color:#1598cb;"> Add Household </h2></div>
                  </div>
                  </div>
          </div>
        </div>
  
        <div class="proposals">
            <div class="box-head">
                <div><h2>Recent Proposals</h2></div>
                <div><button class="btn"><i class="icon-add"></i><span class="btn-text">Add</span></button></div>
              </div>
          <div class="container-info">
        
          </div>
        </div>
      
        <div class="documents">
            <div class="box-head">
                <div><h2>Recent Documents</h2></div>
                <div><button class="btn"><i class="icon-add"></i><span class="btn-text">Add</span></button></div>
              </div>
          <div class="container-info">
          
          </div>
        </div>
      </div>
      <div class="container">
        <div class="test " style=" z-index:10; ">
          <div class="title-proposal" >
            <p>Proposal Analytics</p>
            <span class="hide-show"><i class="icon"></i>Hide</span>
          </div>
        </div>
        <div>
          <div class="households">
              <div class="box-head">
                  <div><h2>&nbsp;</h2></div>
                  <div></div>
                </div>
              <div class="container-info">
             
              </div>
            </div>
      
       
      
        </div>
      </div>
    </div>
  </div>