<section class="dropdown-actions">
    <details>
      <summary>
        <span class="title" >Actions</span>
        <i class="icon-dropdown"></i>
      </summary>
      <ul>
        <li>
            <a (click)="viewFunc()">
              <span class="title">View</span>
              <i class="icon view-gray"></i>
            </a>
          </li>
          <li>
            <a (click)="modifyFunc()">
              <span class="title">Modify</span>
              <i class="icon modify-gray"></i>
            </a>
          </li>
          <li>
      </ul>
    </details>
</section>



