.dropdown-actions {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom:30px;
    details {
        right: 28px;
        position: absolute;
        summary {
            margin-top: -10px;
            cursor: pointer;
            position:relative;
            height: 47px;
            display:flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            &::-webkit-details-marker { 
                display: none;
            }
            &:focus {
                outline: none;
            }
            .title {
                color: #ffffff;
                flex:1;
                margin-left: 20px;
                display:none;
            }
            .icon-action {
                right: 13px;
            }

        }
        ul {
            padding: 0;
            margin:0;
            list-style: none;
            li {
                background: #fff;
                position:relative;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    display:flex;
                    height:47px;
                    color: #77787b;
                    flex: 1;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom: 1px solid #e7e6e6;
                    .title {
                        flex:1;
                        margin-left: 20px;
                    }
                    .icon {
                        right: 13px;
                    }
                }
            }
        }
        &[open] {
                z-index: 9;

            box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 50px;
            width: 196px;
            summary {
                background-color: #1598cb;   
                .title {
                    display:block;
                } 
                .icon-action {
                    color: #ffff;
                }
            }
        }
    }
}
.icon {
    &.view-gray {
        background: url('../../../assets/view-gray.svg');
        width: 20px;
        height: 20px;
        position: absolute;
    }
    &.modify-gray {
        background: url('../../../assets/modify-gray.svg');
        width: 20px;
        height: 20px;
        position: absolute;
    }
    &.duplicate-gray {
        background: url('../../../assets/duplicate-gray.svg');
        width: 20px;
        height: 20px;
        position: absolute;
    }
    &.delete-gray {
        background: url('../../../assets/delete-gray.svg');
        width: 20px;
        height: 20px;
        position: absolute;
    }
    &.fact-sheet-gray {
        background: url('../../../assets/fact-sheet-gray.svg');
        width: 20px;
        height: 20px;
        position: absolute;
    }
}
