<section class="dropdown-actions">
    <details>
      <summary>
        <span class="title" >Actions</span>
        <i class="material-icons icon-action">more_vert</i>
      </summary>
      <ul>
        <li>
          <a (click)="viewFunc()">
            <span class="title">View</span>
            <i class="icon view-gray"></i>
          </a>
        </li>
        <li>
          <a >
            <span class="title">Modify</span>
            <i class="icon modify-gray"></i>
          </a>
        </li>
        <li>
          <a>
            <span class="title">Duplicate</span>
            <i class="icon duplicate-gray"></i>
          </a>
        </li>
        <li>
          <a>
            <span class="title">Delete</span>
            <i class="icon delete-gray"></i>
          </a>
        </li>
        <li>
          <a>
            <span class="title">View Fact Sheet</span>
            <i class="icon fact-sheet-gray"></i>
          </a>
        </li>
      </ul>
    </details>
</section>



