<div class="header-container">
  <div class="header-content">
    <div class="header-title">
      <span>Household:</span>
      <h3>Candelaria Household</h3>
    </div>
    <div class="header-info">
      <div>
        <details>
            <summary>
              <span>Active</span>
            </summary>
        </details>
      </div>
      <div class="padding-left">
        <span>ID:</span>
        <span>3456</span>
      </div>
    </div>
  </div>
</div>
<div class="body-container">
  <div class="box-information">
    <div class="box-header">
       <h3>Member Information</h3>
      <div class="edit-information">
        <span>EDIT</span>
      </div>
    </div>
    <div class="box-content">
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
    </div>
  </div>

  <div class="box-proposal">
    <div class="box-header">
        <h3>Proposals</h3>
        <div class="edit-information">
          <span>ADD PROPOSALS</span>
        </div>
    </div>
    <div class="box-content">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Value</th>
            <th>State/Status</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="fade container-add"> 
      <a>
        <i class="icon-circle-add"></i>
        <span>Add Proposals</span>
      </a>
    </div>
  </div>
</div>
