<div class="overlay"></div>
<div class="modal-box-container">
  <div class="modal-box-content">
    <div class="modal-box">
      <div class="box-head">
        <span>Add Proposal</span>
      </div>
      <div class="box-body">
        <div><span>Proposal Name:</span></div>
        <div class="text-box-container"><input type="text" class="text-box" placeholder="Enter Proposal Name Here..."></div>
      </div>
    </div>
  </div>
</div>
<div class="header-container">
  <div class="header-content">
    <div class="header-title">
      <span class="title-info">Household:</span>
      <h3>Candelaria Household</h3>
      <div class="line"></div>
    </div>
    <div class="header-info">
        <div class="btn-container padding-right-50">
          <button class="dropbtn">
            <div class="left-section">
            <div class="icon-container"><i class="check-icon"></i></div>
            <div><span class="text-small-light">Active</span></div>
            </div>
            <div class="right-section">
            <div class="icon-container"><i class="dropdown-icon"></i></div>
            </div>
            </button>
        </div>
        <div class="id-container padding-right-50">
            <p class="text-normal">ID: </p>
            <p class="text-small-light">3457</p> 
         </div>
    </div>
  </div>
</div>
<div class="body-container" >
  <div class="box-information">
    <div class="box-header">
       <h3>Member Information</h3>
      <div class="edit-information">
          <div class="inline-item">
              <div><i class="edit-icon"></i></div>
              <div><span class="edit-text">edit</span></div>
            </div>
      </div>
    </div>
    <div class="box-content">
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
      <div class="box-item">
        <div class="box-name">
          <span>Chris Candelaria</span>
        </div>
        <div class="box-contact">
          <span>CCandelaria@loirngward.com</span>
          <span>(402) 123-4567</span>
        </div>
      </div>
    </div>
  </div>

  <div class="box-proposal">
    <div class="box-header">
        <h3>Proposals</h3>
        <div class="edit-information">
          <div class="inline-item">
              <div><i class="add-icon"></i></div>
              <div><span class="edit-text">add proposal</span></div>
            </div>
        </div>
    </div>
    <div class="box-content">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Value</th>
            <th>State/Status</th>
            <th>Created</th>
            <th>Last Updated</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="fade container-add"> 
      <a>
        <div class="flex-block">
        <div><i class="icon-circle-add"></i></div>
        <div><span>Add Proposals</span></div>
       </div>
      </a>
    </div>
  </div>
</div>
