<span class="screen-overlay"></span>
<section class="allocation-details">
<div class="screen-container">
  <div class="modal-container">

    <div class="modal-content">

      <div class="row-1">
        <div class="col-1">
          <span class="text-title">Morningstar Allocation Detail</span>
          <span class="text-subtitle">SA US Core Market Select</span>
          <span class="text-subtitle-2">TICKER: FOOOOOOYDC6</span>
        </div>
        <div class="col-2">
          <div class="top">
            <span class="text-category">Category:</span>
            <span class="text-category-subtitle">temporary text</span>
          </div>
          <div class="bottom">
            <span class="text-category">Prospectus Objective:</span>
            <span class="text-category-subtitle"> temporary text</span>
          </div>
        </div>
        <div class="col-3">
          <span class="text-category">Category Description:</span>
          <span class="text-category-info">This table shows the Morningstar Allocation based upon an analysis of the actual holdings of the land. This can vary substantially overtime as the board charges its investments.</span>
        </div>
      </div>

      <div class="row-2">
        <div class="text-container">
        <span> This table shows the Morningstar Allocation based upon an analysis of the actual holdings of the land. This can vary substantially overtime as the board charges its investments.</span>
        </div>
      </div>

      <div class="row-3">
        <div class="left-section">
          <div class="table-container">
            <table>
              <tr>
                <th>Allocation</th>
                <th>%</th>
              </tr>
              <tr>
                <td>Cash</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>US Stock</td>
                <td>99%</td>
              </tr>
              <tr>
                <td>US Bond</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>International Stock</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>International Bond</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Preferred</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Convertible</td>
                <td>0%</td>
              </tr>
              <tr>
                <td>Other</td>
                <td>0%</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="right-section">
            <div class="left-box">
              <span class="box-title">Equity Style</span>
              <table class="box-4-4">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Large</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Mid</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Small</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>Blend</td>
                  <td>Growth</td>
                  <td></td>
                </tr>
              </table>
            </div>
            <div class="right-box">
              <span class="box-title">Fixed Income Style</span>
              <table class="box-4-4">
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Large</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Mid</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Small</td>
                </tr>
                <tr>
                  <td>Value</td>
                  <td>Blend</td>
                  <td>Growth</td>
                  <td></td>
                </tr>
              </table>
            </div>  
        </div>
      </div>

      <div class="btn-container">
        <button class="btn-close" (click)="closeEvent()">Close</button>
      </div>
    </div>

  </div>
</div>
</section>