<header>
  <section class="header-container"> 
      <div class="header-mask" >
        <div class="left-section-header">
          <p class="text-small-light">PROPOSAL NAME: </p>
        
          <div class="title-container" >
            <p class="text-big-light space">Chris & Kristy Retirement Proposal</p>
            <div class="line"></div>
          </div>
          <div class="status-container">
            
            <app-active-archive class="dropdown-status" [type]="'proposal'"></app-active-archive>
  
           <div class="id-container">
              <span class="text-normal">ID: </span>
              <span class="text-small-light">3457</span> 
           </div>
  
            <div class="state-container to-household" (click)="toHousehold()">
              <div class="center-align"><i class="icon-home"></i><span class="text-normal"> CANDELARIA HOUSEHOLD</span></div>
              <div class="center-align"> <i class="icon-check"></i><span class="text-small-light">Active</span></div>
            </div>
            </div>
          </div>
          <div class="right-section-header">
            <div class="proposed-value-box">
                <span class="text-small-light">Proposed Value</span><br/>
                <span class="text-normal-bold">$0.00</span>
            </div>
          </div>
      </div>
</section>
</header>
       
   
<div class="container">
  <div class="box">  
    <mat-tab-group (selectedTabChange)="changeTab($event)" [selectedIndex]="currentPage">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tab-web">1. Account</span> <span class="tab-mobile">1</span>
          </ng-template>
          <app-account></app-account>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <span class="tab-web">2. Risk Assessment</span><span class="tab-mobile">2</span>
          </ng-template>
          <app-risk-assessment (step)="1"></app-risk-assessment>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <span class="tab-web">3. Portfolio</span><span class="tab-mobile">3</span>
          </ng-template>
          <app-portfolio></app-portfolio>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <span class="tab-web">4. Simulation</span><span class="tab-mobile">4</span>
          </ng-template>
          <app-simulation></app-simulation>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <span class="tab-web">5. Create Documents</span><span class="tab-mobile">5</span>
          </ng-template>
          <app-documentation></app-documentation>
        </mat-tab>
    </mat-tab-group>
  </div>
  <app-cancel-save [ngClass]="{'show' : showNext}" (saveEvent)="nextReceiver($event)" [noCancel]="true" [primaryLabel]="'Next'"></app-cancel-save>
</div>

