<section class="dropdown-actions">
  <details class="dropdown-filter-portfolio">
    <summary>
      <a class="btn-filter"> <span>FILTER</span><i class="icon-dropdown"></i></a>
    </summary>
    <div class="item-container">
      <div class="text-box flex">
          <input type="text" placeholder="Enter Risk Score #">
      </div>
      <div class="item group">
        <div class="group-title-container">
            <mat-checkbox (change)="selectAllToggler($event, 'riskname_and_range')" [checked]="filter_data.riskname_and_range[0]"></mat-checkbox>
            <div class="group-title"><span>Risk Name & Range</span><span>Select All</span></div>
        </div>
      </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[1]"></mat-checkbox>
            <span class="title">Defensive</span>
          </div>
          <div class="right">
              <span class="range">1-14</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[2]"></mat-checkbox>
            <span class="title">Conservative</span>
          </div>
          <div class="right">
              <span class="range">15-29</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[3]"></mat-checkbox>
            <span class="title">Balanced</span>
          </div>
          <div class="right">
              <span class="range">30-43</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[4]"></mat-checkbox>
            <span class="title">Moderate</span>
          </div>
          <div class="right">
              <span class="range">44-57</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[5]"></mat-checkbox>
            <span class="title">Moderate Growth</span>
          </div>
          <div class="right">
              <span class="range">58-71</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[6]"></mat-checkbox>
            <span class="title">Capital Appreciation</span>
          </div>
          <div class="right">
              <span class="range">72-86</span>
          </div>
        </div>
        <div class="item">
          <div class="left">
            <mat-checkbox [checked]="filter_data.riskname_and_range[7]"></mat-checkbox>
            <span class="title">Equity</span>
          </div>
          <div class="right">
              <span class="range">87-100</span>
          </div>
        </div>
        
        <div class="item group">
            <div class="group-title-container">
                <mat-checkbox (change)="selectAllToggler($event, 'portfolios')" [checked]="filter_data.portfolios[0]"></mat-checkbox>
                <div class="group-title"><span>Portfolios</span><span>Select All</span></div>
            </div>
        </div>
        <div class="item">
          <div>
            <mat-checkbox [checked]="filter_data.portfolios[1]"></mat-checkbox>
            <span class="title">Loring Ward Portfolios</span>
          </div>
        </div>
        <div class="item">
          <div>
            <mat-checkbox [checked]="filter_data.portfolios[2]"></mat-checkbox>
            <span class="title">Example Advisor Portfolios</span>
          </div>
        </div>
        <div class="item">
          <div>
            <mat-checkbox [checked]="filter_data.portfolios[3]"></mat-checkbox>
            <span class="title">Jennica Fernen Portfolios</span>
          </div>
        </div>
        <div class="btn-container"><button class="btn-apply">Apply</button></div>
    </div>
  </details>
</section>
