<div class="screen-container">
    <div class="overlay"></div>
    <div class="popup-container">
        <div class="popup-box">
            <div class="box-head">
                <span>RAQ Email Language</span>
            </div>
            <div class="box-body">
                <div class="left-section">
                    <div class="option">
                        <span>Loring Ward Default Email Language:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient"><span>Investor Questionnaire from [Advisor Name] with [Firm Name]</span></div>
                        <div class="message-box">
                            <p>Hello [client name].</p>
                            <p>[Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire.</p>
                            <p>All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you.</p>
                            <p><a href="#"><strong>Click Here to Start</strong></a></p>
                            <p>Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly.</p>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="option">
                        <span>Type your own Email Language:</span>
                        <mat-radio-button>Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient">
                          <span> Subject </span>
                        </div>
                        <div class="message-box">
                            <p> Start Typing... </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-cancel">Cancel</button>
                <button>
                    <i class="icon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>