<div class="screen-container">
    <div class="overlay"></div>
    <div class="popup-container">
        <div class="popup-box">
            <div class="box-head">
                <span>RAQ Email Language</span>
            </div>
            <div class="box-body">
                <div class="left-section" >
                    <div class="option">
                        <span>Loring Ward Default Email <br /> Language:</span>
                        <mat-radio-button (click)="changeDefault(1)" [checked]="isChecked == 1 ? true : false"  >Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient"><input value="Investor Questionnaire from [Advisor Name]" /></div>
                        <div class="message-box">
                            <textarea placeholder="Start Typing...">Hello [client name].
                                [Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire.
                                All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you.
                                Click Here to Start
                                Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly.
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="option">
                        <span>Type your own Email Language:</span>
                        <mat-radio-button (click)="changeDefault(2)" [checked]="isChecked == 2 ? true : false"  >Default</mat-radio-button>
                    </div>
                    <div class="textbox-container">
                        <div class="recepient">
                          <input placeholder="Subject" /> 
                        </div>
                        <div class="message-box">
                            <textarea placeholder="Start Typing..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-cancel" (click)="closeMe()">Cancel</button>
                <button (click)="onSaveDefaultRAQ()">
                    <i class="icon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
</div>