<section class="target-asset-allocation">
  <h3 class="title">Target Asset Allocation:</h3>
  <div class="graph"></div>
  <div class="information">
    <details open>
      <summary class="green-text">
        <span class="title">Bonds</span>
        <span class="percent">0%</span>
      </summary>
      <ul>
        <li>
          <span class="circle green-bg"></span>
          <span class="title">Global Short Bonds</span>
          <span class="percent">0%</span>
        </li>
      </ul>
    </details>
    <details open>
        <summary>
          <span class="title blue-text">U.S. Stocks</span>
          <span class="percent">0%</span>
        </summary>
        <ul>
          <li>
            <span class="circle darkblue-bg"></span>
            <span class="title">U.S. Small Neutral Stocks</span>
            <span class="percent">0%</span>
          </li>
          <li>
              <span class="circle blue-bg"></span>
              <span class="title">U.S. Large Neutral Stocks</span>
              <span class="percent">0%</span>
            </li>
        </ul>
      </details>
  </div>
</section>