<div class="rms-analytics-box">
    <div class="rab-header">
        <h2># of Proposals <span>In Progress</span></h2>
        <a href="#" class="rab-header-action"><span></span><span></span><span></span></a>
    </div><!-- .rab-header -->
    <div class="rab-content">
        <div class="rab-info">
            <div class="rab-info-total">
                <span class="info-total-count">12</span>
                <span class="info-total-text">TOTAL Overtime</span>
            </div><!-- .rab-info-total -->
            <div class="rab-info-date">
                <span class="info-date-text"># of Proposals <strong>2013 - 2018</strong></span>
            </div><!-- .rab-info-date -->
        </div><!-- .rab-info -->

        <div class="spacer" style="height: 40px;"></div><!-- .spacer -->

        <div class="rab-chart">
            <canvas #proposalsChart></canvas>
        </div><!-- .rab-chart -->
    </div><!-- .rab-content -->
</div><!-- .rms-analytics-box -->