.rms-analytics-box {
    position: relative;
    min-height: 291px;
    border-radius: 6px;
    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .rab-header {
        position: relative;
        padding: 10px 20px;
        background-color: #1598cb;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        h2 {
            margin: 0;
            padding: 1px 0;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Montserrat', serif;
            line-height: 1;
            letter-spacing: 0.2px;

            span {
                display: block;
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                line-height: 1;
                letter-spacing: -0.2px;
            }
        }
        a {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            width: 4px;
            height: 20px;
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../../assets/analytics/dots.svg);
        }
    }

    .rab-content {
        padding: 20px;
    }
    .rab-chart {
        height: auto;
    }
    .rab-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        -ms-flex-align: center;
        align-items: center;

        & > div {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .rab-info-total {
            span.info-total-count {
                display: block;
                color: #414042;
                font-size: 36px;
                font-weight: 200;
                font-family: 'Montserrat', serif;
                line-height: normall;
                letter-spacing: -1px;
            }
            span.info-total-text {
                color: #77787b;
                font-size: 10px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        .rab-info-date {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;

            span.info-date-text {
                display: block;
                padding: 10px 15px;
                font-size: 10px;
                color: #343534;
                font-weight: 300;
                line-height: normal;
                letter-spacing: normal;
                border-radius: 21px;
                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.1);
                background-color: #ffffff;
            }
        }
    }
    &.type-aum {
        .rab-content {
            padding: 40px 20px;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.type-ipo {
        .rab-content {
            padding: 40px 20px 50px 20px;
        }
        .rab-inner {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            -ms-flex-align: center;
            align-items: center;

            & > div {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
            .rab-left-block {
                flex: 1;
                width: auto;
            }
            .rab-right-block {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                
                .rab-chart {
                    width: 140px;
                }
            }
        }
        .rab-info {
            .rab-info-total,
            .rab-info-date {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .info-date-text {
                position: relative;
                padding-left: 30px !important;

                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    width: 8px;
                    height: 8px;
                    background-color: #465e7b;
                    border-radius: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .rab-settings {
        display: none;

        .rab-header {
            h2 {
                padding: 8px 0;
            }
            a {
                width: 30px;
                height: 30px;
                margin-top: 4px;
                background-image: url(../../../assets/analytics/close.svg);
            }
        }
        .rab-content {
            padding: 20px;
        }
        .rab-setting-row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: -15px -10px;

            & > div {
                position: relative;
                width: 100%;
                padding: 15px 10px;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
            }
        }
        .rab-setting-field {
            label {
                display: block;
                padding-bottom: 5px;
                color: #414042;
                font-size: 12px;
                font-weight: bold;
                font-family: 'museo-sans', sans-serif;
                line-height: 1.17;
                letter-spacing: normal;
            }
            input[type="text"], .rab-field-select {
                display: block;
                width: 100%;
                padding: 15px;
                color: #414042;
                font-size: 14px;
                font-weight: 300;
                font-family: 'museo-sans', sans-serif;
                line-height: normal;
                letter-spacing: normal;
                background-color: #ffffff;
                border: 1px solid #e7e6e6;
                border-radius: 6px;
            }
            .rab-field-select {
                padding: 0;

                select {
                    display: block;
                    width: 100%;
                    padding: 15px;
                    color: #c5c5c5;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'museo-sans', sans-serif;
                    line-height: normal;
                    letter-spacing: normal;
                    border: 0;
                    outline: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
            }
        }
        .rab-setting-actions {
            position: relative;
            margin-top: 30px;
            padding-left: 130px;

            a {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                padding: 2px 0 2px 22px;
                color: #77787b;
                font-size: 12px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                line-height: 0.92;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center left;
                background-image: url(../../../assets/analytics/trash.svg);
                transform: translateY(-50%);
            }

            button {
                display: block;
                width: 100%;
                max-width: 200px;
                margin-left: auto;
                color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                text-transform: uppercase;
                background-color: #1598cb;
                border: 1px solid #1598cb;
                border-radius: 6px;
                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            }
        }
    }

    &.is-settings {
        background-color: #f7f7f7;

        .rab-output {
            display: none;
        }
        .rab-settings {
            display: block;
        }
    }
}