<div class="rms-analytics-box type-{{ reportType }}">
    <div class="rab-output">
        <div class="rab-header">
            <h2>{{ reportTitle }} <span>{{ reportSubTitle }}</span></h2>
            <a class="rab-header-action" (click)="toggleSettings($event)"><span></span><span></span><span></span></a>
        </div><!-- .rab-header -->
        <div class="rab-content">
            <div *ngIf="reportType; then reportBlock">this is ignored</div>
    
            <ng-template #aumReport>
                <div class="rab-inner">
                    <div class="rab-info">
                        <div class="rab-info-total">
                            <span class="info-total-count">$27,600,000</span>
                        </div><!-- .rab-info-total -->
                    </div><!-- .rab-info -->
    
                    <div class="spacer" style="height: 20px; "></div><!-- .spacer -->
    
                    <div class="rab-chart">
                        <img src="../assets/aum-analytics-graph.svg" alt="aum-graph">
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #ipoReport>
                <div class="rab-inner">
                    <div class="rab-left-block">
                        <div class="rab-info">
                            <div class="rab-info-total">
                                <span class="info-total-count">80</span>
                                <span class="info-total-text">TOTAL implemented <br/>proposals overtime</span>
    
                                <div class="spacer" style="height: 28px;"></div>
                            </div><!-- .rab-info-total -->
                            <div class="rab-info-date">
                                <span class="info-date-text"># of Proposals</span>
                            </div><!-- .rab-info-date -->
                        </div><!-- .rab-info -->
                    </div><!-- .rab-left-block -->
                    <div class="rab-right-block">
                        <div class="rab-chart">
                            <canvas #theChart></canvas>
                        </div><!-- .rab-chart -->
                    </div><!-- .rab-right-block -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #defReport>
                <div class="rab-inner">
                    <div class="rab-info">
                        <div class="rab-info-total">
                            <span class="info-total-count">12</span>
                            <span class="info-total-text">TOTAL Overtime</span>
                        </div><!-- .rab-info-total -->
                        <div class="rab-info-date">
                            <span class="info-date-text"># of Proposals <strong>2013 - 2018</strong></span>
                        </div><!-- .rab-info-date -->
                    </div><!-- .rab-info -->
                
                        <div class="spacer" style="height: 40px;"></div><!-- .spacer -->
                
                        <div class="rab-chart" style="height: 30px; ">
                            <canvas #theChart></canvas>
                        </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvpmReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvprReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvppReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #pdoReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvpsReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #cpsReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
        </div><!-- .rab-content -->
    </div><!-- .rab-output -->
    
    <div class="rab-settings">
        <div class="rab-header">
            <h2>Adjust Parameters</h2>
            <a class="rab-header-action" (click)="toggleSettings($event)"><span></span><span></span><span></span></a>
        </div><!-- .rab-header -->
        <div class="rab-content">
            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">Goal:</label>
                    <div class="rab-field-select">
                        <select name="goal" id="goal">
                            <option value="" disabled selected>Select Goal</option>
                            <option value="one">Option One</option>
                            <option value="two">Option Two</option>
                            <option value="three">Option Three</option>
                        </select>
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->
            </div><!-- .rab-setting-row -->

            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">State:</label>
                    <div class="rab-field-select">
                        <select name="state" id="state">
                            <option value="" disabled selected>Select State</option>
                            <option value="one">Option One</option>
                            <option value="two">Option Two</option>
                            <option value="three">Option Three</option>
                        </select>
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->

                <div class="rab-setting-field">
                    <label for="goal">Status:</label>
                    <div class="rab-field-select">
                        <select name="status" id="status">
                            <option value="" disabled selected>Select Status</option>
                            <option value="one">Option One</option>
                            <option value="two">Option Two</option>
                            <option value="three">Option Three</option>
                        </select>
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->
            </div><!-- .rab-setting-row -->

            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">Date Range:</label>
                    <input type="text" placeholder="Select Date Range" (click)="showCalendar=!showCalendar">
                </div><!-- .rab-setting-field -->
                
            </div><!-- .rab-setting-row -->

            <div class="rab-setting-row rab-setting-calendar" *ngIf="showCalendar">
                <div class="rab-setting-field">
                    <app-calendar-modal></app-calendar-modal>
                </div>
            </div>

            <div class="rab-setting-actions">
                <a (click)="removeBox($event)">Remove Tile</a>
                <button (click)="toggleSettings($event)">Apply</button>
            </div><!-- .rab-setting-actions -->
        </div><!-- .rab-content -->
    </div><!-- .rab-settings -->
</div><!-- .rms-analytics-box -->