.rms-analytics-box {
    position: relative;
    min-height: 300px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
    background-color: #ffffff;
    box-sizing: border-box;
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    @media screen and(max-width: 767px) {
        margin: 10px auto;
        max-width: 370px;
    }
    .rab-header {
        position: relative;
        padding: 10px 20px;
        background-color: #1598cb;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        h2 {
            margin: 0;
            padding: 1px 0;
            color: #ffffff;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Montserrat', serif;
            line-height: 1;
            letter-spacing: 0.2px;

            span {
                display: block;
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                line-height: 1;
                letter-spacing: -0.2px;
            }
        }
        a {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            width: 4px;
            height: 20px;
            transform: translateY(-50%);
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../../../assets/analytics/dots.svg);
        }
    }

    .rab-content {
        overflow: hidden;
        padding: 20px;
    }
    .rab-chart {
        height: auto;
        .graph-container {
            display: flex;
            height: 150px;
            width: 100%;
            .container-green {
                flex: 1;
                width: 90%;
                height: auto;
                //border: 1px solid green;
                flex-direction: column;
                .green-content-top{
                    position: relative;
                    flex:1;
                    //border: 1px solid black;
                    height: 50%;
                    .green-top-text{
                        font-size: 9px;
                        position: absolute;
                        bottom: 11px;
                        left: 3px;
                        font-weight: 400;
                        color: rgb(0, 165, 0);
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
                .green-content-bottom{
                    position: relative;
                    flex:1;
                    background-color: rgb(86, 174, 88);
                    border-radius: 9px 0px 0px 9px;
                    height: 40%;
                    .green-bottom-text{
                        position: absolute;
                        font-size: 9px;
                        bottom: -14px;
                        font-weight: 400;
                        color: rgb(0, 165, 0);
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
            }
            .container-center {
                flex: 0.013;
                height: auto;
                .center-container-bar{
                    position: absolute;
                    flex: 1;
                    height: 44%;
                    left: 39%;
                    .goal-bar{
                        position: absolute;
                        height: 100%;
                        width: 1px;
                        background-color: rgb(120, 123, 117);
                    }
                    .goal-container{
                        height: 25%;
                        width: 100%;
                        padding: 0px 17px 0px 16px;
                        border-top-right-radius: 21px;
                        border-bottom-right-radius: 21px;
                        box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.1);
                        .item-goal-text {
                            font-size: 9px;
                            position: relative;
                            top: 0px;
                        }
                        .item-goal-value {
                            font-size: 63%;
                            position: relative;
                            top: -5px;
                        }
                    }
                }
            }
            .container-blue {
                flex:1.3;
                width: 100%;
                height: auto;
                //border: 1px solid blue;
                .blue-content-top{
                    position: relative;
                    flex:1;
                    //border: 1px solid black;
                    height: 50%;
                    .blue-top-text{
                        font-size: 9px;
                        position: absolute;
                        bottom: 11px;
                        left: 3px;
                        font-weight: 400;
                        color: rgb(25, 141, 177);
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
                .blue-content-bottom{
                    position: relative;
                    flex:1;
                    background-color: rgb(27, 141, 193);
                    border-radius: 0px 9px 9px 0px;
                    height: 40%;
                    .blue-bottom-text{
                        position: absolute;
                        font-size: 9px;
                        bottom: -14px;
                        right: 0px;
                        font-weight: 400;
                        color: rgb(25, 141, 177);
                        line-height: normal;
                        letter-spacing: 1px;
                    }
                }
            }

        }
    }
    .rab-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        -ms-flex-align: center;
        align-items: center;

        & > div {
            position: relative;
            width: 100%;
            padding-left: 15px;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .rab-info-total {
            span.info-total-count {
                display: block;
                color: #414042;
                font-size: 36px;
                font-weight: 200;
                font-family: 'Montserrat', serif;
                line-height: normall;
                letter-spacing: -1px;
            }
            span.info-total-text {
                color: #77787b;
                font-size: 10px;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        .rab-info-date {
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            width: auto;
            max-width: 100%;

            span.info-date-text {
                display: block;
                padding: 10px 15px;
                font-size: 10px;
                color: #343534;
                font-weight: 300;
                line-height: normal;
                letter-spacing: normal;
                border-radius: 21px;
                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.1);
                background-color: #ffffff;
            }
        }
    }
    &.type-aum {
        .rab-content {
            // padding: 40px 20px;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &.type-ipo {
        .rab-content {
            // padding: 40px 20px 50px 20px;
        }
        .rab-inner {
            display: -ms-flexbox;
            display: flex;
            margin-right: -15px;
            margin-left: -15px;
            -ms-flex-align: center;
            align-items: center;

            & > div {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
            .rab-left-block {
                flex: 1;
                padding-right: 0px;
                width: auto;
            }
            .rab-right-block {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                flex: 2;
                .rab-chart {
                    width: 240px;
                }
            }
        }
        .rab-info {
            .rab-info-total,
            .rab-info-date {
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .info-date-text {
                position: relative;
                padding-left: 30px !important;

                &:before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    width: 8px;
                    height: 8px;
                    background-color: #465e7b;
                    border-radius: 100%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .rab-settings {
        display: none;

        .rab-header {
            h2 {
                padding: 8px 0;
            }
            a {
                width: 30px;
                height: 30px;
                margin-top: 4px;
                background-image: url(../../../assets/analytics/close.svg);
            }
        }
        .rab-content {
            padding: 20px;
        }
        .rab-setting-row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: -15px -10px;
    
            & > div {
                position: relative;
                width: 100%;
                padding: 15px 10px;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
            }
        }
        .rab-setting-field {
            label {
                display: block;
                padding-bottom: 5px;
                color: #414042;
                font-size: 12px;
                font-weight: bold;
                font-family: 'museo-sans', sans-serif;
                line-height: 1.17;
                letter-spacing: normal;
            }
            input[type="text"], .rab-field-select {
                display: block;
                width: 100%;
                padding: 15px;
                color: #414042;
                font-size: 14px;
                font-weight: 300;
                font-family: 'museo-sans', sans-serif;
                line-height: normal;
                letter-spacing: normal;
                background-color: #ffffff;
                border: 1px solid #e7e6e6;
                border-radius: 6px;
            }
            .rab-field-select {
                padding: 0;
                position: relative;
                select {
                    display: block;
                    width: 100%;
                    padding: 15px;
                    color: #c5c5c5;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'museo-sans', sans-serif;
                    line-height: normal;
                    letter-spacing: normal;
                    border: 0;
                    outline: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .span-state{
                    display: block;
                    
                    width: 100%;
                    padding: 15px;
                    color: #c5c5c5;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'museo-sans', sans-serif;
                    line-height: normal;
                    letter-spacing: normal;
                    border: 0;
                    white-space: nowrap;
                    outline: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .dropdown .multiSelect, .dropdownStatus .multiSelectStatus {
                    border-bottom-left-radius: 10px;
                    overflow: hidden;
                    border-bottom-right-radius: 10px;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    z-index: 9999999;
                    margin: 1px 0px 0px 0px;
                    background: #fff;
                    border-radius: 0px 0px 6px 6px;
                    box-shadow: 0 15px 100px 0 rgba(65, 64, 66, 0.3);
                    box-sizing: border-box;
                    background-color: rgb(241, 241, 241);
                    list-style-type: none;
                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        box-sizing: border-box;
                        background-color: white;
                        padding: 8px 10px 6px 19px;
                        font-family: "museo-sans";
                        font-size: 11px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        color: #414042;
                        border-bottom: 0.5px solid #e7e6e6;
                        &:hover {
                            background-color: #ffffff;
                        }
                        .item-content{
                            display: flex;
                            .title {
                                position: relative;
                                top: 5px;
                            }
                        }
                
                    }
                }
                input {
                    display: block;
                    width: 100%;
                    padding: 15px;
                    color: #c5c5c5;
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'museo-sans', sans-serif;
                    line-height: normal;
                    letter-spacing: normal;
                    border: 0;
                    outline: none;
                    background-color: transparent;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #c5c5c5;
                }
            }
        }
        .rab-setting-actions {
            position: relative;
            margin-top: 30px;
            padding-left: 130px;

            a {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                padding: 2px 0 2px 22px;
                color: #77787b;
                font-size: 12px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                line-height: 0.92;
                letter-spacing: 0.9px;
                text-transform: uppercase;
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center left;
                background-image: url(../../../assets/analytics/trash.svg);
                transform: translateY(-50%);
            }

            button {
                display: block;
                width: 100%;
                max-width: 200px;
                margin-left: auto;
                color: #ffffff;
                font-size: 12px;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                line-height: normal;
                letter-spacing: 1px;
                text-align: center;
                text-transform: uppercase;
                background-color: #1598cb;
                border: 1px solid #1598cb;
                border-radius: 6px;
                box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
            }
        }
    }

    &.is-settings {
        background-color: #f7f7f7;

        .rab-output {
            display: none;
        }
        .rab-settings {
            display: block;
        }
    }
}