<div class="rms-analytics-box type-{{ reportType }}">
    <div class="rab-output">
        <div class="rab-header">
            <h2>{{ reportTitle }} <span>{{ reportSubTitle }}</span></h2>
            <a class="rab-header-action" (click)="toggleSettings($event)"><span></span><span></span><span></span></a>
        </div><!-- .rab-header -->
        <div class="rab-content">
            <div *ngIf="reportType; then reportBlock">this is ignored</div>
    
            <ng-template #aumReport>
                <div class="rab-inner">
                    <div class="rab-info">
                        <div class="rab-info-total">
                            <span id = "goal-value" class="info-total-count">$0</span>
                        </div><!-- .rab-info-total -->
                    </div><!-- .rab-info -->
    
                    <div class="spacer" style="height: 20px; "></div><!-- .spacer -->
                        
                    <div class="rab-chart">
                        <div class="graph-container">
                            <div class="container-green">
                                <div class="green-content-top">
                                    <span class="green-top-text">$7M</span>
                                </div>
                                <div class="green-content-bottom">
                                    <span class="green-bottom-text">IMPLEMENTED: 100%</span>
                                </div>
                            </div>
                            <div class="container-center">
                                <div class="center-container-bar">
                                    <div class="goal-bar"></div>
                                    <div class="goal-container">
                                        <span class="item-goal-text" >Goal:</span><br />
                                        <span class="item-goal-value" >$6,200,000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container-blue">
                                <div class="blue-content-top">
                                    <span class="blue-top-text">$20M</span>
                                </div>
                                <div class="blue-content-bottom">
                                    <span class="blue-bottom-text">IN PROGRESS: 90%</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #ipoReport>
                <div class="rab-inner">
                    <div class="rab-left-block">
                        <div class="rab-info">
                            <div class="rab-info-total">
                                <span class="info-total-count">80</span>
                                <span class="info-total-text">TOTAL implemented <br/>proposals overtime</span>
    
                                <div class="spacer" style="height: 28px;"></div>
                            </div><!-- .rab-info-total -->
                            <div class="rab-info-date">
                                <span class="info-date-text"># of Proposals</span>
                            </div><!-- .rab-info-date -->
                        </div><!-- .rab-info -->
                    </div><!-- .rab-left-block -->
                    <div class="rab-right-block">
                        <div class="rab-chart">
                            <canvas #theChart></canvas>
                        </div><!-- .rab-chart -->
                    </div><!-- .rab-right-block -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #defReport>
                <div class="rab-inner">
                    <div class="rab-info">
                        <div class="rab-info-total">
                            <span class="info-total-count">12</span>
                            <span class="info-total-text">TOTAL Overtime</span>
                        </div><!-- .rab-info-total -->
                        <div class="rab-info-date">
                            <span class="info-date-text"># of Proposals <strong>2013 - 2018</strong></span>
                        </div><!-- .rab-info-date -->
                    </div><!-- .rab-info -->
                
                        <div class="spacer" style="height: 40px;"></div><!-- .spacer -->
                
                        <div class="rab-chart" style="height: 30px; ">
                            <canvas #theChart></canvas>
                        </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvpmReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvprReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvppReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #pdoReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #tvpsReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
    
            <ng-template #cpsReport>
                <div class="rab-inner">
                    <div class="rab-chart">
                        <canvas #theChart></canvas>
                    </div><!-- .rab-chart -->
                </div><!-- .rab-inner -->
            </ng-template>
        </div><!-- .rab-content -->
    </div><!-- .rab-output -->
    
    <div class="rab-settings">
        <div class="rab-header">
            <h2>Adjust Parameters</h2>
            <a class="rab-header-action" (click)="toggleSettings($event)"><span></span><span></span><span></span></a>
        </div><!-- .rab-header -->
        <div class="rab-content">
            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">Goal:</label>
                    <div class="rab-field-select">
                        <input name="goal" id="goal" (keyup)="updateGroupVal()" placeholder="$0" />
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->
            </div><!-- .rab-setting-row -->

            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">State:</label>
                    <div class="rab-field-select">
                        <div class="dropdown">
                            <div>
                                <a (click)="toggleDropdown(reportType)" ><span id="state{{reportType}}"  class="span-state">Select State</span></a>
                                <span class="span-state id" style="display: none;">{{reportType}}</span>
                            </div>
                            <div id="ID{{reportType}}" class="multiSelect">
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="all" (change)="selectAllToggler($event, 'state','All', reportType)"
                                            [checked]="filter_data.state[0]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Select All</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="active" (change)="checkFilter($event, false, 'state', 'Active', reportType)"
                                            [checked]="filter_data.state[1]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Active</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="archive" (change)="checkFilter($event, false, 'state', 'Archive', reportType)"
                                            [checked]="filter_data.state[2]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Archived</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->
                <div class="rab-setting-field">
                    <label for="goal">Status:</label>
                    <div class="rab-field-select">
                        <div class="dropdownStatus">
                            <div>
                                <a (click)="toggleDropdownStatus(reportType)" ><span id="status{{reportType}}"  class="span-state">Select Status</span></a>
                                <span class="span-state stat" style="display: none;">{{reportType}}</span>
                            </div>
                            <div id="STATUS{{reportType}}" class="multiSelectStatus">
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="all" (change)="selectAllToggler($event, 'status','All', reportType)"
                                            [checked]="filter_data.status[0]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Select All</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="active" (change)="checkFilter($event, false,'status', 'In Progress', reportType)"
                                            [checked]="filter_data.status[1]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">In Progress</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="sent-questionnaire" (change)="checkFilter($event, false,'status', 'Sent Questionnaire', reportType)"
                                            [checked]="filter_data.status[2]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Sent Questionnaire</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="sent-proposal" (change)="checkFilter($event, false,'status', 'Sent Proposal', reportType)"
                                            [checked]="filter_data.status[3]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Sent Proposal</span></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-content">
                                        <mat-checkbox class="implemented" (change)="checkFilter($event, false,'status', 'Implemented', reportType)"
                                            [checked]="filter_data.status[4]"></mat-checkbox>
                                        <div class="vertical-center"><span class="title">Implemented</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .rab-field-select -->
                </div><!-- .rab-setting-field -->
            </div>
            <div class="rab-setting-row">
                <div class="rab-setting-field">
                    <label for="goal">Date Range:</label>
                    <input type="text" placeholder="Select Date Range" (click)="showCalendar=!showCalendar">
                </div><!-- .rab-setting-field -->
                
            </div><!-- .rab-setting-row -->

            <div class="rab-setting-row rab-setting-calendar" *ngIf="showCalendar">
                <div class="rab-setting-field">
                    <app-calendar-modal></app-calendar-modal>
                </div>
            </div>

            <div class="rab-setting-actions">
                <a (click)="removeBox($event)">Remove Tile</a>
                <button (click)="toggleSettings($event)">Apply</button>
            </div><!-- .rab-setting-actions -->
        </div><!-- .rab-content -->
    </div><!-- .rab-settings -->
</div><!-- .rms-analytics-box -->