<section class="account-details">
<div class="overlay"></div>
  <div class="screen-container">
    <div class="modal-box-container">
      <div class="modal-box">
        <div class="box-head">
          <span>Account Details</span>
        </div>
        <div class="box-body">
          <div class="left-section">
            <div class="overlay"></div>
            <div class="left-section-content">
              <span class="title-text">Account Information:</span>
              <div class="text-box-container"><input type="text" class="text-box"></div>
              <div class="dropdown-container"><div class="dropdown"><span>Manually<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Investment Group"></div>
              <div class="dropdown-container"><div class="dropdown"><span>Manually</span><i class="icon-dropdown"></i></div></div>
              <div class="text-box-container"><input type="text" class="text-box"></div>
              <div class="dropdown-container"><div class="dropdown"><span>IRA (Roth)<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
              <div class="dropdown-container"><div class="dropdown"><span>Chris Candelaria<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
            </div>
          </div>
          <div class="right-section">
            <div class="option-container">
              <span class="title-text">Please select:</span>
              <div><mat-radio-button class="radio"><span>Quantity</span></mat-radio-button><mat-radio-button class="radio"><span>($) Value</span></mat-radio-button></div>
            </div>
            <app-quick-add></app-quick-add>
            <div class="search-container">
              <span class="search-title">Add security or cash</span>
              <div class="search-box-container"><input type="text" class="search-box" placeholder="Enter Security ID or Name Mutual Funds..."> </div>
            </div>
            <div class="table-container">
              <table>
                <tr>
                  <th>Security Name</th>
                  <th>($) Value</th>
                  <th>&nbsp;</th>
                </tr>
                <tr>
                  <td>SA US Core Market Select</td>
                  <td>$25,000.00</td>
                  <td><i class="icon-delete"></i></td>
                </tr>
                <tr>
                  <td>1290 Multi-Alternative Strategies R</td>
                  <td>$50,000.00</td>
                  <td><i class="icon-delete"></i></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr class="total">
                  <td>Total Value:</td>
                  <td>$75,000.00</td>
                  <td></td>
                </tr>
              </table>
            </div>
            <app-add-security></app-add-security>
          </div>
          <div class="btn-container">
            <button (click)="closeMe()" class="btn-cancel">Cancel</button>
            <button (click)="saveMe()" class="btn-save"><i class="icon-save"></i> <span>Save</span></button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

