<section class="account-details">
<div class="overlay"></div>
  <div class="screen-container">
    <div class="modal-box-container">
      <div class="modal-box">
        <div class="box-head">
          <span>Account Details</span>
        </div>
        <div class="box-body">
          <div class="left-section">
            <div class="overlay"></div>
            <div class="left-section-content">
              <span class="title-text">Account Information:</span>
              <div class="text-box-container"><input type="text" class="text-box"></div>
              <div class="dropdown-container"><div class="dropdown"><span>Manually<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Investment Group"></div>
              <div class="dropdown-container"><div class="dropdown"><span>Manually</span><i class="icon-dropdown"></i></div></div>
              <div class="text-box-container"><input type="text" class="text-box"></div>
              <div class="dropdown-container"><div class="dropdown"><span>IRA (Roth)<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
              <div class="dropdown-container"><div class="dropdown"><span>Chris Candelaria<span class="asterisk">*</span></span><i class="icon-dropdown"></i></div></div>
            </div>
          </div>
          <div class="right-section">
            <div class="option-container">
              <span class="title-text">Please select:</span>
              <div>
                <mat-radio-button class="radio" (click)="setQuickAddType('quantity')">
                  <span class="radio-text">Quantity</span>
                </mat-radio-button>
                <mat-radio-button class="radio" (click)="setQuickAddType('value')">
                  <span class="radio-text">($) Value</span>
                </mat-radio-button>
              </div>
            </div>
            <app-quick-add (click)="quickAdd=true" [ngClass]="{'active' : quickAdd}"></app-quick-add>
            <div class="search-container">
              <span class="search-title">Add security or cash</span>
              <div class="search-box-container"><input type="text" class="search-box" placeholder="Enter Security ID or Name Mutual Funds..."> </div>
            </div>
            <div class="table-container">
              <table>
                <tr>
                  <th>Security Name</th>
                  <th><span>Security ID</span><i class="icon-help"></i></th>
                  <th>Asset Class</th>
                  <th>Quantity</th>
                  <th>Allocation (%)</th>
                  <th>($) Value</th>
                  <td>&nbsp;</td>
                </tr>
                <ng-container *ngIf="quickAdd">
                <tr>
                  <td>International Business Machines Cor</td>
                  <td>IBM</td>
                  <td>
                    <details>
                      <summary>
                        Cash & Cash Alternatives
                        <a class="icon-expand"></a>
                      </summary>
                      <app-popup-custom-asset-class></app-popup-custom-asset-class>
                    </details>
                  </td>
                  <td>155.75</td>
                  <td>11%</td>
                  <td>$20,000.00</td>
                  <td><span class="close-circle">X</span></td>
                </tr>
                <tr>
                  <td>International Business Machines Cor</td>
                  <td>IBM</td>
                  <td>
                    <details>
                      <summary>
                        Cash & Cash Alternatives
                        <a class="icon-expand"></a>
                      </summary>
                      <app-popup-custom-asset-class></app-popup-custom-asset-class>
                    </details>
                  </td>
                  <td>155.75</td>
                  <td>11%</td>
                  <td>$20,000.00</td>
                  <td><span class="close-circle">X</span></td>
                </tr>
                </ng-container>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr class="total">
                  <td>Total Value:</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>(%)</td>
                  <td>($)</td>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="btn-container">
            <button (click)="closeMe()" class="btn-cancel">Cancel</button>
            <button (click)="saveMe()" class="btn-save"><i class="icon-save"></i> <span>Save</span></button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

