<main class="container">
    <section id="portfolio-box" style="display:block;">
    <div class="fadeMe"></div>
    <div class="portfolio-box-container" style="padding:40px;">
      <div class="portfolio-box">
      <div class="border-radius-top" style=" position: relative; height:65px; background-color: #1598cb;">
        <div class="vertical-middle box-heading" style=" padding-left: 30px;">
          <div>
            <span class=" text-normal-bold">Proposals by Households</span>
          </div> 
        </div>
        
        <!-- <div class="vertical-middle" style=" right: 2%; display: flex;">
            <input type="text" class="search-input" placeholder="Search"/>
            <button class="filter-btn"> FILTER </button>
        </div> -->
    
      </div>
      
    
          <div>
            <table>
                <thead>
                <tr class="last">
                  <th  class="align-left">Name</th>
                  <th  class="align-left">ID</th>
                  <th  class="align-right">$ VALUE</th>
                  <th  class="align-left" > #</th>
                  <th  class="align-left">STATE/STAUS</th>
                  <th  class="align-left ">CREATED</th>
                  <th  class="align-center">LAST UPDATED</th>
                  <th  class="align-center">ACTIONS</th>
                </tr>
                </thead>
                <tr style="border: 1px black solid">
                 
                   <div class="add-box-container" >
                        <div class="add-container flex">
                          <div class="flex-1" style="margin-top: 50px;"><i class="icon-big-add"></i></div>
                          <div class="flex-1"><h2 style="color:#1598cb;"> Add Household </h2></div>
                        </div>
                        </div>
                      
                  
                   
                    
        
        
                      </tr>
            
            </table>
         
          </div>
        </div>
        </div>
      </section>
    </main>