<section class="household-member-container">
<div class="overlay"></div>
<div class="household-container">
  <div class="box-container">
    <div class="box">

      <div class="box-head">
        <div class="text-title-container">
          <span class="text-title">Household:</span><div><span class="asterisk">*</span><span class="text-required">Required</span></div>
        </div>
        <div class="text-box-household-container"><input class="text-box-household" type="text" placeholder="Enter Household Name"></div>
      </div>

      <div class="box-body">
        <div class="box-content">
          <div class="text-title-container">
              <span class="text-title">Primary Member:</span>
              <i class="icon-delete icon">delete</i>
          </div>
          <div class="container">
            <div class="row-1">
                <div class="input-placeholder">
                    <input type="text" required>
                    <div class="placeholder">
                        First Name <span> &nbsp;*</span>
                    </div>
                </div>
                <div class="input-placeholder">
                    <input type="text" required>
                    <div class="placeholder">
                        Last Name <span> &nbsp;*</span>
                    </div>
                </div>
                <div class="input-placeholder">
                    <input type="text" required>
                    <div class="placeholder">
                        Email Address <span> &nbsp;*</span>
                    </div>
                </div>
            </div>
            <div class="row-2">
              <div class="text-box-container">
                    <input type="text" class="text-box" placeholder="Primary Phone #">
                    <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
              </div>
              <div class="text-box-container">
                <input type="text" class="text-box" placeholder="Secondary Phone #">
                <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
              </div>
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Tax ID"></div>
            </div>
            <div class="row-3">
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Address"></div>
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Zip Code"></div>
            </div>
            <div class="row-4">
              <div class="div-group">
                <div class="text-box-container"><input type="text" class="text-box" placeholder="City"></div>
                <div class="text-box-container"><input type="text" class="text-box" placeholder="Select State"></div>
              </div>
              <div class="text-box-container"><input type="text" class="text-box" placeholder="Date of Birth"></div>
            </div>
          </div>
       
          <div class="bottom-container" *ngIf="memberCount<2">
            <div class="left-section">
              <div (click)="addMember()"><i class="icon-add"></i><span>Add Secondary Member</span> </div>
              <div (click)="addMember()"><i class="icon-add"></i><span>Add Member</span></div>
            </div>
            <div class="right-section">
              <button (click)="closeMe()"> Cancel </button>
              <button (click)="save()"><i class="icon-save"></i>Save</button>
            </div>
          </div>
        </div>
        <div class="box-content" *ngIf="memberCount>1">
            <div class="text-title-container">
                <span class="text-title">Secondary Member:</span>
                <i class="icon-delete icon">delete</i>
            </div>
            <div class="container">
              <div class="row-1">
                  <div class="input-placeholder">
                      <input type="text" required>
                      <div class="placeholder">
                          First Name <span> &nbsp;*</span>
                      </div>
                  </div>
                  <div class="input-placeholder">
                      <input type="text" required>
                      <div class="placeholder">
                          Last Name <span> &nbsp;*</span>
                      </div>
                  </div>
                  <div class="input-placeholder">
                      <input type="text" required>
                      <div class="placeholder">
                          Email Address <span> &nbsp;*</span>
                      </div>
                  </div>
              </div>
              <div class="row-2">
                <div class="text-box-container">
                      <input type="text" class="text-box" placeholder="Primary Phone #">
                      <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
                </div>
                <div class="text-box-container">
                  <input type="text" class="text-box" placeholder="Secondary Phone #">
                  <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
                </div>
                <div class="text-box-container"><input type="text" class="text-box" placeholder="Tax ID"></div>
              </div>
              <div class="row-3-member">
                  <div class="checkbox-address">
                      <input type="text" placeholder="Address" required>
                      <div class="checkbox-address-placeholder">
                        <div><mat-checkbox><span>Same as Primary</span></mat-checkbox></div>
                      </div>
                  </div>
                <div class="text-box-container"><input type="text" class="text-box" placeholder="Zip Code"></div>
              </div>
              <div class="row-4">
                <div class="div-group">
                  <div class="text-box-container"><input type="text" class="text-box" placeholder="City"></div>
                  <div class="text-box-container"><input type="text" class="text-box" placeholder="Select State"></div>
                </div>
                <div class="text-box-container"><input type="text" class="text-box" placeholder="Date of Birth"></div>
              </div>
            </div>
         
            <div class="bottom-container" *ngIf="memberCount<3">
              <div class="left-section">
                <div (click)="addMember()"><i class="icon-add"></i><span>Add Member</span></div>
              </div>
              <div class="right-section">
                  <button (click)="closeMe()"> Cancel </button>
                  <button (click)="save()"><i class="icon-save"></i>Save</button>
                </div>
            </div>
          </div>

          <div class="box-content" *ngIf="memberCount>2">
              <div class="text-title-container">
                  <span class="text-title">Member:</span>
                  <i class="icon-delete icon">delete</i>
              </div>
              <div class="container">
                <div class="row-1">
                    <div class="input-placeholder">
                        <input type="text" required>
                        <div class="placeholder">
                            First Name <span> &nbsp;*</span>
                        </div>
                    </div>
                    <div class="input-placeholder">
                        <input type="text" required>
                        <div class="placeholder">
                            Last Name <span> &nbsp;*</span>
                        </div>
                    </div>
                    <div class="input-placeholder">
                        <input type="text" required>
                        <div class="placeholder">
                            Email Address <span> &nbsp;*</span>
                        </div>
                    </div>
                </div>
                <div class="row-2">
                  <div class="text-box-container">
                        <input type="text" class="text-box" placeholder="Primary Phone #">
                        <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
                  </div>
                  <div class="text-box-container">
                    <input type="text" class="text-box" placeholder="Secondary Phone #">
                    <button class="btn-dropdown"><span>Home</span><i class="icon-dropdown"></i></button>
                  </div>
                  <div class="text-box-container"><input type="text" class="text-box" placeholder="Tax ID"></div>
                </div>
                <div class="row-3-member">
                    <div class="checkbox-address">
                        <input type="text" placeholder="Address" required>
                        <div class="checkbox-address-placeholder">
                          <div><mat-checkbox><span>Same as Primary</span></mat-checkbox></div>
                        </div>
                    </div>
                  <div class="text-box-container"><input type="text" class="text-box" placeholder="Zip Code"></div>
                </div>
                <div class="row-4">
                  <div class="div-group">
                    <div class="text-box-container"><input type="text" class="text-box" placeholder="City"></div>
                    <div class="text-box-container"><input type="text" class="text-box" placeholder="Select State"></div>
                  </div>
                  <div class="text-box-container"><input type="text" class="text-box" placeholder="Date of Birth"></div>
                </div>
              </div>
           
              <div class="bottom-container">
                <div class="left-section">
                  <div><i class="icon-add"></i><span>Add Member</span></div>
                </div>
                <div class="right-section">
                    <button (click)="closeMe()"> Cancel </button>
                    <button (click)="save()"><i class="icon-save"></i>Save</button>
                </div>
              </div>
            </div>

      </div>
    </div>
  </div>
</div>
</section>