@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
.overlay{
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:60;
}
.household-member-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.household-container{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 110px;
    position: relative;
    @media only screen and (max-width: 767px){
        flex:1;
        padding:10px;
        top: 110px;
    }
    .box-container{
        width: 1200px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
        border-radius: 6px;
        min-width: 350px;
        margin-bottom: 50px;
        background: white;
        @media only screen and (max-width: 767px){
            width: auto;
            flex:1;
        }
        .box{
            .box-head{
                border-radius: 6px;
                padding: 30px 60px 20px 60px;
                display: flex;
                flex-direction: column;
                border-bottom: #e7e6e6 1px solid;
                @media only screen and (max-width: 767px){
                    padding: 10px;
                }
                .text-title-container{
                    color: rgba(65, 64, 66,1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .text-required{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        font-weight: 500;
                        color: #808284;
                        margin-left:5px;
                    }
                    .asterisk{
                        font-weight: 600;
                        color: #1598cb;
                    }
                }
                .text-box-household-container{
                    margin-top: 10px;
                    display: flex;
                    input[type=text]{
                        flex:1;
                        border-radius: 6px;
                        border: 1px #e7e6e6 solid;
                        padding: 15px 10px;
                        font-size: 12px;
                    }
                }
            }
            .box-body{
                .box-content:not(:first-child){
                    border-top: #e7e6e6 1px solid;
                }
                .box-content{
                    overflow-y: scroll;
                    padding: 20px 50px 30px 60px;
                    @media only screen and (max-width: 767px){
                        padding: 10px;
                    }
                    .text-title-container {
                        display:flex;
                        .material-icons {
                            font-size: 17px;
                            color: #999;
                            margin-left: 10px;
                        }
                    }
                    
                    .row-1, .row-2, .row-3, .row-4{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 20px;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            align-items: initial;
                            margin-top: 0px;
                        }
                        input[type=text]{
                            border-radius: 6px;
                            border: 1px #e7e6e6 solid;
                            font-size: 12px;
                            padding: 15px 10px;
                        }
                        
                    }
                    .row-1, .row-4{
                        justify-content: space-between;
                        .text-box-container{
                            width:32%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width:auto;
                                margin-top: 10px;
                            }
                            input[type=text]{
                            flex:1; 
                            }
                            
                        }   
                    }
                    .row-2{
                        display: flex;
                        justify-content: space-between;
                        .text-box-container:not(:last-child){
                            display: flex;
                            width: 32%;
                            @media only screen and (max-width: 767px){
                                width: auto;
                                margin-top:10px;
                            }
                                input[type=text]:first-child{
                                    flex:1;
                                    border-radius: 6px 0px 0px 6px;
                                    border-right:none;
                                }
                                .btn-dropdown{
                                width: 30%;
                                border-radius: 0px 6px 6px 0px;
                                border: #e7e6e6 1px solid;
                                cursor: pointer;
                                padding:0px;
                                span{
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 12px;
                                    color: #808284;
                                    font-weight: 300; 
                                    margin-left: 5px;
                                }
                                .icon-dropdown{
                                    width: 10px;
                                    padding-left: 10px;
                                    content: url("../../../assets/component/household-member/arrow-gray.png")
                                }
                                }
                            }
                    
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width: auto;
                                margin-top: 10px;
                            }
                            input[type=text]{
                                flex:1;
                            }
                        }
                    }
                    .row-3{
                        justify-content: space-between;
                        .text-box-container:first-child{
                            width:66%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width: auto;
                                margin-top: 10px;
                            }
                            input[type=text]{
                                flex:1;
                            }
                        }
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width: auto;
                                margin-top: 10px;
                            }
                            input[type=text]{
                                flex:1;
                            }
                        }
                    }
                    .row-3-member{
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 20px;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            align-items: initial;
                            margin-top:10px;
                        }
                        .checkbox-address{
                            width:66%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width: auto;
                            }
                            input[type=text]{
                                flex:1;
                                border-radius: 6px;
                                border: 1px #e7e6e6 solid;
                                font-size: 12px;
                                padding: 15px 140px 15px 10px;
                            }
                        }
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            @media only screen and (max-width: 767px){
                                width: auto;
                                margin-top: 10px;
                            }
                            input[type=text]{
                                flex:1;
                                border-radius: 6px;
                                border: 1px #e7e6e6 solid;
                                font-size: 12px;
                                padding: 15px 10px;
                            }
                        }
                    }
                    .row-4{
                        .div-group{
                            display: flex;
                            width: 66%;
                            justify-content: space-between;
                            @media only screen and (max-width: 767px){
                                display: flex;
                                flex:1;
                                justify-content: space-between;
                                width: auto;
                                
                                .text-box-container:first-child{
                                    padding-right: 11px;
                                }
                            }
                            .text-box-container{
                                width:48.5%;
                                display: flex;
                                @media only screen and (max-width: 767px) {
                                    width: 45%;
                                    flex: 1;
                                }
                            }
                            
                        }
                    }
                    .icon-delete{
                        width: 15px;
                        height: 15px;
                        content: url("../../../assets/icons/delete-gray.svg");
                    }
                    
                }
            
                .bottom-container{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media only screen and (max-width: 767px){
                        align-items: initial;
                    }
                    .left-section{
                        display: flex;
                        align-items: flex-start;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                        }
                        .icon-add{
                            content: url("../../../assets/icons/add.svg");
                            width:20px;
                            padding-right: 7px;
                        }
                        span{
                            margin-top: 1px;
                        }
                        div{
                            cursor: pointer;
                            font-family:'Montserrat', sans-serif;
                            font-size: 14px;
                            font-weight: 800;
                            text-transform: uppercase;
                            color: #1598cb;
                            display: flex;
                            align-items: center;
                        }
                        div:last-child{
                            margin-left: 15px;
                            @media only screen and (max-width: 767px){
                            margin-left: 0px;
                            margin-top: 12px;
                            }
                        }
                    }
                    .right-section{
                        display: flex;
                        flex-direction: row;
                        @media only screen and (max-width: 767px){
                            display: none;
                        }
                        button{
                            width: 152px;
                        }
                        button:first-child{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                            text-transform: uppercase;
                            font-weight:800;
                            font-family: 'Montserrat', sans-serif;
                            letter-spacing: 1px;
                            box-shadow: 0 2px 6px 0 rgba(65, 64, 66, 0.1);
                        }
                        .icon-save{
                            width: 20px;
                            padding-right: 10px;
                            content: url("../../../assets/component/household-member/save-blue.png");
                        }
                        button:last-child{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                            text-transform: uppercase;
                            font-weight:800;
                            font-family: 'Montserrat', sans-serif;
                            letter-spacing: 1px;
                            color: #1598cb;
                            border: 1px #1598cb solid;
                            box-shadow: 0 2px 6px 0 rgba(65, 64, 66, 0.1);
                        }
                    }
                }
            }
        }
    }
    .text-title{
        letter-spacing: 2px;
        color: #77787b;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    ::placeholder{
        color: #e7e6e6;
    }
}
.input-placeholder {
    position: relative;
    width: 32%;
    display:flex;
    @media only screen and (max-width: 767px){
        width:auto;
        margin-top: 10px;
    }
    input[type=text]{
        flex: 1;
    }
  }
 .checkbox-address{
    position: relative;
    width: 66%;
    display:flex;
    input[type=text]{
        flex: 1;
    }
 }
 .checkbox-address-placeholder{
    position: absolute;
    top: 11px;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    right: 15px;
    margin: auto;
    color: rgb(139, 139, 139);
    font-weight: 500;
    
 }
  .input-placeholder input:valid + .placeholder {
    display: none;
  }
  
  .placeholder {
    position: absolute;
    pointer-events: none;
    top: 16px;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    left: 11px;
    margin: auto;
    color: #ccc;
  }
  .icon{
      cursor:pointer;
      padding-left: 10px;
  }
  .placeholder span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1598cb;
    
  }