@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
.overlay{
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index:60;
}
.household-member-container {
    display: flex;
    align-items: center;
    justify-content: center;
        height: 100%;
    width: 100%;
}
.household-container{
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    top: 50px;
    position: relative;
    .box-container{
        width: 1200px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
        border-radius: 6px;
        .box{
            .box-head{
                padding: 30px 60px 20px 60px;
                display: flex;
                flex-direction: column;
                border-bottom: #ddd 1px solid;
                .text-title-container{
                    color: rgba(65, 64, 66,1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .text-required{
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        color: #808284;
                        margin-left:10px;
                    }
                    .asterisk{
                        font-weight: 700;
                        color: #1598cb;
                    }
                }
                .text-box-household-container{
                    margin-top: 10px;
                    display: flex;
                    input[type=text]{
                        flex:1;
                        border-radius: 6px;
                        border: 1px #ddd solid;
                        padding: 15px 10px;
                        font-size: 12px;
                    }
                }
            }
            .box-body{
                overflow-y: scroll;
                .box-content:not(:first-child){
                    border-top: #ddd 1px solid;
                }
                .box-content{
                    padding: 20px 50px 30px 60px;
                    .text-title-container {
                        display:flex;
                        .material-icons {
                            font-size: 17px;
                            color: #999;
                            margin-left: 10px;
                        }
                    }
                    
                    .row-1, .row-2, .row-3, .row-4{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 20px;
                        input[type=text]{
                            border-radius: 6px;
                            border: 1px #ddd solid;
                            font-size: 12px;
                            padding: 15px 10px;
                        }
                        
                    }
                    .row-1, .row-4{
                        justify-content: space-between;
                        .text-box-container{
                            width:32%;
                            display: flex;
                            input[type=text]{
                            flex:1; 
                            }
                            
                        }   
                    }
                    .row-2{
                        display: flex;
                        justify-content: space-between;
                        .text-box-container:not(:last-child){
                            display: flex;
                            width: 32%;
                                input[type=text]:first-child{
                                    flex:1;
                                    border-radius: 6px 0px 0px 6px;
                                    border-right:none;
                                }
                                .btn-dropdown{
                                width: 30%;
                                border-radius: 0px 6px 6px 0px;
                                border: #ddd 1px solid;
                                cursor: pointer;
                                padding:0px;
                                span{
                                    font-family: Montserrat;
                                    font-size: 12px;
                                    color: #808284;
                                    font-weight: 300; 
                                    margin-left: 5px;
                                }
                                .icon-dropdown{
                                    width: 10px;
                                    padding-left: 10px;
                                    content: url("/src/assets/component/household-member/arrow-gray.png")
                                }
                                }
                            }
                    
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            input[type=text]{
                                flex:1;
                            }
                        }
                    }
                    .row-3{
                        justify-content: space-between;
                        .text-box-container:first-child{
                            width:66%;
                            display: flex;
                            input[type=text]{
                                flex:1;
                            }
                        }
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            input[type=text]{
                                flex:1;
                            }
                        }
                    }
                    .row-3-member{
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 20px;
                        .checkbox-address{
                            width:66%;
                            display: flex;
                            input[type=text]{
                                flex:1;
                                border-radius: 6px;
                                border: 1px #ddd solid;
                                font-size: 12px;
                                padding: 15px 140px 15px 10px;
                            }
                        }
                        .text-box-container:last-child{
                            width:32%;
                            display: flex;
                            input[type=text]{
                                flex:1;
                                border-radius: 6px;
                                border: 1px #ddd solid;
                                font-size: 12px;
                                padding: 15px 10px;
                            }
                        }
                    }
                }
            
                .bottom-container{
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .left-section{
                        display: flex;
                        align-items: flex-start;
                        .icon-add{
                            content: url("/src/assets/component/household-member/add-blue.png");
                            width:20px;
                            padding-right: 10px;
                        }
                        span{
                            margin-top: 1px;
                        }
                        div{
                            cursor: pointer;
                            font-family:Montserrat;
                            font-size: 14px;
                            font-weight: 800;
                            text-transform: uppercase;
                            color: #1598cb;
                            display: flex;
                            align-items: center;
                        }
                        div:last-child{
                            margin-left: 15px;
                        }
                    }
                    .right-section{
                        display: flex;
                        flex-direction: row;
                        button{
                            width: 152px;
                        }
                        button:first-child{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                            text-transform: uppercase;
                            font-weight:800;
                            font-family: Montserrat;
                            letter-spacing: 1px;
                            box-shadow: 0 2px 6px 0 rgba(65, 64, 66, 0.1);
                        }
                        .icon-save{
                            width: 20px;
                            padding-right: 10px;
                            content: url("/src/assets/component/household-member/save-blue.png");
                        }
                        button:last-child{
                            display: flex;
                            align-items: center;
                            margin-right: 15px;
                            text-transform: uppercase;
                            font-weight:800;
                            font-family: Montserrat;
                            letter-spacing: 1px;
                            color: #1598cb;
                            border: 1px #1598cb solid;
                            box-shadow: 0 2px 6px 0 rgba(65, 64, 66, 0.1);
                        }
                    }
                }
            }
        }
    }
    .text-title{
        letter-spacing: 2px;
        color: #77787b;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    ::placeholder{
        color: #ddd;
    }
}
.input-placeholder {
    position: relative;
    width: 32%;
    display:flex;
    input[type=text]{
        flex: 1;
    }
  }
 .checkbox-address{
    position: relative;
    width: 66%;
    display:flex;
    input[type=text]{
        flex: 1;
    }
 }
 .checkbox-address-placeholder{
    position: absolute;
    top: 11px;
    bottom: 0;
    font-family: Montserrat;
    font-size: 12px;
    right: 15px;
    margin: auto;
    color: rgb(139, 139, 139);
    font-weight: 500;
    
 }
  .input-placeholder input:valid + .placeholder {
    display: none;
  }
  
  .placeholder {
    position: absolute;
    pointer-events: none;
    top: 16px;
    bottom: 0;
    font-family: Montserrat;
    font-size: 12px;
    left: 11px;
    margin: auto;
    color: #ccc;
  }
  
  .placeholder span {
    font-family: Montserrat;
    font-weight: 700;
    color: #1598cb;
    
  }