<div class="settings-container ">
    <div class="container flex">
    <div class="padding">
    <div class="content-container">
      <div class="box-1-container">
        <div class="box-head"><span class="header-title">Landing Page Default</span><span class="edit-text">edit</span></div>
        <div class="box-body"> 
            <div class="title-box">
              <div>
                <span class="small-title"> HOME VIEW </span>
              </div>
              <div class="flex">
                <mat-radio-group>
                  <div class="flex">
                    <div>
                      <mat-radio-button></mat-radio-button>
                    </div>
                      <div>
                        <span class="normat-text"> 
                          Default 
                        </span>
                      </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
            <div class="content-box">
              <img src="../../../assets/loring.png">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="content-container">
        <div class="box-1-container">
            <div class="box-head"><span class="header-title">RAQ Email Language</span><span class="edit-text">edit</span></div>
          <div class="box-body">
              <div class="title-box">
                <div>
                  <p class="small-title"> Loring Ward Default </p> <p class="small-title">Email Language: </p>
                </div>
                <div class="flex">
                  <mat-radio-group>
                    <div class="flex">
                      <div>
                        <mat-radio-button></mat-radio-button>
                      </div>
                        <div>
                          <span class="normat-text"> 
                            Default 
                          </span>
                        </div>
                    </div>
                  </mat-radio-group>
                </div> 
              </div>
  
              <div class="text-box-container">
                <div class="text-box-head">
                  <span> Investor Questionnaire from [Advisor Name] with [Firm Name] </span>
                </div>
  
                <div class="text-box-body">
                  <span>Hello [client name], <br/><br/>
                        [Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire. <br/><br/>
                        All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you. <br/><br/> 
                        Click Here to Start  <br/><br/>
                        Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly. 
                  </span>
                </div>
              </div>
  
  
          </div>
        </div>
    </div>
  </div>
  <div class="padding">
    <div class="content-container">
        <div class="box-1-container">
            <div class="box-head"><span class="header-title">Document Email Language</span><span class="edit-text">edit</span></div>
          <div class="box-body"> 
              <div class="title-box">
                  <div>
                      <p class="small-title"> Loring Ward Default </p> <p class="small-title">Email Language: </p>
                  </div>
                  <div class="flex">
                    <mat-radio-group formControlName="document">
                      <div class="flex">
                        <div>
                          <mat-radio-button></mat-radio-button>
                        </div>
                          <div>
                            <span class="normat-text"> 
                              Default 
                            </span>
                          </div>
                      </div>
                    </mat-radio-group>
                  </div> 
                </div>
                <div class="text-box-container">
                    <div class="text-box-head">
                      <span> Investor Questionnaire from [Advisor Name] with [Firm Name] </span>
                    </div>
      
                    <div class="text-box-body">
                      <span>Hello [client name], <br/><br/>
                            [Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire. <br/><br/>
                            All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you. <br/><br/> 
                            Click Here to Start  <br/><br/>
                            Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly. 
                      </span>
                    </div>
                  </div>
          </div>
        </div>      
    </div>
    </div>
  
    </div>
  </div>