<app-popup-landing-page class="global-popup" [currentPage]="defaultPage" (defaultPage)="changeDefaultPage($event)" *ngIf="popupLandingDefaultModal"></app-popup-landing-page>
<app-popup-email-language class="global-popup" [currentRAQ]="defaultRAQ" (defaultRAQ)="changeDefaultRAQ($event)" *ngIf="emailLangModal"></app-popup-email-language>
<app-popup-document-language class="global-popup" [currentDocument]="defaultDocument" (defaultDocument)="changeDefaultDocument($event)" *ngIf="docuLangModal"></app-popup-document-language>

<div class="settings-container ">
    <div class="container flex">
    <div class="padding">
    <div class="content-container">
      <div class="box-1-container">
        <div class="box-head">
          <div>
            <span class="header-title">Landing Page Default</span>
          </div>
          <div class="edit-button flex">
            <i class="edit-icon"></i>
            <span class="edit-text" (click)="openSettingsLandingDefaultModal()">edit</span>
          </div>
        </div>
        <div class="box-body"> 
            <div class="title-box">
              <div>
                <span class="small-title"> {{defaultPage}}: </span>
              </div>
              <div class="flex">
                <mat-radio-group>
                  <div class="flex">
                    <div>
                      <mat-radio-button></mat-radio-button>
                    </div>
                      <div>
                        <span class="normat-text"> 
                          Default 
                        </span>
                      </div>
                  </div>
                </mat-radio-group>
              </div>
            </div>
            <div class="content-box">
              <img src="../../../assets/component/settings/{{defaultPageTemplate}}.PNG">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="padding">
    <div class="content-container">
        <div class="box-1-container">
            <div class="box-head">
              <div><span class="header-title">RAQ Email Language</span></div>
              <div class="edit-button flex" (click)="open_emailLang()">
                  <i class="edit-icon"></i>
                  <span class="edit-text">edit</span>
                </div>
              </div>
            
           
          <div class="box-body">
              <div class="title-box">
                <div>
                  <p class="small-title"> {{defaultRAQ}} </p> <p class="small-title">Email Language: </p>
                </div>
                <div class="flex">
                  <mat-radio-group>
                    <div class="flex">
                      <div>
                        <mat-radio-button></mat-radio-button>
                      </div>
                        <div>
                          <span class="normat-text"> 
                            Default 
                          </span>
                        </div>
                    </div>
                  </mat-radio-group>
                </div> 
              </div>
              <div class="text-box-container" *ngIf="defaultRAQ == 'Loring Ward Default'">
                <div class="text-box-head">
                  <span> Investor Questionnaire from [Advisor Name] with [Firm Name] </span>
                </div>
  
                <div class="text-box-body">
                  <span>Hello [client name], <br/><br/>
                        [Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire. <br/><br/>
                        All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you. <br/><br/> 
                        Click Here to Start  <br/><br/>
                        Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly. 
                  </span>
                </div>
              </div>
              <div class="text-box-container" *ngIf="defaultRAQ != 'Loring Ward Default'">
                <div class="text-box-head">
                  <span> Subject </span>
                </div>
  
                <div class="text-box-body-empty">
                  <span>
                    Start Typing...
                  </span>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
  <div class="padding">
    <div class="content-container">
        <div class="box-1-container">
            <div class="box-head">
              <div><span class="header-title">Document Email Language</span></div>
              <div class="edit-button flex" (click)="open_docuLang()">
                  <i class="edit-icon"></i>
                  <span class="edit-text">edit</span>
                </div>
            </div>
          <div class="box-body"  *ngIf="defaultDocument == 'Loring Ward Default'"> 
              <div class="title-box">
                  <div>
                      <p class="small-title"> {{defaultDocument}} </p> <p class="small-title">Email Language: </p>
                  </div>
                  <div class="flex">
                    <mat-radio-group>
                      <div class="flex">
                        <div>
                          <mat-radio-button></mat-radio-button>
                        </div>
                          <div>
                            <span class="normat-text"> 
                              Default 
                            </span>
                          </div>
                      </div>
                    </mat-radio-group>
                  </div> 
                </div>
                <div class="text-box-container">
                    <div class="text-box-head">
                      <span> Investor Questionnaire from [Advisor Name] with [Firm Name] </span>
                    </div>
      
                    <div class="text-box-body">
                      <span>Hello [client name], <br/><br/>
                            [Advisor Name] with [Firm Name] has invited you to complete a brief investor questionnaire. <br/><br/>
                            All you have to do is answer a few quick questions about yourself and your risk sentiment. This will be used as the foundation of an investment proposal designed especially for you. <br/><br/> 
                            Click Here to Start  <br/><br/>
                            Please do not reply to this system generated email. If you have any questions, contact [Advisor Name] directly. 
                      </span>
                    </div>
                  </div>
          </div>
          <div class="box-body"  *ngIf="defaultDocument != 'Loring Ward Default'"> 
              <div class="title-box">
                  <div>
                      <p class="small-title"> {{defaultDocument}} </p> <p class="small-title">Email Language: </p>
                  </div>
                  <div class="flex">
                    <mat-radio-group>
                      <div class="flex">
                        <div>
                          <mat-radio-button></mat-radio-button>
                        </div>
                          <div>
                            <span class="normat-text"> 
                              Default 
                            </span>
                          </div>
                      </div>
                    </mat-radio-group>
                  </div> 
                </div>
                <div class="text-box-container">
                    <div class="text-box-head">
                      <span> Subject </span>
                    </div>
      
                    <div class="text-box-body-empty">
                      <span>Start Typing</span>
                    </div>
                  </div>
          </div>
        </div>      
    </div>
    </div>
  
    </div>
  </div>