@import url('~@angular/material/prebuilt-themes/indigo-pink.css');

$mainfont : 'Montserrat', sans-serif;

app-settings-landing-default {
    position: absolute;
    align-items: center;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}


.settings-container {
    padding: 20px;
    @media only screen and (max-width: 767px){
        padding: 10px;
    }

}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.flex-1 {
    flex: 1;
}
.flex-1 {
    flex: 2;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-container {
    border-radius: 6px;
    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
    background-color: #ffffff;
    
}
.padding {
    width: 32%;
    @media only screen and (max-width: 767px) {
        width: auto;
    }
}
.padding:nth-child(2), .padding:last-child{
    @media only screen and (max-width: 767px){
        margin-top: 20px;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    @media only screen and (max-width: 767px){
        flex-direction: column;
        padding:0px;
    }
}
.box-head {
    height: auto;
    background-color: #1598cb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 23px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.box-body {
    height: 359px;
    padding: 20px 0px;
    box-sizing: border-box;
}
.header-title {
    font-family: $mainfont;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.small-title {
    font-family:$mainfont;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #77787b;
    text-transform: uppercase;
}
.small-title:last-child{
    margin-top: -10px;
}
.title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.normat-text {
    font-family: "museo-sans";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #404041;
}
.text-box-container  {
    padding: 0px 20px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top:20px;
}
.text-box-head {
    padding: 15px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: solid 1px #e7e6e6;
    background-color: #ffffff;
    border-bottom: none;
    input {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404041;
        font-family: "museo-sans";
        flex: 1;
        width: 90%;
        height: 15px;
        border: 0px;
        text-decoration: none;
        margin: 0px 6px 0px 6px;
        ::placeholder {
            color:#c5c5c5;
        }
    }
}
.text-box-body {
    height: 170px;
    padding: 6px;
    font-family: "museo-sans";
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 1px #e7e6e6;
    background-color: #ffffff;
    textarea {
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404041;
        text-align: left;
        resize: none;
        width: 100%;
        height: 100%;
        border: 0px;
    }
}
.text-box-body-empty {
    height: 170px;
    padding: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #e7e6e6;
    textarea {
        font-family: "museo-sans";
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #404041;
        text-align: left;
        resize: none;
        width: 100%;
        height: 100%;
        border: 0px;
    }
    
}
.edit-text {
    text-transform: uppercase;
    font-family: $mainfont;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #ffffff;    
}

.content-box{
    text-align: center;
    padding: 20px;
    overflow-y: scroll;
    img{
        width:100%;
    }
}
.edit-icon {
    height: 20px;
    width: 20px;
    content: url('../../../assets/icons/edit-white.svg');
}
.edit-button {
    align-items: center;
    cursor: pointer;
}
.edit-text {
    padding-left: 6px;
}