<ng-container>
  <div class="dialog-container" id="modal">
    <div class="open-dialog">
        <div class="dialog-header">
          <h2>View & Add Analytics</h2>
          <span class="btn-modal-close" (click)="closeMe()"><i class="material-icons">cancel</i></span>
        </div> 
        <div class="dialog-content">
          <div class="box-container">

            <app-dash-box [title]="'Opportunity AUM'" 
                          [subTitle]="'Forecast Overtime'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-1.png">
            </app-dash-box>

            <app-dash-box [title]="'# of Proposals'" 
                          [subTitle]="'In Progress'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-2.png">
            </app-dash-box>

            <app-dash-box [title]="'Implmented Proposals'" 
                          [subTitle]="'Overtime'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-3.png">
            </app-dash-box>

            <app-dash-box [title]="'Total Value of Proposals'" 
                          [subTitle]="'By Month'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-4.png">
            </app-dash-box>

            <app-dash-box [title]="'Total Proposals'" 
                          [subTitle]="'By Risk'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-5.png">
            </app-dash-box>

            <app-dash-box [title]="'Total Value of Proposals'" 
                          [subTitle]="'By Portfolio'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-6.png">
            </app-dash-box>

            <app-dash-box [title]="'By Days Old (Last 30 Days)'" 
                          [subTitle]="'By Days Old (Last 30 Days)'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-7.png">
            </app-dash-box>

            <app-dash-box [title]="'Of Proposals Status'" 
                          [subTitle]="'Of Proposals Status'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-8.png">
            </app-dash-box>

            <app-dash-box [title]="'Count of Proposals'" 
                          [subTitle]="'By Status'" 
                          [headerRightType]="'select'">
              <img src="../../../assets/graph-9.png">
            </app-dash-box>

          </div>
        </div>
      </div>
  </div>
  <app-cancel-save (cancelEvent)=cancelReceiver($event) (saveEvent)=saveReceiver($event)></app-cancel-save>
</ng-container>

