<ng-container>
  <div class="dialog-container" id="modal">
    <div class="open-dialog">
        <div class="dialog-header">
          <h2>View & Add Analytics</h2>
          <a class="btn-modal-close" (click)="modal=!modal"><i class="material-icons">cancel</i></a>
        </div> 
        <div class="dialog-content">
          <div class="box-container">
            <div class="box">
              <div class="box-header">
                <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
              </div>
              <div class="box-content">
                <img src="../../../assets/second-graph.png">
              </div>
            </div>
            <div class="box">
                <div class="box-header">
                  <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                  <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
                </div>
                <div class="box-content">
                  <img src="../../../assets/first-graph.png">
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                  <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                  <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
                </div>
                <div class="box-content">
                  <img src="../../../assets/third-graph.png">
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                  <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                  <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
                </div>
                <div class="box-content">
                  <img src="../../../assets/first-graph.png">
                </div>
            </div>
            <div class="box">
                <div class="box-header">
                  <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                  <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
                </div>
                <div class="box-content">
                  <img src="../../../assets/third-graph.png">
                </div>
              </div>
              <div class="box">
                  <div class="box-header">
                    <div class="box-title"><h2>Opportunity AUM</h2><p>Forecast Time</p></div>
                    <div class="box-checkbox"><mat-checkbox></mat-checkbox></div>
                  </div>
                  <div class="box-content">
                    <img src="../../../assets/second-graph.png">
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <app-cancel-save></app-cancel-save>
</ng-container>

