.dialog-container{
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    top: 0px;
    background-color: #ffffffb3;
    padding-top: 120px;
    padding-bottom: 50px;
    margin-bottom:150px;
    
    .open-dialog{
        position: relative;
        width: calc(100vw - 150px);
        margin: auto;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
        background-color: #ffffff;

        .dialog-header{
            border-bottom: 1px solid #dedede;
            padding: 20px;
            h2{
                font-family: 'Montserrat', sans-serif;
                font-size: 24px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: -0.6px;
                text-align: center;
                color: #1598cb;
                margin: 0;
            }
        }

        .dialog-content{
            display: flex;
            width: inherit;
        
            .box-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 10px;
                .box{
                    width: 360px;
                    height: 272.8px;
                    border-radius: 5.6px;
                    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
                    background-color: #ffffff;
                    margin: 10px 10px 10px 10px;

                    .box-header{
                        width: inherit;
                        height: 52.5px;
                        background-color: #1598cb;
                        border-radius: 5px 5px 0 0;
                    
                        .box-title{
                           padding: 5px;
                           display: inline-block;

                            h2, p{
                                margin: 0;
                                color: #ffffff;
                            }
                            h2{
                                font-size: 15pt;
                            }
                            p{
                                font-size: 12pt;
                            }
                        }

                        .box-checkbox{
                            float: right;
                            padding: 15px;
                        }

                       
                    }

                    .box-content{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

.temp{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img{
        width: 400px;
    }
}

.icon-side{
    font-size: 8pt;
}

.icon-text{
    position: relative;
    top: -2px;
}

.container-btn{
    background-color: white;
    padding: 170px;
}



.btn-modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: grey;
    cursor:pointer;
}