.account-saved-container{
    display: flex;
    justify-content: flex-end;
    padding:30px;
    .box{
        position: relative;
        box-shadow: 0 4px 10px 0 rgba(65, 64, 66, 0.18);
        background-image: linear-gradient(to left, #4db6c5, #1598cb);
        padding: 20px 30px;
        border-radius: 6px;
        .exit{
            cursor: pointer;
            position: absolute;
            top: 5px;
            right:5px;
            width: 15px;
            content: url("/src/assets/exit-white.svg");
        }
        .box-content{
            display:flex;
            align-items: center;
            .icon-saved{
                margin-right: 20px;
                content: url("/src/assets/icons/save-blue.png")
            }
            span{
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                color: white;
                font-weight: 600;
            }   
        }
    }
}