<header>
    <section class="header-container"> 
        <div class="header-mask" >
            <p class="text-small-light">PROPOSAL NAME: </p>

            <div class="title-container" >
              <p class="text-big-light space">Chris & Kristy Retirement Proposal</p>
              <div class="line"></div>
            </div>
            <div class="status-container">
              <div class="padding-right-50">
                <button class="dropbtn"><span class="text-small-light">Active</span></button>
              </div>
             <div class="padding-right-50">
                <p class="text-normal">ID: </p>
                <p class="text-small-light">3457</p> 
             </div>
    
              <div class="padding-right-50">
               
                
              </div>
            </div>
        </div>
  </section>
  </header>
<div class="household-container">
<div class="content-container">
  <div class="box-container">
     <div class="box col-1">
      <div class="box-head"><span class="header-title">Member Information</span><span class="edit-text">edit</span></div>
        <div class="box-body">
          <div class="member-info">
              <div class="member-name">
               <span> Chris Candelaria </span>
              </div>
              <div class="phone-email">
                <span> CCandelaria@loringward.com <br/> (402) 123-4567 </span>
              </div>
          </div>
          <div class="member-info">
              <div class="member-name">
               <span> Chris Candelaria </span>
              </div>
              <div class="phone-email">
                <span> CCandelaria@loringward.com <br/> (402) 123-4567 </span>
              </div>
          </div>
          <div class="member-info">
              <div class="member-name">
               <span> Chris Candelaria </span>
              </div>
              <div class="phone-email">
               
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="box-container margin-left">
      <div class="box  ">
       <div class="box-head"><span class="header-title">Proposals</span><span class="edit-text">add proposal</span></div>
         <div class="table-container">
            <table class="table">
              <thead>
                <tr class="header">
                  <th class="align-left">Name</th>
                  <th class="align-right">ID</th>
                  <th class="align-right">Value</th>
                  <th class="align-left">Status</th>
                  <th class="align-right">Created</th>
                  <th class="align-right">Last Updated</th>
                  <th class="align-center">Actions</th>
                </tr>
                </thead>
              <tbody>
                <tr class="highlighted">
                  <td class="align-left">Chris & Kristy Retirement Proposal</td>
                  <td class="align-right">3457</td>
                  <td class="align-right">$800,000.00</td>
                  <td class="align-left">Sent Proposal</td>
                  <td class="align-right"><span>7/31/2018 | 3:30 PM</span> <span> By: Jennica Fernen </span> </td>
                  <td class="align-right"><span>7/31/2018 | 3:30 PM</span> <span> By: Jennica Fernen </span> </td>
                  <td class="align-center"><mat-icon>more_vert</mat-icon></td>
                </tr>

                <tr class="dropdown-item">
                    <td class="align-left">Chris & Kristy Retirement Proposal</td>
                    <td class="align-right"></td>
                    <td class="align-right">Sent </td>
                    <td class="align-left">Sent Proposal </td>
                    <td class="align-right"><span>7/31/2018 | 3:30 PM</span> <span> By: Jennica Fernen </span> </td>
                    <td class="align-right">&nbsp;</td>
                    <td class="align-center"><mat-icon>more_vert</mat-icon></td>
                  </tr>
              </tbody>
            </table> 
 
 
         </div>
     </div>
   </div>
</div>
</div>