<app-import-accounts *ngIf="importAccountsModal"></app-import-accounts>
<app-account-details *ngIf="accountDetailsModal"></app-account-details>
<app-risk-assessment-questionnaire *ngIf="riskSendFormModal"></app-risk-assessment-questionnaire>
<app-questionnaire-modal *ngIf="questionnaireModal"></app-questionnaire-modal>
<app-popup-create-portfolio *ngIf="viewPortfolioModal"></app-popup-create-portfolio>
<app-popup-create-portfolio *ngIf="editPortfolioModal" [isEdit]="true"></app-popup-create-portfolio>

<app-header></app-header>
<main role="main">
	<app-sidebar></app-sidebar>
	<div class="content">
		<app-proposal></app-proposal>
	</div>
</main>



