app-import-accounts {
	    position: fixed;
    z-index: 99;
    width: 100%;
        display: flex;
    justify-content: center;
    height: 100%;
}

app-account-details {
	position: fixed;
    z-index: 100;
    width: 100%;
        display: flex;
    justify-content: center;
    height: 100%;
}

app-popup-create-portfolio {
    position: absolute;
        align-items: center;
    z-index: 99;
    width: 100%;
        display: flex;
    justify-content: center;
    height: 100%;
}