.active-archive-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  text-align: left;
  font-weight: 100;
  width: 156px;
  height: auto;
  border-radius: 6px;
  border: solid 0.5px #ffffff;
  font-size: 11px;
  font-weight: 300;
  font-family: MuseoSans;
  cursor: pointer;
  box-sizing: border-box;

  &[open] {
    background: #fff;
    color: #414042;
        position: relative;
    summary {
      border-bottom: 0.5px solid #e7e6e6;
      color:#414042;
      
    }
    .item {
      .material-icons {
        color: #414042;
      }  
    }
    
    .check-icon {
    	content: url('../../../assets/state-active-gray.svg');
    }
    .dropdown-icon {
    	content: url('../../../assets/arrow-gray.svg');
    }

  }
  .icon-container {
    display: flex;
    align-items: center;
  }
  .left-section {
    display: flex;
    align-items: center;
  }
  .check-icon {
    width: 8px;
    height: 12px;
    padding-right: 6px;
    object-fit: contain;
    content: url('../../../assets/component/header/state-active-white@3x.png');
  }
  summary {
    display: flex;
    box-sizing: border-box;
    outline: none !important;
    position: relative;
    display: block;
    .material-icons {
      color:#fff;
    }
  }
  .archive-icon {
    width: 8px;
    height: 12px;
    object-fit: contain;
    content: url('../../../assets/state-archived-gray.svg');
  }

  .dropdown-icon {
    top: 14px;
    position: absolute;
    right: 10px;
    width: 10px;
    height: 7px;
    content: url('../../../assets/component/household/arrow-white@3x.png');
  }
  .title {
    display: inline-block;
    margin-left: 10px;
  }
  .item {
  	padding: 11px 10px 10px;
  	box-sizing: border-box;
  	display: flex;
  	position: relative;
    display: block;
    .material-icons {
      font-size:inherit;
    }
  }
}
