<details class="active-archive-component">
	<summary>
		<div class="item" *ngIf="type!='proposal'">
			<i class="check-icon"></i>
			<span class="title">Active</span>
			<i class="dropdown-icon"></i>
		</div>
		<div class="item" *ngIf="type=='proposal'">
			<i class="icon-progress"></i>
			<span class="title">In Progress</span>
			<i class="dropdown-icon"></i>
		</div>
	</summary>
	<div class="item" *ngIf="type!='proposal'">
		<i class="archive-icon"></i>
		<span class="title">Archive</span>
	</div>
	<div class="item" *ngIf="type=='proposal'">
		<i class="icon-questionnaire"></i>
		<span class="title">Sent Questionnaire</span>
	</div>
	<div class="item" *ngIf="type=='proposal'">
		<i class="icon-proposal"></i>
		<span class="title">Sent Proposal</span>
	</div>
	<div class="item" *ngIf="type=='proposal'">
		<i class="icon-implemented"></i>
		<span class="title">Implemented</span>
	</div>
</details>