<app-popup-create-portfolio *ngIf="viewPortfolioModal" [isEdit]="editPortfolioModal"></app-popup-create-portfolio>

<div class="portfolio-container" >
  <div class="container">
  <div class="content-container">
      <div class="box-1-container">
        <div class="box-head">

          <div class="title-box">
            <div class="title-container">
                <span class="title">Portfolio Administration</span><br/>
                <span class="subtitle">Search, View, and Modify Portfolio</span>
            </div>
            <div class="btn-add-container">
                <a (click)="showViewPortfolioModal()" style="display: flex; align-items: center;"><i class="add-icon"></i><span class="text-create">Create New Portfolio</span></a><span class="text-create-mobile">New</span>
            </div>
          </div>

          <div class="right-section flex">
              <div class="search padding-left">
                    <div class="input-text"><input type="text" class="search-box" placeholder="Search This Page"></div>
                </div>
                <div class="filter" >
                    <app-dropdown-filter-portfolio></app-dropdown-filter-portfolio>
                </div>
              </div>
          </div>
        <div class="box-body"> 
          <table class="table">
            <thead>
            <tr>
              <th class="align-left">Portfolio name<i class="caret-name"></i></th>
              <th class="align-right">Risk Score<i class="caret-score"></i></th>
              <th class="align-right">Risk Name & Range<i class="caret-range"></i></th>
              <th class="align-left">Portfolio Group<i class="caret-group"></i></th>
              <th class="align-center">Actions<i class="caret-center"></i></th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-left">Example Advisors - Balanced Select</td>
                <td class="align-right">29</td>
                <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                <td class="align-left">Example Advisors Portfolios</td>
                <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
              <tr>
                  <td class="align-left">Example Advisors - Balanced Select</td>
                  <td class="align-right">29</td>
                  <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                  <td class="align-left">Example Advisors Portfolios</td>
                  <td class="align-center"><app-dropdown-actions></app-dropdown-actions></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        
  </div>
  </div>
  </div>