@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
@import url('~@angular/material/prebuilt-themes/indigo-pink.css');
$mainfont : 'Montserrat', sans-serif;




.portfolio-container {
   padding: 30px;
   @media only screen and (max-width:767px){
       padding: 10px;
   }
}
.title-box {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.right-section{
    display: flex;
}
input[type=text].text-try {
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(52, 53, 52, 0.18);
    height: 45px;
    width:240px;
    padding-left:30px;
}   
.btn-filter{
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(52, 53, 52, 0.18);
    background-color: #ffffff;
    border:none;
    height: 45px;
    width:240px;
    font-family: $mainfont;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #77787b;
    text-transform: uppercase;
}
.padding-left{
    padding-left:20px;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.flex-1 {
    flex: 1;
}
.flex-1 {
    flex: 2;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-container {
    flex: 1;
    border-radius: 6px;
    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
    background-color: #ffffff;
    width: auto;
    min-width: 375px;
}
.container {
    display:flex;
}
.box-head {
   
    background-color: #1598cb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 767px) {
        padding: 10px;
        flex-direction: column;
        .filter {
            display:none;
        }
        .right-section {
            width: 100%;
        }
    } 
}
.box-body {
    height:auto;
    width:100%;
    @media only screen and (max-width: 767px) {
        table {
            th:nth-child(2), th:nth-child(3), th:nth-child(4){
                display: none;
            }
            td:nth-child(2), td:nth-child(3),td:nth-child(4){
                display: none;
            }
        }
    }
}
.header-title {
    font-family: $mainfont;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.small-title {
    font-family:$mainfont;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0;
    letter-spacing: 2px;
    color: #77787b;
    text-transform: uppercase;
    margin-left:15px;
}
.content-box{
    display: flex;
    justify-content: space-between;

}
.normat-text {
    font-family: $mainfont;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 0;
    letter-spacing: normal;
    color: #404041;
}
.text-box-container  {
    padding: 0px 20px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-top:20px;
}
.text-box-head {
    padding: 15px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #ffffff;
    border-bottom: none;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #404041;
}
.text-box-body {
    height: 170px;
    padding: 15px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: solid 1px #e7e6e6;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #414042;
    overflow-y: scroll;
}
.profile-box {
    display: flex;
    justify-content: space-between;
        
   
}
.profile-pic-container {
    padding-right: 30px;
}
.profile-pic{
    width: 100px;
    height: 100px;
    border: .5px black dashed;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-create-mobile{
    font-family: $mainfont;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #ffffff;
    display: none;
    @media only screen and (max-width: 767px) {
        display: flex;
    }
  
}
.name {
  font-family: $mainfont;
  font-size: 20px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.2px;
  color: #414042;
}
.title {
    font-family:$mainfont;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.subtitle {
    font-family: $mainfont;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.2px;
    color: #ffffff;
}
@media only screen and (max-width: 767px) {
    .text-create{
        display: none;    
    }
   }
.text-create{
    font-family: $mainfont;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: #ffffff;
}
table {
 width: 100%;
 border-collapse: collapse;
}
th {
    font-family: $mainfont;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    color: #414042;
    padding: 19px 30px;
    text-transform: uppercase;
    background-color: #fafbfc;
    
  }
tr{
    border-bottom: 1px solid #dedede;
}
td {
    font-family: $mainfont;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #414042;
    padding: 10px 30px;
}
td:first-child{
    font-weight: 600;
}
.range-text{
    font-weight: 600;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}

.search{
    margin-top:-4px;
    color: black;;
    @media only screen and (max-width: 767px) {
        padding-left:0;
        width: 100%;
        margin-top: 10px;
        .input-text {
            display: flex;
        }
        .search-box {
            flex:1;
            width: 100%;
        }
        input[type=text]{
          
        }
    }
    input[type=text]{
        background: url('../../../assets/component/listview/search-gray.png') no-repeat  15px 10px;
        width: 253px;
        height: 37px;
        border-radius:6px;
        border: solid 1px #e7e6e6;
        background-color: #ffffff;
        margin-top: 4px;
        font-size: 14px;
        border: solid 1px #e7e6e6;
        padding-left:40px;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;

    }
    ::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c5c5c5;
  
  
    }
}
.btn-add-container {
    display: flex;
    align-items:center;
    @media only screen and (max-width: 767px) {
        width:auto;
    }

}
.add-icon {
    height: 20px;
    width: 20px;
    padding-right: 6px;
    content: url('../../../assets/component/home/add-white.png');
}
.filter{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    
    button{
        background: url('../../../assets/component/listview/filter-gray-1.png') no-repeat  15px 5px;
        text-align: left;
        width: 200px;
        height: 40px;
        border-radius: 6px;
        box-shadow: 0 1px 6px 0 rgba(52, 53, 52, 0.18);
        background-color: #ffffff;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #77787b;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0px 15px 0px 55px;
    }
    .dropdown-icon {
        margin-top: 2px;
        width:12px;
        float: right;
        content: url('../../../assets/component/listview/dropdown.png');
    }

}