<div class="portfolio-container" >
  <div class="container">
  <div class="content-container">
      <div class="box-1-container">
        <div class="box-head">

          <div class="title-box">
          <span class="title">Portfolio Administration</span><br/>
          <span class="subtitle">Search, View, and Modify Portfolio</span>
          </div>

          <div class="title-box flex">
              <div>
              <span class="text-create">Create New Portfolio</span>
              </div>
              <div class="padding-left">
              <input type="text" class="text-try" placeholder="Search Portfolio Name">
              </div>
              <div class="padding-left">
              <button class="btn-filter"> Filter </button>
              </div> 
              </div>

          </div>
        <div class="box-body"> 
          <table class="table">
            <thead>
            <tr>
              <th class="align-left">Portfolio name</th>
              <th class="align-right">Risk Score</th>
              <th class="align-right">Risk Name & Range</th>
              <th class="align-left">Portfolio Group</th>
              <th class="align-center">Actions</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-left">Example Advisors - Balanced Select</td>
                <td class="align-right">29</td>
                <td class="align-right"><span>Balanced</span><br/><span class="range-text">30-43</span></td>
                <td class="align-left">Example Advisors Portfolios</td>
                <td class="align-center"><mat-icon>more_vert</mat-icon></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        
  </div>
  </div>
  </div>