<app-household-list *ngIf="openHousehold" (closeMeEvent)="household(false)"></app-household-list>

<app-header></app-header>
<main role="main">
    <app-sidebar [currentPage]="'home'"></app-sidebar>
    
    <div class="rms-dashboard">

        <div class="info-board">
            <div class="board-panes">
                <div class="board-pane">
                    <app-dash-box [isNew]="isNew"
                                [title]="'Recent Household'"
                                    [addLabel]="'Add Household'"
                                    [headerRightType]="'add'"
                                    (addHousehold)="household($event)">
                        <div class="info-item vertical-align" *ngFor="let data of households">
                            <div class="item-top">{{ data.name }}</div>
                            <div class="item-top">
                                <div class="item-bottom">{{ data.value }}</div>
                                <div class="item-bottom">{{ data.date }}</div>
                            </div>
                        </div>
                    </app-dash-box>
                </div><!-- .info-pane -->
                <div class="board-pane">
                    
                    <app-dash-box [isNew]="isNew"
                                    [title]="'Recent Proposals'"
                                    [addLabel]="'Add Proposals'"
                                    [headerRightType]="'add'"
                                    (addHousehold)="household($event)">
                    <div class="info-item" *ngFor="let household of households">
                                    <div class="item-top" >
                                        <div>Chris & Kristy Retirement Proposal</div>
                                        <div><span class="grey-text">Candelaria Household</span></div>
                                    </div>
                                    <div class="item-bottom">
                                        <div>$900,000.00</div>
                                        <div class="grey-text">
                                            <span class="icon-text">Implemented</span> <i class="icon-implemented icon-side">lock</i>
                                        </div>
                                    </div>
                            </div>
                    </app-dash-box>
                </div><!-- .info-pane -->
                <div class="board-pane">
                    <app-dash-box [isNew]="isNew"
                                    [title]="'Recent Documents'"
                                    [addLabel]="'Add Documents'">
                    <div class="info-item space-between" *ngFor="let household of households">
                                    <div class="flex">
                                        <div class="document-icon">
                                            <img src="../../../assets/icons/docu.png">
                                        </div>
                                    <div class="container-flex item-column">
                                        <div class="item-top">Christ & Kristy Proposal IPS GAP</div>
                                        <div class="item-top"><span class="grey-text">Candelaria Household</span></div>
                                    </div>
                                </div>
                                 <div class="item-bottom">
                                        <div>7/31/2018</div>
                                        <div class="grey-text">
                                            <span class="icon-text">Sent</span> <i class="icon-send icon-side">send</i>
                                        </div>
                                    </div>
                            </div>
                    </app-dash-box>
                </div><!-- .info-pane -->
            </div><!-- .board-panes -->
        </div><!-- .info-board -->

        <div class="spacer" style="height: 40px; "></div><!-- .spacer -->

        <div class="report-board">
            <h2 class="board-title">Proposal Analytics</h2>
            <div class="board-toggle is-{{ reportBoard.s }}"><span (click)="reportBoardToggle()">{{ reportBoard.t }}</span></div>

            <div class="spacer" style="height: 35px; "></div><!-- .spacer -->

            <div id="report-panes" class="board-panes" *ngIf="reportBoard.s === 'show'">
                <div class="board-pane" *ngFor="let pane of panes">
                    <app-graph-proposals [reportType]="pane"></app-graph-proposals>
                </div><!-- .board-pane -->
                <div class="board-pane">
                
                    <div class="rms-analytics-box type-add">
                        <div class="rab-header">
                            <h2>&nbsp;</h2>
                            <a href="#" class="rab-header-action"><span></span><span></span><span></span></a>
                        </div><!-- .rab-header -->
                        <div class="rab-content-add">
                            <span (click)="addAnalyticsBox()">Add</span>
                        </div><!-- .rab-content -->
                    </div><!-- .rms-analytics-box -->

                </div><!-- .board-pane -->
            </div><!-- .board-panes -->
        </div><!-- .report-board -->

    </div><!-- .rms-dashboard -->
</main>
<div class="rms-analytics-selector">
    <div class="selector-main">
        <div class="selector-header">
            <span>View & Add Analytics</span>
            <a (click)="addAnalyticsBox()"></a>
        </div><!-- .selector-header -->
        <div class="selector-content">
            <div class="selector-items">
                <div class="selector-item" *ngFor="let chart of charts; let i = index">
                    <div class="analytics-box" data-id="{{ chart }}">
                        <a (click)="selectAnalyticsBox($event)"></a>
                        <span>
                            <img src="../../../assets/component/home/chart-{{ i + 1 }}.png" alt="chart-{{ i }}">
                        </span>
                    </div><!-- .analytics-box -->
                </div><!-- .selector-item -->
            </div><!-- .selector-items -->
        </div><!-- .selector-content -->
    </div><!-- .selector-main -->
</div><!-- .rms-analytics-selector -->
<div class="rms-analytics-actions">
    <button class="is-cancel" (click)="addAnalyticsBox()">Cancel</button>
    <button class="is-save" (click)="saveAnalyticsBox()">Save</button>
</div><!-- .rms-analytics-actions -->