<section class="app-popup-create-portfolio">
<div class="overlay"></div>
<div class="popup-container">
    <div class="popup-content">
        <div class="popup-box">
            <div class="row-1">
                <div class="risk-box">
                    <div class="box-head">
                        <span>Portfolio Risk Score</span>
                    </div>
                    <div class="box-body">
                        <span class="risk-score">{{targetRange}}</span>
                        <div class="footer"><span>{{(targetRiskName)}}</span></div>
                    </div>
                </div>
                <div class="top-items-container">
                    <div class="text-box-container">
                        <input type="text" class="text-box" placeholder="Enter Portfolio Name">
                    </div>
                    <div class="dropdown-container"><app-dropdown-capital-appreciation (targetRiskName)="changeName($event)" (targetRange)="changeRange($event)" ></app-dropdown-capital-appreciation></div>
                    <div class="text-portfolio-group">
                        <span>Portfolio Group:</span><br/>
                        <span>Jennica Fernen Portfolios</span>
                    </div>
                </div>
            </div>
            <div class="row-2">
                <div class="left-section">
                    <div class="section-overlay" *ngIf="!haveAllocationData"></div>
                    <span class="graph-title">Target Asset Allocation:</span> 
                    <div class="graph-container">
                        <canvas class="graph" height="200" id="graph" #graph></canvas>
                    </div>
                    <div class="table-container">
                        <table>
                            <tr>
                                <th class="text-color-3">{{allocation_data[0].label}}</th>
                                <th class="text-color-3">{{allocation_data[0].value}}%</th>
                            </tr>
                            <tr>
                                <td><div class="circle color-3"></div><span>{{allocation_data[0].data[0].asset_class}}</span></td>
                                <td>{{allocation_data[0].data[0].value}}%</td>
                            </tr>
                            <tr>
                                <th class="text-color-5">{{allocation_data[1].label}}</th>
                                <th class="text-color-5">{{allocation_data[1].value}}%</th>
                            </tr>
                            <tr>
                                <td><div class="circle color-4"></div><span>{{allocation_data[1].data[0].asset_class}}</span></td>
                                <td>{{allocation_data[1].data[0].value}}%</td>
                            </tr>
                            <tr>
                                <td><div class="circle color-5"></div><span>{{allocation_data[1].data[1].asset_class}}</span></td>
                                <td>{{allocation_data[1].data[1].value}}%</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="right-section">
                    <app-quick-add></app-quick-add>
                    <div class="add-security-container">
                        <span>Add Security:</span>
                        <input type="text" class="text-box" (input)="onSearchChange($event.target.value)" placeholder="Enter Security ID or Name: Mutual Funds, ETFs, Stocks">
                        <div class="searchSuggestions" *ngIf="showSuggestion">
                            <ul>
                                <li><a (click)="clickSuggestion()">
                                    <strong>SA US Value Select</strong>
                                    <span>SAVLX</span>
                                </a></li>
                                <li><a (click)="clickSuggestion()">
                                    <strong>SA Global Fixed Income Select</strong>
                                    <span>SAFLX</span>
                                </a></li>
                                <li><a (click)="clickSuggestion()">
                                    <strong>SA US Small Company Select</strong>
                                    <span>SASLX</span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-container">
                        <table>
                            <thead>
                            <tr>
                                <th>Security Name</th>
                                <th >Security ID<div class="hasToolTip"><i class="icon-help"></i><div class="tooltip-content">Ticker or CUSIP</div></div></th>
                                <th>Asset Class</th>
                                <th>Allocation (%)</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngIf="haveAllocationData">
                                <tr>
                                    <td>{{allocation_data[0].data[0].security_name}}</td>
                                    <td>{{allocation_data[0].data[0].security_id}}</td>
                                    <td><details>
                                        <summary>
                                          {{allocation_data[0].data[0].asset_class}} <i class="icon-dropdown"></i>
                                        </summary>
                                        <app-popup-custom-asset-class></app-popup-custom-asset-class>
                                      </details></td>
                                    <td><input type="text" class="allocation-text" [(ngModel)]="allocation_data[0].data[0].value" 
                                        (keyup)="updateGroupVal()" placeholder="%"/></td>
                                    <td><i class="icon-remove" (click)="removeRow($event, allocation_data[0].data[0].value)"></i></td>
                                </tr>
                                <tr>
                                    <td>SA US Small Company Select</td>
                                    <td>SAFLX</td>
                                    <td><details>
                                        <summary>
                                          U.S. Small Neutral Stocks<i class="icon-dropdown"></i>
                                        </summary>
                                        <app-popup-custom-asset-class></app-popup-custom-asset-class>
                                      </details></td>
                                    <td><input [(ngModel)]="allocation_data[1].data[0].value" 
                                            (keyup)="updateGroupVal()"
                                            type="text" class="allocation-text" placeholder="%"></td>
                                    <td><i class="icon-remove" (click)="removeRow($event, allocation_data[1].data[0].value)"></i></td>
                                </tr>
                                <tr>
                                    <td>SA US Value Select</td>
                                    <td>SAFLX</td>
                                    <td><details>
                                        <summary>
                                          U.S. Large Value Stocks<i class="icon-dropdown"></i>
                                        </summary>
                                        <app-popup-custom-asset-class></app-popup-custom-asset-class>
                                      </details></td>
                                    <td><input [(ngModel)]="allocation_data[1].data[1].value" 
                                        (keyup)="updateGroupVal()"
                                        type="text" class="allocation-text" placeholder="%"></td>
                                    <td><i class="icon-remove" (click)="removeRow($event, allocation_data[1].data[1].value )"></i></td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="!haveAllocationData">
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </ng-container>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total Allocation:</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>{{totalAllocation}}%</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <div class="allocation-alert"><span class="alert-span">{{alertMessage}}</span></div>
                            </tfoot>
                        </table>
                    </div>
                    <div class="bottom">
                        <div class="btn-container">
                            <button class="btn-cancel" (click)="closeMe()">Cancel</button>
                            <button class="btn-save" (click)="saveEvent()"><i class="icon-save"></i>Save</button>
                            <button class="btn-close" (click)="closeMe()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>