.popup-create-portfolio {
    width:1280px;
    font-family: museo-sans;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c5c5c5;
    background:#fff;
    padding:0;
    z-index:2;
    input[type="text"] {
        padding:15px 15px 13px 15px;
    }
    app-dropdown {
        width: 240px;
    }
    .top {
        padding-top:41px;
        .container {
            flex-direction: row;
            display:flex;
            height:106px;
            background:#fafbfc;
            align-items: center;
            app-portfolio-risk-score {
                padding-left:30px;
            }
            div {
                flex:1;
                display:flex;
                justify-content: center;
                align-items: center;
            }
            .txt-portfolio-name {
                margin-left:40px;
                margin-right:30px;
                width:490px;
            }
            .dd-target-risk-name {
                margin-right:40px;
            }
            .portfolio-group {
                display:block;
                span {
                    display:block;
                    color:#77787b;
                    font-size:10px;
                    display:block;
                    letter-spacing: 2px;
                    text-transform:uppercase;
                }
                strong {
                    color: #414042;
                    font-size: 14px;
                }
            }
        }
        
    }
    .main {
        flex-direction: row;
        display:flex;
        justify-content: space-around;
    }
    .sidebar {
        margin-top: 40px;
        margin-left: 40px;
    }
    .error-messages {
        margin-top:40px;
    }
}
.add-to-profile {
    display:flex;
    margin-right:10px;
}