.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
}
.popup-container{
    display: flex;
    position: relative;
    z-index: 99;
    @media only screen and (max-width:767px){
        padding: 10px;
    }
    .popup-content{
        flex: 1;
        display:flex;
        justify-content: center;
        margin-bottom: 20px;
        @media only screen and (max-width: 767px){
            justify-content: unset;
            padding:0px;
        }
        .popup-box{
            flex:1;        
            background: #FFFF;
            box-shadow: 0 15px 30px 0 rgba(65, 64, 66, 0.2);
            border-radius: 6px;
            .row-1{
                padding-top: 40px;
                position: relative;
                .risk-box{
                    border-radius: 6px;
                    box-shadow: 0 5px 7px 0 rgba(65, 64, 66, 0.1);
                    width:130px;
                    height:128px; 
                    box-sizing: border-box;
                    position: absolute;
                    top: 30px;
                    left: 40px;
                    @media only screen and (max-width: 767px){
                        left: 33%;
                    }
                    .box-head{
                        background-color: #1598cb;
                        border-radius: 6px 6px 0px 0px;
                        font-family: "Montserrat", sans-serif;
                        padding: 10px 15px;
                        white-space: nowrap;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        text-align: center;
                        font-size: 10px;
                    }
                    .box-body{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #FFFF;
                        border-radius: 0px 0px 6px 6px;
                        .risk-score{
                            font-family: "Montserrat", sans-serif;
                            padding: 12px 0px;
                            font-size: 36px;
                            font-weight: 200;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: normal;
                            text-align: center;
                            color: #1598cb;

                        }
                        div{
                            span{
                                text-align: center;
                                justify-content: center;
                                display: flex;
                                padding: 7px 21px;
                                border-top: 0.5px #e7e6e6 solid;
                                padding: 5px 10px;
                                text-transform: uppercase;
                                font-family: "Montserrat", sans-serif;
                                font-size: 10px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.1;
                                letter-spacing: 1px;
                                text-align: center;
                                color: #414042;
                                
                            }
                        }
                    }
                }
                .top-items-container{
                    display: flex; 
                    padding: 30px 20px 30px 210px;
                    background-color: #fafbfc;
                    align-items: center;
                    justify-content: space-between;
                    @media only screen and (max-width: 767px){
                        flex-direction: column;
                        align-items: unset;
                        padding: 30px 20px;
                    }
                    .text-portfolio-group{
                        span:first-child{
                            font-family: "Montserrat", sans-serif;
                            font-size: 10px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: 2px;
                            color: #77787b;
                            text-transform: uppercase;
                        }
                        span:last-child{
                            font-family: "museo-sans";
                            font-size: 14px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1;
                            letter-spacing: normal;
                            color: #414042;
                        }
                    }
                    div:first-child{
                        padding-right: 30px;
                        flex: 2;
                        @media only screen and (max-width: 767px){
                            padding-right: 0px;
                            margin-top: 100px;
                        }
                    }
                    div:last-child {
                        padding-right: 100px;
                        @media only screen and (max-width: 767px){
                            padding-right: 0px;
                            text-align: center;
                            margin-top: 10px;
                        }
                    }
                    div:nth-child(2) {
                        flex: 1;
                        padding-right: 40px;
                        @media only screen and (max-width: 767px){
                            padding-right: 0px;
                            margin-top: 10px;
                        }
                    }
                    .text-box-container{
                        display: flex;
                        input[type=text]{
                            flex: 1;
                            height: 46px;
                            border-radius: 6px;
                            border: 1px solid #e7e6e6;
                            padding: 0 15px;
                            font-family: "museo-sans";
                            font-size: 14px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #414042;
                        }
                    }
                }
            }
            .row-2{
                display: flex;
                padding:40px;
                @media only screen and (max-width: 767px){
                    padding:10px;
                    flex-direction: column;
                }
                .left-section{
                    padding-right: 30px;
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    z-index: 1;
                    @media only screen and (max-width: 767px){
                        padding-right:0px;
                    }
                    .section-overlay{
                        position: absolute;
                        top:0;
                        right: 0;
                        bottom:0;
                        left: 0;
                        background-color: rgba(255, 255, 255, 0.8);
                        z-index: 2;
                    }
                    .graph-container{
                        width: 100%;
                        text-align: center;
                        margin-top:15px; 
                        margin-bottom: 20px;
                        canvas{
                            @media only screen and (max-width: 767px){
                                width: 100% !important;
                            }
                        }
                    }
                    .graph-title{
                        font-family: "Montserrat", sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: 1.2px;
                        text-align: center;
                        color: #414042;
                        text-transform: uppercase;
                        text-align: center;
                        white-space: nowrap;
                    }
                    .table-container{
                        margin-top: 15px;
                        display: flex;
                        table{
                            flex:1;
                            border-collapse: collapse;
                            th:first-child, td:first-child{
                                text-align: left;
                            }
                            th:last-child, td:last-child{
                                text-align: right;
                            }
                            tr:nth-child(2), tr:nth-child(5){
                                border-bottom: 0.5px #e7e6e6 solid;
                            }
                            td:first-child{
                                display:flex;
                                flex-direction: row;
                                align-items: center;
                            }
                            th{
                                padding: 8px 0px 10px 0px;
                                font-family: "Montserrat", sans-serif;
                                font-size: 10px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: 0.8px;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            td{
                                padding-bottom:10px;
                                font-family: "Montserrat", sans-serif;
                                font-size: 10px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: normal;
                                color: #414042;
                            }
                        }
                    }
                }
                .right-section{
                    flex:3;
                    padding:0px 30px;
                    .modify {
                        text-align:right;
                        font-size: 12px;
                        color: #414042;
                        font-weight: 300;
                    }
                    @media only screen and (max-width: 767px){
                        padding:0px;
                        margin-top: 20px;
                    }
                    .add-security-container{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        @media only screen and (max-width: 767px){
                            margin-top: 20px;
                        }
                        span{
                            text-transform: uppercase;
                            font-family: "Montserrat", sans-serif;
                            font-size: 18px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 0.94;
                            letter-spacing: 1.4px;
                            color: #414042;
                        }
                        input[type=text]{
                            margin-top: 10px;
                            border: 1px solid #e7e6e6;
                            padding: 10px 15px;
                            border-radius: 6px;
                            background-color: white;
                            font-family: "museo-sans";
                            font-size: 14px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #414042;
                            background-size: 18px;
                            background-repeat: no-repeat;
                            background-position: center left 15px;
                            background-image: url(../../../assets/search-gray.svg);
                            padding-left: 43px;
                        }
                        .searchSuggestions {
                            font-size: 11px;
                            border-radius: 10px;
                            line-height: 1.5;
                            box-shadow: 0 1px 20px 0 rgba(65, 64, 66, 0.1);
                            position: absolute;
                            width: 100%;
                            background: #fff;
                            top: 70px;
                            ul {
                                list-style: none;
                                padding:0; margin: 0;
                                li {
                                    padding: 0;
                                    border-bottom: 1px solid #e7e6e6;
                                    a {
                                        height: 45px;
                                        padding: 0 43px;
                                        display:flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        strong {
                                            font-weight: 600; 
                                            color: #414042;
                                        }
                                        span {
                                            text-transform: uppercase;
                                            color: #77787b;
                                            font-weight: 300;
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .table-container{
                        display: flex;
                        margin-top: 30px;
                        table{
                            @media only screen and (max-width: 767px){
                                tr th:nth-child(2),tr th:nth-child(3),
                                tr td:nth-child(2),tr td:nth-child(3){
                                    display: none;
                                }
                            }
                            box-shadow: 0 1px 6px 0 rgba(52, 53, 52, 0.18);
                            border-radius: 6px;
                            border-collapse: collapse;
                            flex: 1;
                            tr:first-child, tr:last-child{
                                background-color: #fafbfc;
                            }
                            tr:first-child th:first-child{
                                border-top-left-radius: 6px;
                            }
                            tr:first-child th:last-child{
                                border-top-right-radius: 6px;
                            }
                            tr:last-child th:first-child{
                                border-bottom-left-radius: 6px;
                            }
                            tr:last-child th:last-child{
                                border-bottom-right-radius: 6px;
                            }
                            th:first-child, th:nth-child(3), td:first-child, td:nth-child(3){
                                text-align:left;
                            }
                            th:nth-child(4), th:nth-child(2), td:nth-child(4), td:nth-child(2){
                                text-align:right;
                            }
                            th:last-child, td:last-child{
                                text-align: center;
                            }
                            th, td{
                                padding: 0px 18px;
                                height: 47px;
                                vertical-align: middle;
                            }
                            th{
                                font-family: "Montserrat", sans-serif;
                                font-size: 10px;
                                font-weight: 600;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: 0.8px;
                                color: #414042;
                                text-transform: uppercase;
                            }
                            th:nth-child(2){
                                display: flex;
                                align-items:center;
                            }
                            td{
                                font-family: "museo-sans";
                                font-size: 11px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: normal;
                                color: #414042;
                            }
                            // tr:not(:first-child) {
                            //     border-bottom: 0.5px #e7e6e6 solid;
                            // }
                            th:last-child{
                                width: 10%;
                            }
                            input[type=text].allocation-text{
                                text-align: right;
                                border-radius: 6px;
                                background-color: #ffffff;;
                                width: 50%;
                                padding:10px;
                                border:0.5px solid #e7e6e6;
                                font-family: "museo-sans";
                                font-size: 11px;
                                font-weight: 300;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1;
                                letter-spacing: normal;
                                text-align: right;
                                color: #c5c5c5;
                            }
                            .icon-remove{
                                cursor:pointer;
                                content: url("../../../assets/component/allocation-detail/exit-white.png")
                            }
                            .icon-help{
                                width: 13px;
                                height: 13px;
                                object-fit: contain;
                                margin-left: 5px;
                                content: url("../../../assets/component/allocation-detail/info-white.png")
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-top: 40px;
                        @media only screen and (max-width: 767px){
                            flex-direction: column;
                            margin-top: 20px;
                        }
                        .btn-container{
                            display: flex;
                            @media only screen and (max-width: 767px){
                                flex-direction: column;
                                width: 100%;
                                align-items: flex-end;
                            }
                            .btn-cancel{
                                margin-right: 20px;
                                @media only screen and (max-width: 767px){
                                    margin-right: 0px;
                                    margin-bottom: 10px;
                                }
                            }
                            .btn-save{
                                width: 160px;
                                height: 45px;
                                border: 1px solid #1598cb;
                                border-radius: 6px;
                                text-transform: uppercase;
                                color: #1598cb;
                                padding: 0 40px;
                                font-weight: bold;
                                .icon-save{
                                    margin-right: 10px;
                                    content: url("../../../assets/component/allocation-detail/save-blue.png")
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep .popup-container app-quick-add{
    @media only screen and (max-width: 767px){
        display: none;
    }
}
::ng-deep .popup-container app-dropdown{
    section{
        margin-bottom: 0px !important;
    }
}
::ng-deep .popup-container app-quick-add{
    section{
        margin: 0px 15px 40px 15px !important;
    }
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin-top: -1px;
    margin-right: 10px;
  }
  
  .color-1 {
    background-color: #aed68f;
  }
  
  .color-2 {
    background-color: #42834f;
  }
  
  .color-3 {
    background-color: #67c077;
  }
  
  .color-4 {
    background-color: #465e7b;
  }
  
  .color-5 {
    background-color: #1598cb;
  }
  .text-color-1 {
    color: #aed68f;
  }
  
  .text-color-2 {
    color: #42834f;
  }
  
  .text-color-3 {
    color: #67c077;
  }
  
  .text-color-4 {
    color: #465e7b;
  }
  
  .text-color-5 {
    color: #1598cb;
  }