<span class="screen-overlay"></span>
<section class="popup popup-create-portfolio">
  <section class="top">
    <div class="container">
      <app-portfolio-risk-score></app-portfolio-risk-score>
      <div>
        <input type="text" class="txt-portfolio-name" placeholder="Enter Portfolio Name"/>
      </div>
      <div>
        <app-dropdown></app-dropdown>
      </div>
      <div class="portfolio-group">
        <span>Portfolio Group:</span>
        <strong>Jennica Fernen Portfolios</strong>
      </div>  
    </div>
  </section>
  <section class="main">
    <section class="sidebar">
      <app-target-asset-allocation></app-target-asset-allocation>
    </section>
    <section class="content">
      <app-quick-add *ngIf="isEdit"></app-quick-add>
      <app-add-security [isEdit]="isEdit" (isEditEvent)="editEventReciever()"></app-add-security>
      <div class="error-messages">
        <app-error-line></app-error-line>
        <app-error-line></app-error-line>
      </div>
      <app-cancel-save *ngIf="!isEdit" [closeOnly]="true" [containerStyle]="'block'" (cancelEvent)="closeView()"></app-cancel-save>
      <app-cancel-save *ngIf="isEdit" [containerStyle]="'block'" (cancelEvent)="closeEdit()" (click)="saveEvent()">
        <div class="add-to-profile">
          <mat-checkbox></mat-checkbox>
          <span>Add to my profile group</span>
        </div>
      </app-cancel-save>
    </section>
  </section>
</section>
