<section class="import-accounts">
  <!-- <app-account-saved></app-account-saved> -->
    <div class="overlay"></div>
    
    <div class="box-container">
      <div class="box-content">
    
        <div class="box-head">
    
          <div class="left-section">
            <div class="box-title"><span class="text-title">Import Account</span><span class="text-subtitle">Select Accounts from List</span></div>
          </div>
    
          <div class="right-section">
            <div class="add-container"><i class="icon-add"></i><span class="text-add">Add Manually</span></div> 
          </div>
    
        </div>
    
        <div class="box-body">
    
          <div class="row-search">  
    
            <div class="left-section">
              <div class="text-search-container"><span class="text-search">Search In: </span></div>
              <div class="option"><mat-checkbox class="text-radio-button" (click)="active_tab=1">My Client Center</mat-checkbox><i class="icon-myclient"></i></div>
              <div class="option"><mat-checkbox class="text-radio-button" (click)="active_tab=2">Orion</mat-checkbox><i class="icon-orion"></i></div>
              <div class="option"><mat-checkbox class="text-radio-button" (click)="active_tab=3">Redtail</mat-checkbox><i class="icon-redtail"></i></div>
              <div class="option"><mat-checkbox class="text-radio-button" (click)="active_tab=3">Wealth Access</mat-checkbox><i class="icon-wealth"></i></div>
            </div>
    
            <div class="right-section">
              <div class="search-container">
                <input class="text-box" type="text" placeholder="Search Name or ID">
              </div>
            </div>
          </div>
    
          <div class="row-content">
    
            <div class="table-container">
              <table>
                <tr>
                  <th>Select</th>
                  <th><span>Account name</span><i class="icon-dropdown"></i></th>
                  <th><span>Added</span></th>
                  <th><span>Investment Group</span><i class="icon-dropdown"></i></th>
                  <th><span>Custodian</span><i class="icon-dropdown"></i></th>
                  <th><span>Account #</span><i class="icon-dropdown"></i></th>
                  <th><span>Account Type</span><i class="icon-dropdown"></i></th>
                  <th><span>Owner</span><i class="icon-dropdown"></i></th>
                  <th><span>Value</span><i class="icon-dropdown"></i></th>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-myclient"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-orion"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-redtail"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-wealth"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-orion"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
                <tr>
                  <td><mat-checkbox></mat-checkbox></td>
                  <td>Rhoades IRA</td>
                  <td><i class="icon-myclient"></i></td>
                  <td>ENV Account</td>
                  <td>Schwab</td>
                  <td>22345</td>
                  <td>IRA</td>
                  <td>Phillip Rhoades</td>
                  <td>$200,000.00</td>
                </tr>
              </table>
              <div class="row-3">
                <div class="btn-container">
                  <button class="btn-cancel" (click)="closeMe()"><span>Cancel</span></button>
                  <button class="btn-load"><span>Import</span></button>
                </div>
              </div>
            </div>
    
          </div>
    </div>
    </div>