<section class="import-accounts">
  <!-- <app-account-saved></app-account-saved> -->
    <div class="overlay"></div>
    
    <div class="box-container">
      <div class="box-content">
    
        <div class="box-head">
    
          <div class="left-section">
            <div class="box-title"><span class="text-title">Import Account</span><span class="text-subtitle">Select Accounts from List</span></div>
          </div>
    
          <div class="right-section">
            <a class="add-container" (click)="showAccountDetailsModal()">
              <i class="icon-add"></i>
              <span class="text-add">Add Manually</span>
            </a> 
          </div>
    
        </div>
    
        <div class="box-body">
    
          <div class="row-search">  
    
            <div class="left-section">
              <div class="text-search-container"><span class="text-search">Search In: </span></div>
              <div class="flex-inline">
                <div class="option left"><mat-checkbox  (click)="active_tab=1"></mat-checkbox><span class="text-radio-button">&nbsp;&nbsp;MyClient Center</span><i class="icon-myclient"></i></div>
                <div class="option right"><mat-checkbox  (click)="active_tab=2"></mat-checkbox><span class="text-radio-button">&nbsp;&nbsp;Orion</span><i class="icon-orion"></i></div>
              </div>
              <div class="flex-inline">
                <div class="option left"><mat-checkbox  (click)="active_tab=3"></mat-checkbox><span class="text-radio-button">&nbsp;&nbsp;Redtail</span><i class="icon-redtail"></i></div>
                <div class="option right" ><mat-checkbox  (click)="active_tab=3"></mat-checkbox><span class="text-radio-button">&nbsp;&nbsp;Wealth Access</span><i class="icon-wealth"></i></div>
              </div>
            </div>
    
            <div class="right-section">
              <div class="search-container">
                <input class="text-box" type="text" placeholder="Search Name or ID">
              </div>
            </div>
          </div>
    
          <div class="row-content">
    
            <div class="table-container">
              <table class="import-account-table">
                <thead>
                  <th>Select</th>
                  <th (click)="setOrder('account_name')" ><span>Account name</span><i [ngClass]="reverse && order == 'account_name' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th ><span>Added</span></th>
                  <th (click)="setOrder('group')" ><span>Investment Group</span><i [ngClass]="reverse && order == 'group' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th (click)="setOrder('custodian')" ><span>Custodian</span><i [ngClass]="reverse && order == 'custodian' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th (click)="setOrder('account')" ><span>Account #</span><i [ngClass]="reverse && order == 'account' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th (click)="setOrder('account_type')" ><span>Account Type</span><i [ngClass]="reverse && order == 'account_type' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th (click)="setOrder('owner')" ><span>Owner</span><i [ngClass]="reverse && order == 'owner' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                  <th (click)="setOrder('value')" ><span>($) Value</span><i [ngClass]="reverse && order == 'value' ? 'icon-up' : 'icon-down' " class="icon-dropdown "></i></th>
                </thead>
                <tbody class="search-results" infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)"
                (scrolledUp)="onUp($event)">
                <tr  *ngFor="let item of array | orderBy: order:reverse:'case-insensitive'; let i = index">
                  <td><mat-checkbox (change)="selectAccount($event)"></mat-checkbox></td>
                  <td>{{item.account_name}}</td>
                  <td><i class="icon-{{item.added}}"></i></td>
                  <td>{{item.group}}</td>
                  <td>{{item.custodian}}</td>
                  <td>{{item.account}}</td>
                  <td>{{item.account_type}}</td>
                  <td>{{item.owner}}</td>
                  <td>{{item.value}}</td>
                </tr>
              </tbody>
              </table>
              <div class="row-3">
                <div class="btn-container">
                  <button class="btn-cancel" (click)="closeMe()"><span>Cancel</span></button>
                  <button class="btn-load primary" [disabled]="selected_counter<1"><span>Import</span></button>
                </div>
              </div>
            </div>
    
          </div>
    </div>
    </div>