<nav class="navbar">
  <ul>
    <li>
      <a routerLink="" class="link-active">
        <img src="assets/component/sidebar/home/household-blue.png"
                  srcset="assets/component/sidebar/home/household-blue@2x.png 2x,
                          assets/component/sidebar/home/household-blue@3x.png 3x"
                   class="icon-active">
        <br>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/list-view" class="link-inactive">
        <img src="assets/component/sidebar/list-view/list-view-gray.png"
              srcset="assets/component/sidebar/list-view/list-view-gray@2x.png 2x,
                      assets/component/sidebar/list-view/list-view-gray@3x.png 3x"
              class="icon-inactive link-inactive">      
        <br>
        <span>View</span>
      </a>
    </li>
  </ul>
</nav>