.dropdown {
	height: 45px;
	border-radius: 6px;
	background-color: #ffffff;
	border:1px solid #e7e6e6;
	margin-bottom:10px;
	box-sizing: border-box;
	summary {
		cursor: pointer;
        position:relative;
        height: 47px;
        display:flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
		align-items: center;
		padding: 0px 15px;
        &::-webkit-details-marker { 
            display: none;
        }
        &:focus {
            outline: none;
        }
		.title {
			flex:1;
			color: #c5c5c5;
			* {
				display: block;
			}
			span {
				font-size: 12px;
			}
			strong {
				font-size: 10px;
				letter-spacing: 0.6px;
			}
		}
		.material-icons {
			right: 13px;
		}
		.icon-dropdown{
			width: 10px;
			height: 7px;
			content: url("../../../assets/arrow-down-gray.svg");
		}
	}

}