@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
$itemDivider: 1px solid #dedede;
$primaryFont: "Montserrat", sans-serif;
$secondaryFont: MuseoSans;

@mixin textStyle($color, 
       $font, $style, 
       $stretch, $size, 
       $weight, $align, 
       $line, $spacing){
    color: $color;
    font-family: $font;
    font-style: $style;
    font-stretch: $stretch;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    line-height: $line;
    letter-spacing: $spacing;  
}
@mixin info-item($top: null, $right: null, $bottom: null, $left: null){
    width: auto;
    height: auto;

    @if top != null and $right == null or $bottom == null or $left == null {
        padding-top: $top;
        padding-right: $top;
        padding-bottom: $top;
        padding-left: $top;
    }@else{
        padding-top: $top;
        padding-right: $right;
        padding-bottom: $bottom;
        padding-left: $left;
    }

    display: flex;
    color: #000000;
}
%grey-text{
    font-family: $primaryFont;
    font-weight: 0;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #77787b;
}
%grey-text-uppercase{
    font-family: $primaryFont;
    font-weight: 400;
    line-height: 1.5;
    color: #77787b;
    text-transform: uppercase;
}
.info-item{
    .icon-side{
        font-size: 8pt;
        padding-left:3px;
    }
    @include info-item(10px, 20px, 10px, 20px);    
    .item-one, .item-two{
        flex: 1;
        flex-direction: column;
            .item-two-amount, .item-two-date{
                text-align: right;
                font-size: 14px;
            }
            .item-two-amount{
                font-size: 9pt;
            }
            .item-two-date{
                font-size: 8pt;
            }
    }
    .item-one{
        font-size: 10pt;
    }
    &:nth-child(odd){
        border-bottom: $itemDivider;
        border-top: $itemDivider;
    }
    .item-top{
        flex: auto;
        font-family: $primaryFont;
        font-size: 12px;
        font-weight: 700;
        color: #414042;
        .grey-text{
        @extend %grey-text-uppercase;
        font-size: 7pt;
        }
    }
    .item-bottom{
        padding: 0;
        text-align: right;
        font-family: $primaryFont;
        font-size: 11px;
        color: #414042;
        font-weight: 600;
        .grey-text{
            @extend %grey-text;font-size: 7pt;
            display: flex;
            align-items: center;
            justify-content: flex-end}
    }
    .flex{
        display: flex;
    }
    .document-icon{
        display: flex;
        width: 30px;
        height: 27px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-right: 15px;

        img{width: 20px;}
    }
    .sub-text{
        @include textStyle(#77787b, $primaryFont, 
                    normal ,normal, 
                    10px, 300, none, 
                    1, 0.4px);
    }

    .status-text{
        @include textStyle(#414042, $secondaryFont, 
                    normal, normal, 
                    11px, 300, right, 
                    1, normal);
    }
}

@mixin textStyle($color, $style, 
       $stretch, $size, 
       $weight, $align, 
       $line, $spacing){
    color: $color;
    font-style: $style;
    font-stretch: $stretch;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    line-height: $line;
    letter-spacing: $spacing;  
}
.adjust-parameters{
  height:auto
  .container{
      height: auto;
      overflow: none;
  }
}
.vertical-align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.adjust-container{
    background: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .row-flex{
        display: flex;
        justify-content: space-between;
        .left-section{
            flex:1;
            padding-right: 20px;
        }
        .right-section{
            flex:1;
        }
    }
    .row:not(:first-child):not(:last-child){
        margin-top:10px;
    }
    .row:last-child{
        margin-top:40px;
    }
    div .dropdown-title{
        font-family: $primaryFont;
        font-size: 11px;
        font-weight: 700;
        color: rgba(80,80,80,1);
    }
    .dropdown{
        border: 1px #ddd solid;
        border-radius: 6px;
        padding: 15px 10px;
        background-color: white;
        font-family: $primaryFont;
        font-size: 13px;
        color: #ddd;
        margin-top: 5px;
        display: flex;
        align-items:center;
        justify-content: space-between;
        cursor: pointer;
    }
    .row{
        .icon-dropdown{
            width: 10px;
            content: url("/src/assets/component/household-list/arrow-gray.png");
        }
        .btn-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-apply{
                display:flex;
                font-weight: 700;
                align-items: center;
                border:none;
                background-color: #e6e6e6;
                padding: 15px 60px;
                color: #8b8b8b;
                width:auto;
                cursor: pointer;
                text-transform: uppercase;
            }
            .remove-tile{
                font-family: $primaryFont;
                text-transform: uppercase;
                color: #8b8b8b;
                font-weight: 700;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}

.space-between{
    display:flex;
    justify-content: space-between;
  }
.divider {
    width:100%;
    border:solid 0.5px #e7e6e6;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.recent-container {
	flex:1;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px){
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}
.title-proposal{
    padding: 20px;
    text-transform:uppercase;
    @include textStyle(#414042, normal, normal, 18px, 600, center, 0.94, 1.4px);

        p{margin: 5px}
        .hide-show{
            @include textStyle(#c5c5c5, normal, normal, 10px, 600, none, 1, 0.9px);
            margin: 0 auto;
        }
        a{
            cursor: pointer;
        }
        .span-hide-show{
            position: relative;
            top: -5px;
            left: 5px;
            text-transform: uppercase;
            
        }
        .icon-font-size{
            font-size: 12pt;
        }
}
.container-analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 767px){flex-direction: column;padding: 5px;}
}