@mixin textStyle($color, $style, 
       $stretch, $size, 
       $weight, $align, 
       $line, $spacing){
    color: $color;
    font-style: $style;
    font-stretch: $stretch;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    line-height: $line;
    letter-spacing: $spacing;  
}
.divider {
    width:100%;
    border:solid 0.5px #e7e6e6;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.recent-container {
	flex:1;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 767px){
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
}
.title-proposal{
    padding: 20px;
    text-transform:uppercase;
    @include textStyle(#414042, normal, normal, 18px, 600, center, 0.94, 1.4px);

        p{margin: 5px}
        .hide-show{
            @include textStyle(#c5c5c5, normal, normal, 10px, 600, none, 1, 0.9px);
            margin: 0 auto;
        }
        a{
            cursor: pointer;
        }
        .span-hide-show{
            position: relative;
            top: -5px;
            left: 5px;
            text-transform: uppercase;
            
        }
        .icon-font-size{
            font-size: 12pt;
        }
}