
<div class="assumption-container">
    <div class="right-side-container">
    <div class="page-container flex">
      <div class="page flex">
        <div class="main">
          <div class="title-container"> 
            <div class="title">
              <span class="subtitle"> Portfolio Gap Analysis</span>
              <br/>
              <span class="title-name">Appendix</span>
            </div>
          </div>
          <div class="heading">
              <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Assumption</span></div></div>
            <div class="table-info"> <span>Historical returns are based on the following asset class return assumptions.</span> </div>
          </div>
            <div class="table-container"> 
                <table class="table">
                    <thead>
                      <tr>
                        <th>Asset Class</th>
                        <th>Indexes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                    </tbody>
                  </table>
            </div></div>
            <div class="footer-container">
                <div class="divider"></div>
                <div class="footer flex">
                  
                  <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
                <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 21 of 27 </span></div>
                </div></div>
    </div>
  </div> 
  
  <div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Assumption</span><span class="heading-subtitle">Continued</span></div></div>
          <div class="table-info"> <span>Historical returns are based on the following asset class return assumptions.</span> </div>
        </div>
          <div class="table-container"> 
              <table class="table">
                  <thead>
                    <tr>
                      <th>Asset Class</th>
                      <th>Indexes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                  </tbody>
                </table>
          </div>
      </div>
          <div class="footer-container">
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 21 of 27 </span></div>
        </div></div>

  </div>
</div> 

<div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Glossary</span></div></div>
        </div>
        <div class="test">
           
        </div>
          <div class="footer-container">
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 21 of 27 </span></div>
        </div></div>

  </div>
</div> 
</div>
<div class="button-container page-space">
    <div class="btn-update"> <button class="update"> update documents </button> </div>
    <div class="btn-save"> <button class="save"> save documents </button> </div>
  </div>
</div>

</div>
