
<div class="assumption-container">
  <div class="assumption-content">
    <div class="right-side-container">
    <div class="page-container flex">
      <div class="page flex">
        <div class="main">
          <div class="title-container"> 
            <div class="title">
              <span class="subtitle"> Portfolio Gap Analysis</span>
              <br/>
              <span class="title-name">Appendix</span>
            </div>
          </div>
          <div class="heading">
              <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Assumption</span></div></div>
            <div class="table-info"> <span>Historical returns are based on the following asset class return assumptions.</span> </div>
          </div>
            <div class="table-container"> 
                <table class="table">
                    <thead>
                      <tr>
                        <th>Asset Class</th>
                        <th>Indexes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                        <tr>
                          <td>Cash & Cash Alternatives</td>
                          <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                        </tr>
                    </tbody>
                  </table>
            </div></div>
            <div class="footer-container">
                <div class="divider"></div>
                <div class="footer flex">
                  
                  <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
                <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 21 of 27 </span></div>
                </div></div>
    </div>
  </div> 
  
  <div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Assumption</span><span class="heading-subtitle">Continued</span></div></div>
          <div class="table-info"> <span>Historical returns are based on the following asset class return assumptions.</span> </div>
        </div>
          <div class="table-container"> 
              <table class="table">
                  <thead>
                    <tr>
                      <th>Asset Class</th>
                      <th>Indexes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                      <td>Cash & Cash Alternatives</td>
                      <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                    </tr>
                    <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                      <tr>
                        <td>Cash & Cash Alternatives</td>
                        <td>IA SBBI US 30 Day TBill TR USD (1972-1977). BofAML US Treasury Bill 3 Mon TR USD (1978-2016)</td>
                      </tr>
                  </tbody>
                </table>
          </div>
      </div>
          <div class="footer-container">
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 22 of 27 </span></div>
        </div></div>

  </div>
</div> 

<div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Glossary</span></div></div>
        </div>
        <div class="test">
           <div class="column-container">
             <div class="column">
                <div class="flex-box">
                    <div class="title-section"> <span class="space-top">Asset Allocation</span></div>
                    <div class="description-section"><span class="space-top">The weights given to asset classes (fixed income, domestic stocks, international stocks, etc.) across an investor's portfolio which is determined by their willingness and ability to take risk. </span> </div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Asset Class</div>
                    <div class="description-section">An investment category such as fixed income, domestic stocks, or international stocks.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Cash Efficiency</div>
                    <div class="description-section">The portion of managed funds that is currently held in cash and cash equivalents.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Coupon</div>
                    <div class="description-section">The interest rate stated on a bond when it's issued.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Duration</div>
                    <div class="description-section">A measure of sensitivity if the price of fixed income security to change in interest rates.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Efficient Range</div>
                    <div class="description-section">The boundary at which an investor can maximize their return for a given amount of risk. Return is measured by the total return (interest, dividends, and appreciation) of a portfolio and risk is measured by standard deviation which is a measure of volatility.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Equity</div>
                    <div class="description-section">An ownership interest. In the context, a stock or collection of stocks.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Fixed Income</div>
                    <div class="description-section">A debt/loan investment that returns a fixed income or interest payment. <br/> In the context, a bond or collection of bonds.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Gap</div>
                    <div class="description-section">The absolute difference between two figures. </div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Maturity</div>
                    <div class="description-section">The time remaining on the life of bond</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Monte Carlo Simulation</div>
                    <div class="description-section">A tool used to approximate the probability of outcomes for a portfolio.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Portfolio</div>
                    <div class="description-section">The collection of investments held by an investor oftentimes across multiple investment accounts</div>
                </div>
                <div class="flex-box">
                    <div class="title-section space-bottom" ><span class="space-bottom"> Potential Gap</span></div>
                    <div class="description-section space-bottom"> <span class="space-bottom">A signat that the difference between an element of the current portfolio and recommended portfolio are significant and could potentially present a deficiency in the current portfolio.</span></div>
                </div>
                
             </div>
          </div>
        </div>
          <div class="footer-container">
              <div class="desciption-bottom"><span></span></div>
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 24 of 27 </span></div>
        </div></div>

  </div>
</div> 
</div>

<div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Glossary</span></div></div>
        </div>
        <div class="test">
           <div class="column-container">
             <div class="column">
                <div class="flex-box">
                    <div class="title-section space-top" ><span class="space-top"> Quality</span></div>
                    <div class="description-section space-top"><span class="space-top"> Credit quality refers to the reliability of a bond. Higher quality bonds have a low likelihood of defaulting on their debt where low quality bonds are riskier, and have a relatively higher probability of default. </span></div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Proxy</div>
                    <div class="description-section">An index or alternate holding used in place of an investment to mimic the performance, risk, and other characteristics of the investment for analysis purposes.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Overlap</div>
                    <div class="description-section">The portion of managed funds that is currently held in cash and cash equivalents.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">REIT</div>
                    <div class="description-section">The interest rate stated on a bond when it's issued.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Risk Tolerance</div>
                    <div class="description-section">A measure of sensitivity if the price of fixed income security to change in interest rates.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">S&P 500</div>
                    <div class="description-section">The boundary at which an investor can maximize their return for a given amount of risk. Return is measured by the total return (interest, dividends, and appreciation) of a portfolio and risk is measured by standard deviation which is a measure of volatility.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Security</div>
                    <div class="description-section">An ownership interest. In the context, a stock or collection of stocks.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section" > Sharpe Ratio</div>
                    <div class="description-section">A measurement of the tradeoff between risk and return. The calculation is as follows: <br/><br/> Formula <br/><br/> R: the return on the asset (or portfolio). <br/><br/> RFR: The risk free rate (for the analysis the risk free rate used is the historical return on 3 Month US treasury Bills).<br/><br/> o: The standard deviation of the asset. <br/> The calculated number can be translated as the amount of return per unit of risk.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section space-bottom" ><span class="space-bottom"> Style </span></div>
                    <div class="description-section space-bottom"><span class="space-bottom">The asset class exposure of a stock, bond, or mutual fund. For example, Google's stock style is Large Growth, meaning that it is grouped into the asset class of large companies that experience relatively higher growth. </span></div>
                </div>
              </div>
          </div>
        </div>
          <div class="footer-container">
            <div class="desciption-bottom"><span>Materials prodived to approved advisors by LWI Financial Inc. ('Loring Ward') is an investment adviser registered with the Securities <br/> and Exchange Commission.. Security transactions may be offered through Loring Ward Securities Inc., an affliate.</span></div>
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 25 of 27 </span></div>
        </div></div>

  </div>
</div> 
</div>

<div class="page-container flex page-space">
    <div class="page">
      <div class="main">
        <div class="title-container"> 
          <div class="title">
            <span class="subtitle"> Portfolio Gap Analysis</span>
            <br/>
            <span class="title-name">Appendix</span>
          </div>
        </div>
        <div class="heading">
         <div class="heading-title-container"><div class="heading-title"> <span class="heading-name">Glossary</span></div></div>
        </div>
        <div class="test">
           <div class="column-container">
             <div class="column">
                <div class="flex-box">
                    <div class="title-section space-top" ><span class="space-top"> Style Drift</span></div>
                    <div class="description-section space-top"><span class="space-top"> The tendency for some actively managed funds to drift from their stated style</span></div>
                </div>
                <div class="flex-box">
                    <div class="title-section"> Systematic Risk</div>
                    <div class="description-section">The risk inherent in the market which is unable to be reduced by diversification.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section">Turnover</div>
                    <div class="description-section">The amount of change in portfolio holdings in a year. This is primarily due to buying and selling holding to change fund exposure, or to sell out of positions to meet investor redemptions.</div>
                </div>
                <div class="flex-box">
                    <div class="title-section space-bottom" ><span class="space-bottom"> Unsystematic Risk </span></div>
                    <div class="description-section space-bottom"><span class="space-bottom">Portfolio risk that can be reduced through proper diversification.</span></div>
                </div>
              </div>
          </div>
        </div>
          <div class="footer-container">
            <div class="desciption-bottom"><span>LWI Financial Inc. ('Loring Ward') Securities offered through Loring Ward Securities Inc. member FINRA/SIPC B 11-084 (12/18).</span></div>
        <div class="divider"></div>
        <div class="footer flex">
          
          <div class="left-side"> Prepared for: Chris and Kristy Candelaria | 04/02/2018</div>
        <div class="right-side"> Prepared by: Chris Candelaira | <span class="page-text"> Page 26 of 27 </span></div>
        </div></div>

      </div>
    </div> 
  </div>
</div>
    <div class="button-container page-space">
      <div class="btn-content">
        <div class="btn-update"> <button class="update"> update documents </button> </div>
        <div class="btn-save"> <button class="save"><i class="icon-save"></i> save documents </button> </div>
      </div>
    </div>
  </div>
</div>
