<section class="popup-custom-asset-class">
  <div class="popup-custom">
    <div class="top">
      <div class="search-container"><input type="text" class="search" placeholder="Search"></div>
      <div class="btn-container"><button class="btn-custom" (click)="setModalStatus(true)">Custom Asset Class</button></div>
    </div>
    <ul class="assets">
      <li><a>Cash & Cash Alternatives</a></li>
      <li><a>Cash & Cash Alternatives</a></li>
      <li><a>U.S. Short Government Bonds</a></li>
      <li><a>U.S. Short Investment Grade Bonds</a></li>
      <li><a>U.S. Government Bonds</a></li>
      <li><a>U.S. Invesment Grade Bonds</a></li>
      <li><a>U.S. Long Government Bonds</a></li>
      <li><a>U.S. Long Credit Bonds</a></li>
      <li><a>Global Short Bonds</a></li>
      <li><a>Global Bonds</a></li>
      <li><a>Municipal Bonds</a></li>
      <li><a>U.S. High-Yield Bonds</a></li>
      <li><a>U.S. Inflation-Protected Bonds</a></li>
      <li><a>U.S. Stocks</a></li>
    </ul>
  </div>
</section>