.popup-custom{
    position: absolute;
    width: auto;
    display:flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
    border-radius: 6px;
    .top{
        display:flex;
        flex-direction: column;
        padding: 10px;
        .search-container{
            display:flex;
            input[type=text]{
                flex: 1;
                border: 1px #ddd solid;
                border-radius: 6px;
                padding:10px 10px 10px 35px;
                font-family: 'Montserrat', sans-serif;
                font-size:10px;
                background: url('../../../assets/component/listview/search-gray.png') no-repeat 9px 7px;
                background-size: 15px;
            }
        }
        .btn-container{
            display:flex;
            .btn-custom{
                flex: 1;
                margin-top: 10px;
                background-color: #1598cb;
                text-transform: uppercase;
                color:white;
                height:auto;
                font-size:10px;
                padding: 10px 20px;
            }
        }
    }
    .assets{
        margin:0;
        padding:0;
        list-style:none;
        li{
            border-top:1px #ddd solid;
            a{
                padding:5px 10px;
                font-family:'Montserrat', sans-serif;
                font-size:10px;
                font-weight: 400;
                color: rgba(64, 64, 64, 1);
            }
        }
    }
}