<section class="popup-custom-asset-class">
  <div class="popup-custom">
    <div class="top">
      <div class="search-container"><input type="text" class="search" placeholder="Search"></div>
      <div class="btn-container"><button class="btn-custom">Custom Asset Class</button></div>
    </div>
    <div class="assets">
      <div><span> Cash & Cash Alternatives</span></div>
      <div><span> Cash & Cash Alternatives</span></div>
      <div><span> U.S. Short Government Bonds</span></div>
      <div><span> U.S. Short Investment Grade Bonds</span></div>
      <div><span> U.S. Government Bonds</span></div>
      <div><span> U.S. Invesment Grade Bonds</span></div>
      <div><span> U.S. Long Government Bonds</span></div>
      <div><span> U.S. Long Credit Bonds</span></div>
      <div><span> Global Short Bonds</span></div>
      <div><span> Global Bonds</span></div>
      <div><span> Municipal Bonds</span></div>
      <div><span> U.S. High-Yield Bonds</span></div>
      <div><span> U.S. Inflation-Protected Bonds</span></div>
      <div><span> U.S. Stocks</span></div>
    </div>
  </div>
</section>