<div class="select-advisor-container">
    <div class="text-container" >
      <div class="text-top">
        <span class="text-normal">Creating On Behalf Of: </span>
        <span class="text-normal strong">Kim Mackrill</span>
      </div>
      <div class="text-bottom">
        <span class="text-title">EMAIL: </span> <span class="text-small">kimmackrill@bamfinancial.com</span>
        <span class="text-title" style="padding-left:30px">Login Code: </span><span class="text-small">705_KM16</span>
      </div>
    </div>
    <div>
      <button class="btn-select">
        <span class="btn-text">Select New Advisor</span>
      </button>
    </div>
</div>