<div class="document-preview-header">
  <div class="document-title">
    <h3>Chris & Kristy Retirement Proposal</h3>
    <p>Chris_&_Kristy_Retirement_Proposal</p>
  </div>
  <div class="document-paging">
    <input type="text"><span> / 35</span>
  </div>
  <div class="document-controls">
    <div class="btn-group plus-minus">
      <button>+</button>
      <button>-</button>
    </div>
    <div class="btn-group">
      <div class="btn-group portrait">
        <button><mat-radio-button></mat-radio-button>Portrait</button>
        <button><mat-radio-button></mat-radio-button>Landscape</button>
      </div>
    </div>
  </div>
</div>