<div class="document-preview-header">
  <div class="document-title">
    <h3>Chris & Kristy Retirement Proposal</h3>
    <p>Chris_&_Kristy_Retirement_Proposal</p>
  </div>
  <div class="document-paging">
    <input type="text"><span> / 35</span>
  </div>
  <div class="document-controls">
    <div class="btn-group plus-minus">
      <button>+</button>
      <button>-</button>
    </div>
    <div class="btn-group">
      <div class="btn-group portrait">
        <button><mat-radio-button></mat-radio-button>Portrait</button>
        <button><mat-radio-button></mat-radio-button>Landscape</button>
      </div>
    </div>
  </div>
</div>
<div class="document-preview-container">
  <div class="container-box">
    <div class="logo-holder"> 
      <img src="../../../assets/loring-ward-color.png">
    </div>
    <div class="banner">
      <div class="banner-text">
        <h2>Chris and Kristy Candelaria</h2>
        <div>
          <h3>April 02, 2018</h3>
          <div>
            <span class="light-weight">Prepared by:</span>
            <span>Christ Candelaria</span>
            <span>Financial Consultant</span>
          </div>
          <div class="margin-top">
            <span>8003667266</span>
            <span>CCandelaria@loringward.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="caption">
      <p>
        Materials provided to approved advisors by LWI Financial Inc. (Loring Ward).
        Loring Ward is an investment adviser registered with the Securities
        and Exchange Commission Securities transactions may be offered through Loring Ward
        Securities Inc.m and affiliate Member FINRA/SIPC.
      </p>
    </div>
  </div>
  <div class="container-box">
    
  </div>
  <div class="container-box">
    
  </div>
  <div class="container-box">
    
  </div>
  <div class="container-box">
    
  </div>
  <div class="container-box">
    
  </div>
</div>