.document-preview-header{
    padding: 20px 0 20px 0;
    box-shadow: 0 0 12px 0 rgba(65, 64, 66, 0.2);
    background-color: #ffffff;

    display: flex;
    justify-content: space-between;

    .document-title{
        h3{
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #414042;
            margin: 0;
        }

        p{
            font-family: MuseoSans;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: normal;
            color: #77787b;
            margin: 0;
        }
    }

    .document-paging{
        input[type=text]{
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border: 1px solid #cacaca;
        }
    }

    .document-controls{
        display: flex;

        .btn-group{
            &.plus-minus{
                padding-top: 10px;

                button{
                    width: 27px;
                    height: 27px;
                    box-shadow: 0 1px 4px 0 rgba(65, 64, 66, 0.2);
                    background-color: #ffffff;
                    border-radius: 100%;
                    color: #dedede;
                    border: none;
                    margin-right: 10px;
                }
            }

            &.portrait{
                button{
                    width: 142px;
                    height: 45px;
                    border-radius: 6px;
                    background-color: #ffffff;
                    border: 1px solid #dedede;
                    margin-right: 10px;                    
                }
            }
        }    
      
    }
}

.document-preview-container{
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    flex-wrap: wrap;

    .container-box{
        position: relative;
        height: 883px;
        width: calc(100vw - 400px);
        // border-radius: 7.7px;
        box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2);
        background-color: #ffffff;
        margin: 10px 0 0 0;
        padding: 40px;

        .logo-holder{
            display: flex;
            justify-content: flex-start;
            width: 300px;
            height: 70px;
            overflow: hidden;

            img{
                width: 250px;
            }
        }

        .banner{
            width: 100%;
            height: 400px;
            margin: 20px 0 0 0;
            background-image: linear-gradient(to left, #4db6c5, #1598cb);
            color: #ffffff;

            .banner-text{
                padding: 60px;

                h2{
                    font-size: 35pt;
                    font-family: Montserrat;
                    width: fit-content;
                    border-bottom: 2px solid #dedede;
                }

                h3{
                    font-size: 20pt;
                    font-family: Montserrat;
                    font-weight: 200;
                }

                span{
                    display: block;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 10pt;

                    &.light-weight{
                        font-weight: 100;
                    }

                }

                .margin-top{
                    margin: 20px 0 0 0;

                    span{
                        font-weight: 100;
                    }
                }
            }
        }

        .caption{
            position: absolute;
            bottom: 40px;

            p{
                font-size: 10pt;
                color: #c5c5c5;
            }
        }
    }
}