<span class="screen-overlay"></span>
<section class="asset-class">
<div class="screen-container">
    <div class="modal-container">
  
      <div class="modal-content">
  
        <div class="row-1">
          <div class="col-1">
            <span class="text-title">Custom Asset Class</span>
            <span class="text-subtitle">SA US Core Market Select</span>
            <span class="text-subtitle-2">TICKER: FOOOOOOYDC6</span>
          </div>
        </div>
        <div class="row-2">
          <div class="left-section">
            <div class="box">
              <div class="box-head">
                <span class="box-head-title">Morningstar Information</span>
              </div>
              <div class="box-body">
                <div class="row">
                <span (click)="viewDetailEvent()"> View Morningstar Allocation Details</span>
                <span> Morningstar Category</span>
                <span>Large Value</span>
                </div>
                <div class="box-container">
                    <div class="left-box">
                        <span class="box-title">Equity Style</span>
                        <table class="box-4-4">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Large</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Mid</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Small</td>
                          </tr>
                          <tr>
                            <td>Value</td>
                            <td>Blend</td>
                            <td>Growth</td>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                      <div class="right-box">
                        <span class="box-title">Fixed Income Style</span>
                        <table class="box-4-4">
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Large</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Mid</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Small</td>
                          </tr>
                          <tr>
                            <td>Value</td>
                            <td>Blend</td>
                            <td>Growth</td>
                            <td></td>
                          </tr>
                        </table>
                      </div>  
                  </div>
                </div>
              </div>
            </div>
              

          <div class="right-section">
            <div class="title-container">
              <span class="title">Distribute by Asset Class:</span>
              <span class="subtitle">Enter the % of this asset that is invested in each asset class. The total must equal 100%.</span>
            </div>
            <div class="asset-class-box">
              <div class="asset-class-content">
              <div class="column-1">
                <div class="asset"><span class="asset-title">Cash & Cash Alternatives</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">Short Term Fixed Income</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Short Government Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Short Investment Grade Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Government Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Investment Grade Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Long Government Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Long Credit</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">Global Short Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">Global Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">Munincipal Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. High-Yield Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                <div class="asset"><span class="asset-title">U.S. Inflation-Protected Bonds</span><input type="text" placeholder="%" class="asset-percent-box"></div>
              </div>
              <div class="column-2">
                  <div class="asset"><span class="asset-title">U.S. Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Large Value Stocks</span><input type="text" placeholder="100%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Large Neutral Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Large Growth Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Small Value Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Small Neutral Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Small Growth Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. Microcap Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Large Value Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Large Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Large Neutral Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Large Growth Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Small Value Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
              </div>
              <div class="column-3">
                  <div class="asset"><span class="asset-title">International Small Neutral Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">International Small Growth Stocks</span><input type="text" placeholder="100%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Emerging Market Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">U.S. REITs</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Commodities</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Other</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Conservative</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Moderate</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Aggressive</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Global Developed Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Global Stocks</span><input type="text" placeholder="%" class="asset-percent-box"></div>
                  <div class="asset"><span class="asset-title">Unclassified</span><input type="text" placeholder="%" class="asset-percent-box"></div>
              </div>
            </div>
            <div class="asset-class-footer">
              <span class="text-total">Total</span><span class="total-value">100%</span>
            </div>
          </div>
        </div>
      </div>
        <div class="btn-container">
          <button class="btn-close" (click)="cancelEvent()">Close</button>
          <button class="btn-save">Save</button>
        </div>
      </div>
  
    </div>
  </div>

</section>










  