<div class="tab-title-mobile">
  <div><span class="title-text-mobile"> Risk Assessment </span></div>
</div>
<div class="container-box">
  <div class="container-tab">
    <div class="content">
      <div class="assessment-front" *ngIf="step==1">
        <div>
          <h2>Risk Assessment Questionnaire</h2>
        </div>
        <div class="btn-container">
          <button (click)="openQuestionnaire()">TAKE QUESTIONNAIRE</button>
          <button (click)="openRiskSendForm()">SEND QUESTIONNAIRE</button>
          <button (click)="moveTo(2)">SELECT TARGET RISK</button>
        </div>
        <div class="copy-link">
          <a (click)="moveTo(3)"><i class="icon-link"></i>Copy Questionnaire Link</a>
        </div>
      </div>
      <div class="selected-assessed" *ngIf="step==2">
        <div class="overlay" *ngIf="!enableRight"></div>
        <div class="assessed-left">
          <div>
            <h3>Select Assessed Target Risk:</h3>
          </div>
          <div>
            <div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Defensive</p><span>Risk Score Range: <b>1-14</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Conservative</p><span>Risk Score Range: <b>15-29</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Balanced</p><span>Risk Score Range: <b>30-43</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Moderate</p><span>Risk Score Range: <b>44-57</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Moderate Growth</p><span>Risk Score Range: <b>58-71</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Capital Appreciation</p><span>Risk Score Range: <b>72-86</b></span></div>
              </div>
              <div class="radio-container">
                <mat-radio-button (click)="enableRight=true"></mat-radio-button>
                <div class="checkbox-label">
                  <p>Equity</p><span>Risk Score Range: <b>87-100</b></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="assessed-right">
          <div class="article-container">
            <mat-checkbox (change)="toggleBtnConfirmEnable($event);"></mat-checkbox>
            <article>
              <section>
                By submitting this risk assessment, I confirm that I am the client's investment adviser and have determined the assessment's suitability given the client's stated risk/reward profile, or that I have provided documentation to Loring Ward that reflects the assessment's suitability given the client's stated risk/reward profile.
                <br/>
                <br/> By directly submitting the above-listed assessment or directing Loring Ward to submit the above-listed assessment, I confirm that have records to demonstrate, that the above-listed assessment is suitable. I also confirm I have an existing business relationship with the client. Based upon knowledge gained through this relationship and documentation contained in the client file, I affirm the client's suitability information to be accurate. I understand that Loring Ward may request additional client information prior to investing the account.
              </section>
            </article>
          </div>
          <div class="btn-container">
            <button class="btn-cancel">Cancel</button>
            <button class="btn-cancel" (click)="btnTargetRiskConfirm()" [ngClass]="{'primary' : enableBtnConfirm}">Confirm</button>
          </div>
        </div>
      </div>
      <div class="assessment-confirmation" *ngIf="step==3">
        <div class="box-message">
          <div>
            <p>Status:</p>
            <h3>Copied Risk Assessment Questionnaire Link By:</h3>
            <h4>Jennica Fermen</h4>
          </div>
          <div>
            <p>Date Copied: <b><span>9/20/2018</span></b></p>
          </div>
          <div>
            <button (click)="moveTo(1)">Re-Take Questionnaire</button>
          </div>
        </div>
      </div>
      <div class="assessment-confirmation" *ngIf="step==4">
        <div class="box-message">
          <div>
            <p>Status:</p>
            <h3>Copied Risk Assessment Questionnaire Sent To:</h3>
            <h4>Jennica Fermen</h4>
            <span>(ccandelaria@loringward.com)</span>
          </div>
          <div>
            <p>Date Sent: <b><span>9/20/2018</span></b></p>
            <p>Date Completed: <b><span>N/A</span></b></p>
          </div>
          <div>
            <button (click)="moveTo(1)">Re-Take Questionnaire</button>
          </div>
        </div>
      </div>
      <div class="assessment-result" *ngIf="step==5">
        <!--*ngIf="result"-->
        <div class="container-left">
          <div>
            <h3>Your Assessed Target Risk Type: Capital Appreciation</h3></div>
          <div class="left-section">
            <article>
              A Capital Appreciation target risk describes an investor that seeks long-term growth. These investors are interested in maximizing their investment’s growth potential and they are willing to assume a high level of ups and downs in portfolio value to potentially achieve greater returns. These investors should have a long-term investment horizon, typically 15 years or more, to recover from potential market declines.
            </article>
            <div class="graph-container"><img class="graph-1"></div>
          </div>
          <div></div>
        </div>
        <div class="container-right">
          <div class="container">
            <div class="item">
              <div class="item-box assessed-color">
                <div class="box-header">Assessed Risk Score</div>
                <div class="box-content">
                  <div class="score score-color ">
                    74 - 86
                  </div>
                  <div class="score-state">
                    Capital Appreciation
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="item-box current-color">
                <div class="box-header">Current Portfolio Score</div>
                <div class="box-content">
                  <div class="score  state-color">
                    87
                  </div>
                  <div class="score-state">
                    EQUITY
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="assessment-complete-container">
              <div class="assessment-complete">
                <div class="box-message-container">
                  <div class="box-message">
                    <div>
                      <p>Status:</p>
                      <h3>Copied Risk Assessment Questionnaire Link By:</h3>
                      <h4>Jennica Fermen</h4>
                    </div>
                    <div>
                      <p>Date Copied: <b><span>9/20/2018</span></b></p>
                      <p>View Results</p>
                    </div>
                    <div class="btn-container">
                      <button (click)="moveTo(1)">Re-Take Questionnaire</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
