.dropdown-update-account {
  border-radius: 6px;
  border: solid 1px #c5c5c5;
  background-color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.9px;
  color: #77787b;
  position: absolute;
  cursor: pointer;
  summary {
    display: flex;
    justify-content: center;
    width: 233px;
    height: 45px;
    text-transform: uppercase;

    .item {
      font-weight: 600;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  }
  .item {
    display: flex;
    padding: 10px;
    font-weight: 300;
    border-top: 1px solid #eee;
  }
  .item:first-child {
    border-top: none;
  } 
  &[open] {}
  .icon-expand{
    width: 10px;
    height: 7px;
    content: url("/src/assets/component/accounts/arrow-gray.png");
  }
  .icon-renew{
    width: 20px;
    height: 20px;
    content: url("/src/assets/component/accounts/update-gray.png");
  }

} 