<section class="dropdown-update-account">
  <details #details>
    <summary>
      <div class="item" *ngIf="type=='proposal'">
        <i class="icon-renew"></i>
        <span class="title-update">Update Account</span>
        <i class="icon-expand">expand_more</i>
      </div>
      <div class="item" *ngIf="type=='simulation-goal'">
        <span class="title-goal">{{selected_title}}</span>
        <i class="icon-expand"></i>
      </div>

    </summary>
    <ng-container *ngIf="type=='proposal'">
      <a class="item" (click)="chooseEvent('Update prices only', this)">Update prices only</a>
      <a class="item">Update price &amp; positions</a>
    </ng-container>
    <ng-container *ngIf="type=='simulation-goal'">
      <a class="item" (click)="chooseEvent('Retirement')" *ngIf="selected_title!='Retirement'">Retirement</a>
      <a class="item" (click)="chooseEvent('Long-Term Growth')" *ngIf="selected_title!='Long-Term Growth'">Long-Term Growth</a>
      <a class="item" (click)="chooseEvent('Major Purchase')" *ngIf="selected_title!='Major Purchase'">Major Purchase</a>
      <a class="item" (click)="chooseEvent('Fund Education')" *ngIf="selected_title!='Fund Education'">Fund Education</a>
      <a class="item" (click)="chooseEvent('Preserve My Savings')" *ngIf="selected_title!='Preserve My Savings'">Preserve My Savings</a>
    </ng-container>
  </details>
</section>
