/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #fafbfc;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-tab-label{
    flex: 1;
}
.mat-tab-labels{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(132, 126, 126, 0.87);
   
}

.mat-tab-label{
    // box-shadow: inset 0 0 20px 2px rgba(65, 64, 66, 0.18);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: #c5c5c5;
}

.mat-tab-label:nth-child(even){
    border-left: 1px solid rgba(65, 64, 66, 0.18);
    border-right: 1px solid rgba(65, 64, 66, 0.18);
}

.mat-tab-label-active{
    box-shadow: 0 0 20px 2px rgba(65, 64, 66, 0.18);
    background-color: #ffffff;
}

.mat-ink-bar{
    display: none;
}

.mat-checkbox-inner-container {
    height: 20px;
    width: 20px;
    
    
    .mat-checkbox-frame{
        border-radius: 3px;
        box-shadow: inset 0 1px 2px 0 rgba(52, 53, 52, 0.2);
        border: solid 0.5px #c5c5c5;
        background-color: #ffffff;
    }

    input:checked ~.mat-checkbox-background{
        background-color: #1598cb;
    }

    .mat-checkbox-ripple{
        display: none;
    }
    
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(66, 134, 244);
  }

  .mat-radio-container .mat-radio-outer-circle {
    border: solid 0.5px #c5c5c5;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple{
      display: none;
  }

  

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(66, 134, 244);
  }
