/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,600,700,800,900');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: #fafbfc;
}
*:focus {
    outline:none;
}
html, body { height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;     scroll-behavior: smooth;}
body { margin: 0; font-family: 'Montserrat', sans-serif; }
a {
    cursor: pointer;
}
.mat-tab-label{
    flex: 1;
}
.mat-tab-labels{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(132, 126, 126, 0.87);
}

.mat-tab-label{
    // box-shadow: inset 0 0 20px 2px rgba(65, 64, 66, 0.18);
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: #c5c5c5;
    text-transform: uppercase;
}
.mat-tab-label:not(:first-child){
    border-right: 0.5px solid #e7e6e6;
}
.mat-tab-label:first-child{
    border-top-left-radius: 6px;
}
.mat-tab-label:last-child{
    border-top-right-radius: 6px;
}
.mat-tab-label-active{
    box-shadow: 0 15px 40px 0 rgba(65, 64, 66, 0.2) !important;
    
    background-color: white;
    color: #1598cb;
    border-right: none !important;
    border-left: none !important;
}
.mat-ink-bar{
    display: none;
}
.mat-checkbox {
    margin-right: 10px;
    width:20px;
    height:20px;
}
.mat-checkbox-inner-container {
    height: 20px !important;
    width: 20px !important;
    .mat-checkbox-frame{
        border-radius: 3px;
        box-shadow: inset 0 1px 2px 0 rgba(52, 53, 52, 0.2);
        border: solid 0.5px #c5c5c5;
        background-color: #ffffff;
    }

    input:checked ~.mat-checkbox-background{
        background-color: #1598cb;
    }

    .mat-checkbox-ripple{
        display: none;
    }
    
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #fff;
  }

  .mat-radio-container .mat-radio-outer-circle {
    border: solid 0.5px #c5c5c5;
  }

  .mat-radio-button.mat-accent .mat-radio-ripple{
      display: none;
  }

  

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: transparent;
    background-color: #1598cb;
  }



/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background:#fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    
    height: 100px;
    opacity: 0.4;
    border-radius: 5px;
    background-color: #c5c5c5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

// global styles
// input types
// input[type="text"] {
//     border-radius: 6px;
//     background-color: #ffffff;
//     font-size: 14px;
//     color: #c5c5c5;
//     font-family: museo-sans;
//     font-size: 14px;
//     height: 45px;
//     line-height:45px;
//     font-weight: 300;
//     border: 1px solid #e7e6e6;
//     box-sizing: border-box;
//     padding: 15px;
//     margin-bottom: 10px;
// }

details{
    summary {
        &::-webkit-details-marker { 
            display: none;
        }
    }
}

.fade{
    background-color: #ffffffb8;
}

.btn-cancel{
    width: 160px;
    height: 45px;
    border-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #808284;
    border: none;
    text-transform: uppercase;
}

.icon-circle-add{
    content: url('./assets/component/home/add-blue@3x.png');
}

.popup {
    box-sizing: border-box;
    padding:40px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 15px 30px 0 rgba(65, 64, 66, 0.2);
}
textarea {
    padding: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    height: 140px;
    box-sizing: border-box;
    border:#e7e6e6 1px solid;
}
button {
    border-radius: 6px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 600;   
    color: #808284;
    width: 217px;
    height: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 0;
    &:hover {
        border-color:#808284;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.2) !important;
    }
    &.primary {
        background:#1598cb;
        color:#fff;
        * {
           color:#fff; 
        }
        &:hover {
            
        }
        &[disabled] {
            border: solid 1px #1598cb !important;    
            color: #1598cb;
        }
    }
    &.secondary {
        border: solid 1px #ffffff;
        background-color: #ffffff;
        box-shadow: 0 1px 6px 0 rgba(65, 64, 66, 0.18);
        color:#808284;
    }
    &[disabled] {
        background-color: #ffffff !important;
        color: #1598cb !important;
        cursor: not-allowed !important;
        border: solid 1px #ffffff;
        * {
            color: #1598cb !important;
        }
    }
}
main {
    display:flex;
    flex-direction: row;
    @media only screen and (max-width: 767px){
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: 100%;
    }
    > .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        @media only screen and (max-width: 767px){
            align-items: center;
        }
    }
}
app-sidebar {
    background: #fff;
}


.mat-tab-body-wrapper {
    position:initial !important;
    overflow: initial !important;
}
.mat-tab-body.mat-tab-body-active {
    overflow: initial !important;
}
.screen-overlay {
    background:#fff;
    opacity:0.8;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1;
}

input:focus,
i:focus, button:focus, div:focus{
    outline:none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/** =============================================================================
    Modal
    ========================================================================== */

/** =============================================================================
    =Modal
    ========================================================================== */

#modal-box {
    display: none;
    position: fixed;
    top: 120px;
    left: 50%;
    z-index: 1040;
    width: 80%;
    min-height: 100px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 23px 0 rgba(0,0,0,.1), 0 2px 49px 0 rgba(0,0,0,.06);
    box-shadow: 0 2px 23px 0 rgba(0,0,0,.1), 0 2px 49px 0 rgba(0,0,0,.06);
    transform: translateX(-50%);
}
#modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
#modal-box.active,
#modal-overlay.active {
    display: block;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.global-popup {
    position: absolute;
    align-items: center;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    left:0;
    top:0;
}

#chartjs-tooltip {
    padding: 0 !important;
    border-radius: 3px;
    box-shadow: 0 0 40px 0 rgba(65, 64, 66, 0.3);
    background-color: #ffffff;
    box-sizing: border-box;
    z-index:99;
    font-size: 11px;
    margin-top: -32px;
    margin-left: 25px;
    .predict-decrease {
        color:#ED7963;
        strong {
            &:before {
                content: url("./assets/component/questionnaire/predict-decrease.png");
                position: relative;
                margin-left: 5px;
                margin-right: 10px;
            }    
        }
        
    }
    .predict-increase {
        color:#67C072;
        strong {
            &:before {
                content: url("./assets/component/questionnaire/predict-increase.png");
                position: relative;
                margin-left: 15px;
                margin-right: 10px;
            }    
        }
    }
}
#chartjs-tooltip {
    * {
        box-sizing: border-box;
        line-height: 2;
    }
    .tri {
        position:absolute;
        left:-10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 15px 12.5px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .custom-tooltip {
        padding: 20px;
        color:red;
        font-family: 'Montserrat', sans-serif;
    }
}
#simulation-line-chart-tooltip {
    border-left: 1px dashed #aed68f;
    padding-left: 20px !important;
    z-index: 99;
    * {
        box-sizing: border-box;
        line-height: 2;
    }
    .tri {
        position:absolute;
        left:-12px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12.5px 15px 12.5px 0;
        border-color: transparent #ffffff transparent transparent;
    }
    .s-custom-tooltip {
        position: relative;
        color: #414042;
        padding: 15px 20px;
        font-family: 'Montserrat', sans-serif;
        font-size:10px;
        background: #fff;
        box-shadow: 0 0 34px rgba(0,0,0,0.1);
        border-radius: 10px;
    }
    .year {font-size:12px;}
    .pb {
        display: flex;
        align-items: center;
        &:before {
            content:' ';
            width: 10px;
            height:10px;
            position:relative;
            background: #67c072;
            float: left;
            border-radius: 100%;
            margin-right: 7px;
        }
    }
    .cu {
        display: flex;
        align-items: center;
        &:before {
            margin-left: -4px;
            content: url("./assets/cone-icon.jpg");
            width: 20px;
            height: 20px;
            position:relative;
        }
    }
}
// for global dropzone 
.dz-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span {display: none;}
}
.dz-preview {
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #eee;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    * {display: none;}
    .dz-image {
        display: block;
        * {
            display: block;
        }
    }
}