<div class="container-searchbar">
	<div class="triangle-up"></div>
	<div class="searchbar-header">
		<div class="header-content">
			<i class="material-icons">search</i>
			<span>Items with Can</span>
			<div class="circle-close">
				<i class="material-icons icon">close</i>
			</div>		
		</div>
	</div>
	<div class="searchbar-content">
		<div class="content-block">
			<div class="block-title">
				<span>Household</span>
			</div>
			<div class="block-content">
				<div class="content-items"><span>Candelaria Household</span></div>
				<div class="content-items"><span>Candelaria Household</span></div>
				<div class="content-items"><span>Candelaria Household</span></div>
			</div>
			<div class="content-show-more"><span>Show More Household</span></div>
		</div>

		<div class="content-block">
			<div class="block-title">
				<span>Proposal</span>
			</div>
			<div class="block-content">
				<div class="content-items">
					<span>Candelaria Proposal</span>
					<span class="subitem">Candelaria Household</span>
				</div>
				<div class="content-items">
					<span>Candelaria Proposal</span>
					<span class="subitem">Candelaria Household</span>
				</div>
				<div class="content-items">
					<span>Candelaria Proposal</span>
					<span class="subitem">Candelaria Household</span>
				</div>
			</div>
			<div class="content-show-more"><span>Show More Proposal</span></div>
		</div>

		<div class="content-block">
			<div class="block-title">
				<span>Documents</span>
			</div>
			<div class="block-content">
				<div class="content-items">
					<div>
						<div class="document-icon">
							<img src="./../assets/component/household/documents-bundle.png"/>
						</div>
					</div>
					<div>
						<span>Candelaria IPS</span>
						<span class="subitem">Chris & Kristy Retirement Proposals</span>
					</div>
				</div>
				<div class="content-items">
					<div>
						<div class="document-icon">
							<img src="./../assets/component/household/documents-bundle.png"/>
						</div>
					</div>
					<div>
						<span>Candelaria IPS</span>
						<span class="subitem">Chris & Kristy Retirement Proposals</span>
					</div>
				</div>
				<div class="content-items">
					<div>
						<div class="document-icon">
							<img src="./../assets/component/household/documents-bundle.png"/>
						</div>
					</div>
					<div>
						<span>Candelaria IPS</span>
						<span class="subitem">Chris & Kristy Retirement Proposals</span>
					</div>
				</div>
			</div>
			<div class="content-show-more"><span>Show More Documents</span></div>
		</div>
	</div>	
</div>