<div class="support-container" >
    <div class="container flex">
    <div class="content-container">
        <div class="box-1-container">
          <div class="box-head"><span class="header-title">Regional Support Manager</span></div>
          <div class="box-body"> 
              <div class="content-box">
               <div class="profile-box">
                 <div class="profile-pic-container">
                  <img class="profile-pic" src="../../assets/sample-image.jpg">
                 </div>
                 <div class="profile-info">
                  <span class="name">
                    Jared Frazier
                  </span><br/><br/>
                  <span class="title">
                    Email
                  </span><br/>
                  <span class="title-info">
                    jfrazier@loringward.support.com
                  </span><br/><br/>
                  <span class="title">
                    Phone:
                  </span><br/>
                  <span class="title-info">
                    (402) 123-9847
                  </span>
                  
                 </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    </div>
    </div>