<section class="dropdown-actions">
    <details>
      <summary>
        <span class="title" >Actions</span>
        <i class="icon-dropdown"></i>
      </summary>
      <ul>
        <li *ngIf="add_proposal" >
          <a (click)="viewFunc()">
            <span class="title">Add Proposal</span>
            <i class="icon proposal-gray"></i>
          </a>
        </li>
        <li *ngIf="change_portfolio" >
          <a (click)="modifyFunc()">
            <span class="title">Change Portfolio</span>
            <i class="icon change-gray"></i>
          </a>
        </li>
        <li *ngIf="change_archive" >
          <a (click)="modifyFunc()">
            <span class="title">Archive/ Un-archive</span>
            <i class="icon archived-gray"></i>
          </a>
        </li>
        <li *ngIf="duplicate" >
            <a (click)="modifyFunc()">
              <span class="title">Duplicate</span>
              <i class="icon proposal-gray"></i>
            </a>
          </li>
        <li *ngIf="delete" >
          <a>
            <span class="title">Delete</span>
            <i class="icon delete-gray"></i>
          </a>
        </li>
      </ul>
    </details>
</section>



