$primaryColor: #ffffff;
$itemDivider: 1px solid #dedede;
$itemFontSize: 9pt;
$btnFontSize: 10pt;
$primaryfont: "montserrat", sans-serif;
%container-attr {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 12px 0 rgba(64, 64, 65, 0.2);
    color: $primaryColor;

    @media screen and(max-width: 767px) {
        margin: 10px auto;
        max-width: 370px;
    }
}

%header-title {
    display: inline-block;
    font-size: 18.8px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    font-family: $primaryfont;
    padding: 10px;
}

%container-info {
    width: 100%;
    color: #222;
    background-color: $primaryColor;
    margin: auto;
}

%grey-text-uppercase {
    font-weight: 0;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #77787b;
    text-transform: $btnFontSize;
}
%grey-text {
    font-weight: 0;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #77787b;
}
@mixin info-item($top: null, $right: null, $bottom: null, $left: null) {
    width: auto;
    height: 47px;

    @if top !=null and $right==null or $bottom==null or $left==null {
        padding-right: $top;
        padding-left: $top;
    } @else {
        padding-right: $right;
        padding-left: $left;
    }
    display: flex;
    color: red !important;
}

@mixin textStyle(
    $color,
    $style,
    $stretch,
    $size,
    $weight,
    $align,
    $line,
    $spacing
) {
    color: $color;
    font-style: $style;
    font-stretch: $stretch;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    line-height: $line;
    letter-spacing: $spacing;
}

.dash-box {
    position: relative;
    box-sizing: border-box;
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .add-container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        position: absolute;
        z-index: 50;
        color: blue;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        top: 0;
        width: 100%;
        height: 100%;
        a {
            cursor: pointer;
            display: inline-block;
        }
    }
    .add-box-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-big-add {
        width: 60px;
        height: 60px;
        content: url("../../../assets/icons/add.svg");
    }
    .text-add{
        color: #1598cb;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
    .box-head-title {
        font-family: $primaryfont;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }
    .sub {
        font-family: $primaryfont;
        font-size: 13px;
        font-weight: 500;
        margin-top: -1px;
    }
    .box-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 20px;
        background-color: #1598cb;

        span.btn {
            cursor: pointer;
            align-items: center;
            display: flex;
            background: transparent;
            border: none;
            outline: none;
            color: $primaryColor;
            text-transform: uppercase;
            font-size: $btnFontSize;
            font-weight: 500;
            font-family: $primaryfont;
            .icon-title {
                margin-left: 6px;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
                margin-top: 1px;
                font-family: $primaryfont;
            }
            .icon-add {
                width: 20px;
                content: url('../../../assets/icons/add-white.svg');
            }
            span {
                font-size: 8pt;
                margin: 0;
                font-weight: 100;
                letter-spacing: 1px;
            }
        }
    }
    @extend %container-attr;

    .container-info {
        @extend %container-info;

        .info-item {
            @include info-item(10px, 20px, 10px, 20px);
            .item-one,
            .item-two {
                flex: 1;
                flex-direction: column;
                .item-two-amount,
                .item-two-date {
                    text-align: right;
                    font-size: $itemFontSize;
                }
                .item-two-amount {
                    font-size: 9pt;
                }
                .item-two-date {
                    font-size: 8pt;
                }
            }
            .item-one {
                font-size: 10pt;
            }
        }
        > .info-item:last-child {
            border-bottom: 0;
        }
    }
}
.icon-menu{
    width: 20px;
    height: 20px;
    content: url("../../../assets/icons/expand.svg");
}