<div class="dash-box" [ngClass]="{'new' : isNew}">
    <div *ngIf="isNew" class="add-container flex">
        <div class="flex-1" style="margin-top: 50px;">
            <a (click)="showModalHousehold()"><i class="icon-big-add"></i></a>
        </div>
        <div class="flex-1">
            <span class="text-add">{{addLabel}} </span>
        </div>
    </div>


    <div class="box-head">
        <div>
            <span class="box-head-title">{{title}} <span class="sub" *ngIf="subTitle">{{subTitle}}</span></span>
        </div>

        <div class="btn-right-space">
            <span class="btn" *ngIf="headerRightType=='add'" (click)="showModalHousehold()">
                <i class="icon-add"></i>
                <span class="icon-title">Add</span>
            </span>

            <div class="box-checkbox" *ngIf="headerRightType=='select'">
                <mat-checkbox></mat-checkbox>
            </div>
            <div class="box-checkbox" *ngIf="headerRightType=='action'">
                <i class="icon-menu"></i>
            </div>
        </div>
    </div>
    <div class="container-info">
        <ng-content *ngIf="!isNew"></ng-content>
    </div>
</div>